.city-overview {
  padding: 40px 10px;
  [class^='ui-g'] {
    padding: 0;
  }
  .title {
    background: #f0f0f0;
    font-weight: bold;
  }
  .content {
    border: 1px solid #797979;
    line-height: 35px;
    height: 40px;
    text-align: center;
    word-break: break-all;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  a {
    color: #3399ff;
  }
}

.main {
  left: 120px;
}
