<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <button pButton type="button" label="执法事务统计" [routerLink]="['../affair']" routerLinkActive="link-active"></button>
    </div>

  </div>
</div>
<div class="main">
  <div class="ui-g-12 content card">
    <div style="min-width:400px;">
      <h3>协同事务统计</h3>
      <div class="ui-g-12 ui-xl-6">
        <label for="" class="search-label text-right">区域选择：</label>
        <p-dropdown [options]="regionList" [(ngModel)]="selectedRegionId" [style]="{'width':'210px'}"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-xl-6">
        <label for="" class="search-label text-right">时间：</label>
        <p-dropdown [options]="deliveryDateRange" [(ngModel)]="selectedDateRange" [style]="{'width':'210px'}"></p-dropdown>
      </div>
      <button class="ui-g-12" class="searchBtn" pButton type="button" label="查询" (click)="getAffairStatistic()"></button>

      <p-dataTable [value]="affairStatistics" [styleClass]="'ui-lg-12 ui-xl-8'" [loading]="loading" emptyMessage="未查询到数据">

        <p-column field="name" header="政府部门名称" [style]="{'width':'20%'}"></p-column>
        <p-column field="totalCount" header="一般事务">
          <ng-template let-countyCylinder="rowData" pTemplate="body">
            {{ countyCylinder?.emergencyDegreeFirst || 0 }}
          </ng-template>
        </p-column>
        <p-column field="totalCount" header="重要事务">
          <ng-template let-countyCylinder="rowData" pTemplate="body">
            {{ countyCylinder?.emergencyDegreeSecond || 0 }}
          </ng-template>
        </p-column>
        <p-column field="totalCount" header="紧急事务">
          <ng-template let-countyCylinder="rowData" pTemplate="body">
            {{ countyCylinder?.emergencyDegreeThird || 0 }}
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

</div>
