<div class="add-affairs ui-g-12">
  <form *ngIf="!IE9">
    <h2>执法事务录入</h2>
    <div class="ui-g">
      <div class="ui-g-8 ui-g form-group">
        <div class="title ui-g-12 ui-lg-3">
          <label for="" style="width:130px;display:inline-block">
            <span class="warn">*</span>事务处理对象：
          </label>
          <gas-explanation tooltip="发生的事件和哪个对象有关系" position="bottom"></gas-explanation>
        </div>
        <div class="ui-g-9 ui-g">
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=1 label="储配站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=2 label="供应站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=3 label="送气工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=5 label="押送工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12" *ngIf="formModel.objType===1">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>储配站：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入储配站名称"
            (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[1].field}}">
          </p-autoComplete>
        </div>
      </div>

      <div class="form-group ui-g-12" *ngIf="formModel.objType===2">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>供应站：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入供应站名称"
            (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[2].field}}">
          </p-autoComplete>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===3">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>送气工：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="2"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入送气工姓名"
            (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[3].field}}">
            <ng-template let-value pTemplate="item">
              <span>
                {{value.dispatcherName}}---{{value.dispatcherNumber}}
                <br> {{value.enterpriseName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===5">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>押送工：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="2"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入押送工姓名"
            (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[5].field}}">
            <ng-template let-value pTemplate="item">
              <span>
                {{value.gcCarrierName}}---{{value.gcCarrierId}}
                <br> {{value.enterpriseName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>巡查时间：</label>
        <div class="ui-g-10">
          <p-calendar [(ngModel)]="formModel.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
            [locale]="zh" [showIcon]="false" name="time" hourFormat="24" [showOtherMonths]="false" [stepMinute]="10" placeholder="请输入巡查时间"
            [maxDate]="currentDate" [showButtonBar]="true" [showTime]="true"></p-calendar>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务来源：
        </label>
        <div class="ui-g-10">
          <p-dropdown [options]="dropdown.origin" [(ngModel)]="formModel.originId" name="origin" [style]="{'width':'170px'}"></p-dropdown>
          <gas-explanation tooltip="事件来源的渠道（有群众举报，巡查发现）" position="bottom"></gas-explanation>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>所在区域：</label>
        <div class="ui-g-10">
          <p-dropdown [options]="dropdown.region" [(ngModel)]="formModel.regionId" name="region" [style]="{'width':'170px'}"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务地点：
        </label>
        <div class="ui-g-10">
          <input maxlength="250" type="text" pInputText [(ngModel)]="formModel.address" name="address" />
          <gas-explanation tooltip="该事件发生的地点位置" position="bottom"></gas-explanation>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12 affair-type">
        <label for="inputEmail3" class="ui-g-12 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务类别：
          <gas-explanation tooltip="事务处理的方式" position="bottom"></gas-explanation>
        </label>
        <div class="checkbox-container ui-g-12">
          <div class="checkbox ui-g-3" *ngFor="let item of dropdown.affairsType">
            <label>
              <p-radioButton name="affairType" [value]="item.value" [label]="item.label" [(ngModel)]="formModel.affairType" (click)="onAffairTypeChange()"></p-radioButton>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>描述：
        </label>
        <div class="ui-g-10">
          <input maxlength="250" type="text" pInputText [(ngModel)]="formModel.describe" name="describe" />
          <gas-explanation tooltip="对该事件的发生原因的说明" position="bottom"></gas-explanation>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          &nbsp;&nbsp;附件：</label>
        <div class="ui-g-10">
          <input maxlength="250" type="file" #file name="file">
        </div>
      </div>
    </div>

    <!-- 业务协同（如果事务类别是【交办】那么业务协同将会是必填项） -->
    <div class="ui-g optional" *ngIf="formModel.affairType === 2">
      <div class="ui-g-12 group ui-g-nopad">
        <h3>
          <span class="warn">*</span>业务协同
          <gas-explanation tooltip="选择其他部门或企业去去处理该事件" position="bottom"></gas-explanation>
        </h3>
        <div class="form-group ui-g-6 affair-type">
          <label for="inputEmail3" class="ui-g-3 control-label" style="width:130px;display:inline-block">
            协同部门：
          </label>
          <div class="ui-g-9">
            <p-multiSelect [options]="multiSelect.department" [(ngModel)]="formModel.helpDepartment" name="department" optionLabel="userName"
              [style]="{'width':'100%'}" defaultLabel="点击选择协同部门" maxSelectedLabels="1" selectedItemsLabel="已经选择了{0}个协同部门" [showToggleAll]="false"></p-multiSelect>
          </div>

          <div class="form-group ui-g-12" *ngFor="let item of formModel.helpDepartment; let i=index">
            <label class="ui-g-6 control-label" title="{{item.userName}}">
              {{item.userName}}：</label>
            <div class="ui-g-5">
              <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                [locale]="zh" [showIcon]="false" name="{{'helpDepartmentTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate" [showButtonBar]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group ui-g-6 affair-type">
          <label for="inputEmail3" class="ui-g-3 control-label" style="width:130px;display:inline-block">
            协同企业：
          </label>
          <div class="ui-g-9">
            <p-multiSelect [options]="multiSelect.company" [(ngModel)]="formModel.helpCompany" name="company" optionLabel="enterpriseName"
              [style]="{'width':'100%'}" defaultLabel="点击选择协同企业" maxSelectedLabels="1" selectedItemsLabel="已经选择了{0}个协同企业" [showToggleAll]="false"></p-multiSelect>
          </div>

          <div class="form-group ui-g-12" *ngFor="let item of formModel.helpCompany;let i = index;">
            <label class="ui-g-6 control-label" title="{{item.enterpriseName}}">
              {{item.enterpriseName}}：</label>
            <div class="ui-g-5">
              <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                [locale]="zh" [showIcon]="false" name="{{'helpCompanyTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate" [showButtonBar]="true"></p-calendar>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group ui-g-12">
      <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
        紧急程度：</label>
      <div class="ui-g-10">
        <p-dropdown [options]="dropdown.level" [(ngModel)]="formModel.level" name="level" [style]="{'width':'170px'}"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12 dialog-footer text-center">
      <button pButton type="button" class="ui-button-primery" label="确认" (click)="onSubmit(file)" [disabled]="disabledSubmitBtn"></button>
      <button pButton type="button" class="ui-button-primery" label="重置" (click)="onReset(file)"></button>
    </div>

  </form>
  <form *ngIf="IE9" #IEform id="" action="{{redirectUrl}}" method="POST" enctype="multipart/form-data" ngNoForm>
    <h2>执法事务录入</h2>
    <div class="ui-g">
      <div class="ui-g-8 ui-g form-group">
        <div class="title ui-g-12 ui-lg-3">
          <label for="" style="width:130px;display:inline-block">
            <span class="warn">*</span>事务处理对象：
          </label>
          <gas-explanation tooltip="发生的事件和哪个对象有关系" position="bottom"></gas-explanation>
        </div>
        <div class="ui-g-9 ui-g">
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="transactionHandleType" [value]=1 label="储配站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="transactionHandleType" [value]=2 label="供应站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="transactionHandleType" [value]=3 label="送气工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="transactionHandleType" [value]=5 label="押送工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <input style="display:none" #hidden name="transactionHandleNumber">
      <div class="form-group ui-g-12" *ngIf="formModel.objType===1">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>储配站：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" placeholder="请输入储配站名称" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[1].field}}">
          </p-autoComplete>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===2">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>供应站：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" placeholder="请输入供应站名称" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[2].field}}">
          </p-autoComplete>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===3">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>送气工：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="2"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" placeholder="请输入送气工姓名" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[3].field}}">
            <ng-template let-value pTemplate="item">
              <span>
                {{value.dispatcherName}}---{{value.dispatcherNumber}}
                <br> {{value.enterpriseName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===5">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>押送工：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="2"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" placeholder="请输入押送工姓名" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[5].field}}">
            <ng-template let-value pTemplate="item">
              <span>
                {{value.gcCarrierName}}---{{value.gcCarrierId}}
                <br> {{value.enterpriseName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>巡查时间：</label>
        <div class="ui-g-10">
          <input #InspectionTime name="transactionPatrolTime" style="display:none">
          <p-calendar [(ngModel)]="formModel.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
            [locale]="zh" [showIcon]="false" name="transactionPatrolTime" hourFormat="24" [showOtherMonths]="false" [stepMinute]="10"
            placeholder="请输入巡查时间" [maxDate]="currentDate" [showButtonBar]="true" [showTime]="true"></p-calendar>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务来源：
        </label>
        <div class="ui-g-10">
          <p-dropdown [options]="dropdown.origin" [(ngModel)]="formModel.originId" name="transactionSource" [style]="{'width':'170px'}"></p-dropdown>
          <gas-explanation tooltip="事件来源的渠道（有群众举报，巡查发现）" position="bottom"></gas-explanation>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>所在区域：</label>
        <div class="ui-g-10">
          <p-dropdown [options]="dropdown.region" [(ngModel)]="formModel.regionId" name="transactionRegionId" [style]="{'width':'170px'}"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务地点：
        </label>
        <div class="ui-g-10">
          <input type="text" pInputText [(ngModel)]="formModel.address" name="transactionAddress" />
          <gas-explanation tooltip="该事件发生的地点位置" position="bottom"></gas-explanation>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12 affair-type">
        <label for="inputEmail3" class="ui-g-12 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务类别：
          <gas-explanation tooltip="事务处理的方式" position="bottom"></gas-explanation>
        </label>
        <div class="checkbox-container ui-g-12">
          <div class="checkbox ui-g-3" *ngFor="let item of dropdown.affairsType">
            <label>
              <p-radioButton name="transactionTypeId" [value]="item.value" [label]="item.label" [(ngModel)]="formModel.affairType" (click)="onAffairTypeChange()"></p-radioButton>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>描述：
        </label>
        <div class="ui-g-10">
          <input type="text" pInputText [(ngModel)]="formModel.describe" name="description" />
          <gas-explanation tooltip="对该事件的发生原因的说明" position="bottom"></gas-explanation>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          &nbsp;&nbsp;附件：</label>
        <div class="ui-g-10">
          <input type="file" #file name="cylinderImage">
        </div>
      </div>
    </div>

    <!-- 业务协同（如果事务类别是【交办】那么业务协同将会是必填项） -->
    <div class="ui-g optional" *ngIf="formModel.affairType === 2">
      <div class="ui-g-12 group ui-g-nopad">
        <h3>
          <span class="warn">*</span>业务协同
          <gas-explanation tooltip="选择其他部门或企业去去处理该事件" position="bottom"></gas-explanation>
        </h3>
        <div class="form-group ui-g-6 affair-type">
          <label for="inputEmail3" class="ui-g-3 control-label" style="width:130px;display:inline-block">
            协同部门：
          </label>
          <div class="ui-g-9">
            <input style="display: none" name="">
            <p-multiSelect [options]="multiSelect.department" [(ngModel)]="formModel.helpDepartment" name="department" optionLabel="userName"
              [style]="{'width':'100%'}" defaultLabel="点击选择协同部门" maxSelectedLabels="1" selectedItemsLabel="已经选择了{0}个协同部门" [showToggleAll]="false"></p-multiSelect>
          </div>

          <div class="form-group ui-g-12" *ngFor="let item of formModel.helpDepartment; let i=index">
            <label class="ui-g-6 control-label" title="{{item.userName}}">
              {{item.userName}}：</label>
            <div class="ui-g-5">
              <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                [locale]="zh" [showIcon]="false" name="{{'helpDepartmentTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate" [showButtonBar]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group ui-g-6 affair-type">
          <label for="inputEmail3" class="ui-g-3 control-label" style="width:130px;display:inline-block">
            协同企业：
          </label>
          <div class="ui-g-9">
            <p-multiSelect [options]="multiSelect.company" [(ngModel)]="formModel.helpCompany" name="company" optionLabel="enterpriseName"
              [style]="{'width':'100%'}" defaultLabel="点击选择协同企业" maxSelectedLabels="1" selectedItemsLabel="已经选择了{0}个协同企业" [showToggleAll]="false"></p-multiSelect>
          </div>

          <div class="form-group ui-g-12" *ngFor="let item of formModel.helpCompany;let i = index;">
            <label class="ui-g-6 control-label" title="{{item.enterpriseName}}">
              {{item.enterpriseName}}：</label>
            <div class="ui-g-5">
              <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                [locale]="zh" [showIcon]="false" name="{{'helpCompanyTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate" [showButtonBar]="true"></p-calendar>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group ui-g-12">
      <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
        紧急程度：</label>
      <div class="ui-g-10">
        <p-dropdown [options]="dropdown.level" [(ngModel)]="formModel.level" name="emergencyDegree" [style]="{'width':'170px'}"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12 dialog-footer text-center">
      <button pButton type="button" class="ui-button-primery" label="确认" (click)="IESubmit(this.form)" [disabled]="disabledSubmitBtn"></button>
      <button pButton type="button" class="ui-button-primery" label="重置" (click)="onReset(file)"></button>
    </div>
  </form>
</div>