<div class="collaborative-detail">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <span class="ui-g-6 content title">操作</span>
      <span class="ui-g-6 content">
        <button pButton type="button" label="返回" class="ui-button-info" (click)="history.go(-1)"></button>
        <button pButton type="button" label="撤销" class="ui-button-danger" (click)="onDestroy()" *ngIf="details.boolIsRelate"></button>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title">事件编号</span>
      <span class="ui-g-6 content" title="{{details.transactionBasicNumber}}">{{details.transactionBasicNumber}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">巡查时间</span>
      <span class="ui-g-6 content">{{details.transactionPatrolTime | date:'yyyy-MM-dd'}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">描述</span>
      <span class="ui-g-6 content" title="{{details.description}}">{{details.description}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">地点</span>
      <span class="ui-g-6 content" title="{{details.transactionAddress}}">{{details.transactionAddress}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">事务处理对象</span>
      <span class="ui-g-6 content" title="{{details.transactionHandleName}}">{{details.transactionHandleName}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">发起时间</span>
      <span class="ui-g-6 content">{{details.createTime | date:"yyyy-MM-dd"}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">发起部门</span>
      <span class="ui-g-6 content" title="{{details.transactionOrganizationName}}">{{details.transactionOrganizationName}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title">发起人</span>
      <span class="ui-g-6 content" title="{{details.transactionUserName}}">{{details.transactionUserName}}</span>
    </div>
    <div class="ui-g-12">
      <span class="ui-g-2 content title">附件</span>
      <span class="ui-g-10 content" title="{{details.url}}" *ngIf="details.url!==''">
        <a href="javascript:void(0);" (click)="window.location.href=details.url">点击预览</a>
      </span>
      <span class="ui-g-10 content" *ngIf="details.url===''">
         没有附件
      </span>
    </div>
    <div class="ui-g-12">
      <span class="ui-g-2 content title">事务类别</span>
      <span class="ui-g-10 content" title="{{details.transactionTypeList}}">
        <span>{{details.transactionTypeList}}</span>
      </span>
    </div>
  </div>
  <div class="ui-g-12 dashed-border">
    <div class="ui-g-12">
      <h2>协同状况</h2>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <span class="ui-g-4 content title">处理情况</span>
        <span class="ui-g-8 content" title="{{details.boolIsHandle}}">{{details.boolIsHandle?'正在处理':'处理完成'}}</span>
      </div>
      <div class="ui-g-3">
        <span class="ui-g-4 content title">紧急程度</span>
        <span class="ui-g-8 content" title="{{details.emergencyDegree}}">{{getAffairLevel(details.emergencyDegree)}}</span>
      </div>
    </div>

    <!-- 需要处理的节点 -->

    <div class="node-handle" [hidden]="!treeNode.needHandle">
      <div class="ui-g-12">
        <h2>需处理节点</h2>
      </div>
      <div class="ui-g-10">
        <div class="ui-g-4">
          <span class="ui-g-6 content title">来源部门</span>
          <span class="ui-g-6 content">{{treeNode.needHandle?.transactionOrganizationName}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title">处理时间</span>
          <span class="ui-g-6 content">{{treeNode.needHandle?.endTime | date:"yyyy-MM-dd"}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title">截止时间</span>
          <span class="ui-g-6 content">{{treeNode.needHandle?.expirationDate | date:"yyyy-MM-dd"}}</span>
        </div>
        <div class="ui-g-12">
          <span class="ui-g-2 content title">说明</span>
          <span class="ui-g-10 content">
            没有附件<span></span>
            <a href="javascript:void(0);">{{treeNode.needHandle?.url}}</a>
          </span>
        </div>
      </div>
      <form class="ui-g-12">
        <div class="ui-g-12">
          <div class="ui-g-12 has-multiSelect">
            <div class="ui-g-4 form-group">
              <label for="" class="ui-g-4">操作：</label>
              <div class="ui-g-4">
                <p-radioButton name="role" [value]=false label="处理" [(ngModel)]="formModel.boolIsReject" (onClick)="handleTypeChange(file)"></p-radioButton>
              </div>
              <div class="ui-g-4">
                <p-radioButton name="role" [value]=true label="回退" [(ngModel)]="formModel.boolIsReject" (onClick)="handleTypeChange(file)"></p-radioButton>
              </div>
            </div>
            <div class="ui-g-4" [hidden]="formModel.boolIsReject">
              <input type="file" #file name="file">
            </div>
            <div class="ui-g-3 form-group" [hidden]="formModel.boolIsReject">
              <div class="ui-g-12">
                <p-multiSelect [options]="multiSelectOptions" [(ngModel)]="formModel.shiftList" name="shiftList"
                 optionLabel="organizationName" [style]="{'width':'100%'}" defaultLabel="点击选择协同部门" maxSelectedLabels="1" 
                 selectedItemsLabel="已经选择了{0}个协同部门" [showToggleAll]="false"></p-multiSelect>
              </div>
            </div>
          </div>
          <div class="ui-g-12" [hidden]="formModel.boolIsReject">
            <div class="form-group ui-g-6" *ngFor="let item of formModel.shiftList; let i=index">
              <label class="ui-g-6 control-label" title="{{item.organizationName}}">
                {{item.organizationName}}：</label>
              <div class="ui-g-5">
                <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                  [locale]="zh" [showIcon]="false" name="{{'helpDepartmentTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                  [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate" [showButtonBar]="true"></p-calendar>
              </div>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-8 form-group ">
              <label for="inputEmail3" class="ui-g-3 control-label">
                <span class="warn">*</span>说明：</label>
              <div class="ui-g-9">
                <input type="text" pInputText [(ngModel)]="formModel.explain" name="address" />
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <button pButton type="button" label="提交协同" class="ui-button-info" (click)="onSubmit(file)"></button>
        </div>
      </form>
    </div>

    <!-- 部门回复类 -->

    <div class="ui-g-12 node-reply">
      <div class="ui-g-12">
        <h2>部门回复状况：</h2>
      </div>
      <div class="ui-g-10 node-reply" *ngFor="let item of treeNode.replyInfo">
        <div class="ui-g-4">
          <span class="ui-g-6 content title">部门</span>
          <span class="ui-g-6 content" title="{{item.eventHandleOrganizationName}}">{{item.eventHandleOrganizationName}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title">处理时间</span>
          <span class="ui-g-6 content" title="{{item.expirationDate}}">{{item.expirationDate| date:"yyyy-MM-dd"}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title">处理人</span>
          <span class="ui-g-6 content" title="{{item.eventHandleName}}">{{item.eventHandleName}}</span>
        </div>
        <div class="ui-g-8">
          <span class="ui-g-3 content title">说明</span>
          <span class="ui-g-9 content" title="{{item.description}}">{{item.description}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title">附件</span>
          <a href="javascript:void(0);" class="ui-g-6 content" (click)="window.location.href=item.url" *ngIf="item.url">
            点击预览
          </a>
          <span *ngIf="!item.url" class="ui-g-6 content">无</span>
        </div>
      </div>
    </div>

    <!-- 事务节点树 -->

    <div class="ui-g-12 dashed-border tree-node">
      <p-tree [value]="treeNode.data" layout="horizontal" selectionMode="single" [(selection)]="treeNode.selectObj"
      icon="fa-folder"></p-tree>
    </div>
    <!-- <div class="ui-g-12 bottom">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <span class="ui-g-4 content title">部门</span>
          <span class="ui-g-8 content" title="{{treeNode.selectInfo.eventHandleOrganizationName}}">{{treeNode.selectInfo.eventHandleOrganizationName}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-4 content title">处理时间</span>
          <span class="ui-g-8 content">{{treeNode.selectInfo.endTime|date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-4 content title">处理人</span>
          <span class="ui-g-8 content">{{treeNode.selectInfo.eventHandleName?treeNode.selectInfo.eventHandleName:'-'}}</span>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <span class="ui-g-2 content title">说明</span>
          <span class="ui-g-10 content">{{treeNode.selectInfo.description?treeNode.selectInfo.description:'-'}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-4 content title">附件</span>
          <span class="ui-g-8 content">
            <span *ngIf="treeNode.selectInfo.url!=='/wenZhouGas/null'">
              <a href="javascript:void(0);" (click)="window.location.href=treeNode.selectInfo.url">点击预览</a>
            </span>
            <span *ngIf="treeNode.selectInfo.url==='/wenZhouGas/null'">
              没有附件
            </span>
          </span>
        </div>
      </div>
    </div> -->
  </div>

  <p-confirmDialog header="请确认！" icon="fa fa-question-circle" width="425">
  </p-confirmDialog>
</div>