<div class="collaborative-detail ui-g-12">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="操作">操作</span>
      <span class="ui-g-6 content">&nbsp;
        <button pButton type="button" title="撤消" label="撤消" class="ui-button-danger" (click)="onDestroy()" *ngIf="details.boolIsRelate"></button>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="事件编号">事件编号</span>
      <span class="ui-g-6 content" title="{{details.transactionBasicNumber}}">{{details.transactionBasicNumber}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="巡查时间">巡查时间</span>
      <span class="ui-g-6 content" title="{{details.transactionPatrolTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{details.transactionPatrolTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="描述">描述</span>
      <span class="ui-g-6 content" title="{{details.description}}">{{details.description}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="地点">地点</span>
      <span class="ui-g-6 content" title="{{details.transactionAddress}}">{{details.transactionAddress}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="事务处理对象">事务处理对象</span>
      <span class="ui-g-6 content" title="{{details.transactionHandleName}}">{{details.transactionHandleName}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="发起时间">发起时间</span>
      <span class="ui-g-6 content" title="{{details.createTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{details.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="发起部门">发起部门</span>
      <span class="ui-g-6 content" title="{{details.transactionOrganizationName}}">{{details.transactionOrganizationName}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="发起人">发起人</span>
      <span class="ui-g-6 content" title="{{details.transactionUserName}}">{{details.transactionUserName}}</span>
    </div>
    <div class="ui-g-12">
      <span class="ui-g-2 content title" title="附件">附件</span>
      <span class="ui-g-10 content" *ngIf="details.url" [title]="details.url">
        <a [href]="details.url || ''" target="_blank">点击预览</a>
      </span>
      <span class="ui-g-10 content" *ngIf="!details.url" title="没有附件">
        没有附件
      </span>
    </div>
    <div class="ui-g-12">
      <span class="ui-g-2 content title" title="事务类别">事务类别</span>
      <span class="ui-g-10 content" title="{{details.transactionTypeList}}">
        <span>{{details.transactionTypeList}}</span>
      </span>
    </div>
  </div>
  <div class="ui-g-12 dashed-border">
    <div class="ui-g-12">
      <h2>协同状况</h2>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <span class="ui-g-4 content title" title="处理情况">处理情况</span>
        <span class="ui-g-8 content" title="{{details.boolIsHandle?'正在处理':'处理完成'}}">{{details.boolIsHandle?'正在处理':'处理完成'}}</span>
      </div>
      <div class="ui-g-3">
        <span class="ui-g-4 content title" title="紧急程度">紧急程度</span>
        <span class="ui-g-8 content" title="{{getAffairLevel(details.emergencyDegree)}}">{{getAffairLevel(details.emergencyDegree)}}</span>
      </div>
    </div>

    <!-- 需要处理的节点 -->

    <div class="node-handle" [hidden]="!treeNode.needHandle || treeNode.needHandle.boolIsHide===2">
      <div class="ui-g-12">
        <h2>需处理事务</h2>
      </div>
      <div class="ui-g-10">
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="来源部门">来源部门</span>
          <span class="ui-g-6 content" title="{{treeNode.needHandle?.parentEventHandleOrganizationName}}">{{treeNode.needHandle?.parentEventHandleOrganizationName}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="处理时间">处理时间</span>
          <span class="ui-g-6 content" title="{{treeNode.needHandle?.parentEndTime | date:'yyyy-MM-dd HH:mm:ss'}}">{{treeNode.needHandle?.parentEndTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="截止时间">截止时间</span>
          <span class="ui-g-6 content" title="{{treeNode.needHandle?.expirationDate | date:'yyyy-MM-dd HH:mm:ss'}}">{{treeNode.needHandle?.expirationDate | date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            <span class="ui-g-6 content title" title="描述">描述</span>
            <span class="ui-g-6 content" title="{{treeNode.needHandle?.parentDescription}}">
              {{treeNode.needHandle?.parentDescription}}
            </span>
          </div>
          <div class="ui-g-4">
            <span class="ui-g-6 content title" title="处理人">处理人</span>
            <span class="ui-g-6 content" title="{{treeNode.needHandle?.parentEventHandleName}}">
              {{treeNode.needHandle?.parentEventHandleName}}
            </span>
          </div>
          <div class="ui-g-4">
            <span class="ui-g-6 content title" title="附件">附件</span>
            <span class="ui-g-6 content">
              <span *ngIf="!treeNode.needHandle?.parentUrl" title="没有附件">没有附件</span>
              <a href="{{treeNode.needHandle?.parentUrl}}" *ngIf="treeNode.needHandle?.parentUrl" title="点击预览">点击预览</a>
            </span>
          </div>
        </div>
      </div>
      <form class="ui-g-12">
        <div class="ui-g-12">
          <div class="ui-g-12 has-multiSelect">
            <div class="ui-g-4 form-group">
              <label for="" class="ui-g-4">操作：</label>
              <div class="ui-g-4">
                <p-radioButton name="role" [value]=false label="处理" [(ngModel)]="formModel.boolIsReject" (onClick)="handleTypeChange(file)"></p-radioButton>
              </div>
              <div class="ui-g-4">
                <p-radioButton name="role" [value]=true label="回退" [(ngModel)]="formModel.boolIsReject" (onClick)="handleTypeChange(file)"></p-radioButton>
              </div>
            </div>
            <div class="ui-g-4" [hidden]="formModel.boolIsReject">
              <input type="file" #file name="file">
            </div>
            <div class="ui-g-3 form-group" [hidden]="formModel.boolIsReject">
              <div class="ui-g-12" *ngIf="multiSelectOptions.length>0">
                <p-multiSelect [options]="multiSelectOptions" [(ngModel)]="formModel.shiftList" name="shiftList" optionLabel="userName" [style]="{'width':'100%'}"
                  defaultLabel="点击选择协同部门" maxSelectedLabels="1" selectedItemsLabel="已经选择了{0}个协同部门" [showToggleAll]="false"></p-multiSelect>
              </div>
            </div>
          </div>
          <div class="ui-g-12" [hidden]="formModel.boolIsReject">
            <div class="form-group ui-g-6" *ngFor="let item of formModel.shiftList; let i=index">
              <label class="ui-g-6 control-label" title="{{item.userName}}">
                {{item.userName}}：</label>
              <div class="ui-g-5">
                <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                  [locale]="zh" [showIcon]="false" name="{{'helpDepartmentTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                  [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate" [showButtonBar]="true"></p-calendar>
              </div>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-8 form-group ">
              <label for="inputEmail3" class="ui-g-3 control-label">
                <span class="warn">*</span>描述：</label>
              <div class="ui-g-9">
                <input type="text" pInputText [(ngModel)]="formModel.explain" name="address" />
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <button pButton type="button" label="提交协同" class="" (click)="onSubmit(file)"></button>
        </div>
      </form>
    </div>

    <!-- 部门回复类 -->

    <div class="ui-g-12 node-reply">
      <div class="ui-g-12">
        <h2>部门回复状况：</h2>
      </div>
      <div class="ui-g-12 node-reply" *ngFor="let item of treeNode.replyInfo">
        <div class="ui-g-3">
          <span class="ui-g-6 content title" title="部门">部门</span>
          <span class="ui-g-6 content" title="{{item.eventHandleOrganizationName}}">{{item.eventHandleOrganizationName}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-6 content title" title="截止时间">截止时间</span>
          <span class="ui-g-6 content" title="{{item.expirationDate| date:'yyyy-MM-dd HH:mm:ss'}}">{{item.expirationDate| date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-6 content title" title="处理人">处理人</span>
          <span class="ui-g-6 content" title="{{item.eventHandleName}}">{{item.eventHandleName}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-6 content title" title="处理情况">处理情况</span>
          <span class="ui-g-6 content">
            <span *ngIf="item.boolIsHandle===2" title="已超期">已超期</span>
            <span *ngIf="item.boolIsHandle===0" title="已回复">已回复</span>
            <span *ngIf="item.boolIsHandle===1" title="未回复">未回复</span>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="ui-g-3 content title" title="描述">描述</span>
          <span class="ui-g-9 content" title="{{item.description}}">{{item.description}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-6 content title" title="附件">附件</span>
          <a href="{{item.url}}" class="ui-g-6 content" title="点击预览" target="_blank" *ngIf="item.url">
            点击预览
          </a>
          <span *ngIf="!item.url" class="ui-g-6 content"></span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-6 content title" title="操作">操作</span>
          <span class="ui-g-6 content">
            <a *ngIf="item.boolIsHide===0" title="重新指派" href="javascript:void(0);" (click)="onOpenDialog(item)">重新指派</a>
            <a *ngIf="item.boolIsHide===1" href="javascript:void(0);"></a>
          </span>
        </div>
      </div>
    </div>

    <!-- 事务节点树 -->

    <div class="ui-g-12 dashed-border tree-node">
      <p-tree [value]="treeNode.data" layout="horizontal" selectionMode="single" [(selection)]="treeNode.selectObj" icon="fa-folder"></p-tree>
    </div>
    <!-- <div class="ui-g-12 bottom">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <span class="ui-g-4 content title">部门</span>
          <span class="ui-g-8 content" title="{{treeNode.selectInfo.eventHandleOrganizationName}}">{{treeNode.selectInfo.eventHandleOrganizationName}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-4 content title">处理时间</span>
          <span class="ui-g-8 content">{{treeNode.selectInfo.endTime|date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-4 content title">处理人</span>
          <span class="ui-g-8 content">{{treeNode.selectInfo.eventHandleName?treeNode.selectInfo.eventHandleName:'-'}}</span>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-6">
          <span class="ui-g-2 content title">描述</span>
          <span class="ui-g-10 content">{{treeNode.selectInfo.description?treeNode.selectInfo.description:'-'}}</span>
        </div>
        <div class="ui-g-3">
          <span class="ui-g-4 content title">附件</span>
          <span class="ui-g-8 content">
            <span *ngIf="treeNode.selectInfo.url!=='/wenZhouGas/null'">
              <a href="javascript:void(0);" (click)="window.location.href=treeNode.selectInfo.url">点击预览</a>
            </span>
            <span *ngIf="treeNode.selectInfo.url==='/wenZhouGas/null'">
              没有附件
            </span>
          </span>
        </div>
      </div>
    </div> -->
  </div>

  <p-confirmDialog header="请确认！" icon="fa fa-question-circle" width="425" acceptLabel="确认" rejectLabel="取消">
  </p-confirmDialog>
  <p-dialog [visible]="visible" [showHeader]="false" [modal]="true" [closable]="false" [width]="310" [height]="440" [contentStyle]="{'padding':'2px'}"
    [style]="{'border':'none'}">
    <p-calendar [(ngModel)]="formModel.nextSubmitTime" [locale]="zh" dateFormat="yy-mm-dd" [selectOtherMonths]="true" [monthNavigator]="true"
      [yearNavigator]="true" yearRange="2018:2050" readonlyInput="true" [inline]="true" [showTime]="true" [minDate]="currentDate"></p-calendar>
    <div class="text-center" style="margin-top:10px">
      <button pButton type="button" label="确定" style="margin-right:20px" (click)="sendNextSubmitTime()"></button>
      <button pButton type="button" label="取消" class="ui-button-secondary" (click)="visible = false"></button>
    </div>
  </p-dialog>
</div>
