<div class="ui-g-12">
  气瓶条码
  <input type="text" [(ngModel)]="cylinderNumber" pInputText placeholder="气瓶条码" style="width:180px"> &nbsp;&nbsp; 开始时间
  <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="beginTime"
    dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [maxDate]="endTime" readonlyInput="true"></p-calendar>
  &nbsp;&nbsp; 结束时间
  <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="endTime"
    dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [minDate]="beginTime" [maxDate]="today" readonlyInput="true"></p-calendar>
  &nbsp;&nbsp;

  <button pButton type="button" label="查询" (click)="searchCylinderHistory()"></button>
</div>

<div class="ui-g-12">
  <p-dataTable [value]="cylinderHistoryList" sortField="createTime" [sortOrder]="-1" emptyMessage="未查询到数据" [paginator]="true" [loading]="loading"
    [rows]="pageSizeHistory" scrollable="true" [(first)]="historyFirst" [totalRecords]="totalHistory" [rowsPerPageOptions]="[1,5,10,20,40]">
    <p-headerColumnGroup>
      <p-row>
        <!-- <p-column header="序号" rowspan="2"></p-column> -->
        <p-column header="时间" rowspan="2"></p-column>
        <p-column header="充装或配送" rowspan="2"></p-column>
        <p-column header="状态变迁" rowspan="2"></p-column>
        <p-column header="开始责任主体" colspan="4"></p-column>
        <p-column header="之后责任主体" colspan="4"></p-column>
      </p-row>
      <p-row>
        <p-column header="类型" colspan="1"></p-column>
        <p-column header="名称" colspan="1"></p-column>
        <p-column header="联系方式" colspan="1"></p-column>
        <p-column header="联系地址" colspan="1"></p-column>
        <p-column header="类型" colspan="1"></p-column>
        <p-column header="名称" colspan="1"></p-column>
        <p-column header="联系方式" colspan="1"></p-column>
        <p-column header="联系地址" colspan="1"></p-column>
      </p-row>
    </p-headerColumnGroup>

    <!-- <p-column>
      <ng-template pTemplate="body" let-index="rowIndex">
        {{index + 1}}
      </ng-template>
    </p-column> -->
    <p-column field="createTime">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.createTime | DateFormat}}
      </ng-template>
    </p-column>
    <p-column field="boolIsDispatch">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.boolIsDispatch?'配送':'充装'}}
      </ng-template>
    </p-column>
    <p-column field="gcStatusTypeName"></p-column>
    <p-column field="beforeLiabilityTypeName"></p-column>
    <p-column field="beforeLiabilityName"></p-column>
    <p-column field="beforeLiabilityContact"></p-column>
    <p-column field="beforeLiabilityAddress"></p-column>
    <p-column field="afterLiabilityTypeName"></p-column>
    <p-column field="afterLiabilityName"></p-column>
    <p-column field="afterLiabilityContact"></p-column>
    <p-column field="afterLiabilityAddress"></p-column>
  </p-dataTable>
</div>

<!-- <div class="ui-g-12">
  <p-dataTable [value]="cylinderFillingHistoryList" emptyMessage="未查询到数据" [paginator]="true" [rows]="pageSize" scrollable="true"
    [lazy]="true" [(first)]="pageFirst" (onLazyLoad)="onFillingHistoryPageChange($event)" [totalRecords]="total" [rowsPerPageOptions]="[5,10,20,40]">
    <p-column header="序号" [style]="{'width':'50px'}">
      <ng-template pTemplate="body" let-index="rowIndex">
        {{index + 1}}
      </ng-template>
    </p-column>
    <p-column field="gasLabelNumber" header="气瓶条码" [style]="{'width':'150px'}"></p-column>
    <p-column field="inflatableStationName" header="充装站名称" [style]="{'width':'150px'}"></p-column>
    <p-column field="fillingStart" header="充装开始时间" [style]="{'width':'150px'}">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.fillingStart | DateFormat}}
      </ng-template>
    </p-column>
    <p-column field="fillingEnd" header="充装结束时间" [style]="{'width':'150px'}">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.fillingEnd | DateFormat}}
      </ng-template>
    </p-column>
    <p-column field="fillingStaff" header="充装人员" [style]="{'width':'150px'}"></p-column>
  </p-dataTable>
</div> -->
