.affair-list{
  padding-top:80px;
  padding-left:10px;
  [class^='ui-g']{
    padding:0;
  }
  a{
    color:#3399ff;
  }
  form{
    width:100%;
    .form-group{
      margin:5px 0;
    }
  }
}
.main{
  left: 90px;
}
.searchBtn {
  border-radius: 4px;
  width: 96px;
  height: 45px;
  font-size: 1em;
  background: #3186dc;
}