<!-- 左侧二级菜单内容-->
<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
        <h3>主体类型选择</h3>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="企业"  [routerLink]="['enterprise']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="储配站" [routerLink]="['storage-distribution']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="供应站" [routerLink]="['cylinder-storage']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="送气工" [routerLink]="['dispatcher']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="用户"  [routerLink]="['customer']" routerLinkActive="link-active"></button>
    </div>
  </div>
</div>

<!-- 右侧内容 -->
<div class="main">
  <router-outlet></router-outlet>
</div>
