.title{
font-size: 18px;
font-weight: 700;
font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
}
.searchBtn {
    margin-left: 20px;
    height: 45px;
    width: 96px;
    font-size: 1em;
    padding: 0;
    border-radius: 5px;
}
