@mixin bg_color01($color01:#1a5687) {
  background-color: $color01;
}

@mixin bg_color02 ($color02:#1a5687){
  background-color: $color02;
}

@mixin common($text_align:center,$line-height:40px,$height:40px) {
  text-align: $text_align;
  line-height: $line-height;
  height: $height;
  float: left;
  border: 1px solid #797979;
  box-sizing: border-box;
  overflow: hidden;
}
$whiteColor:white;

.ta-c{
  text-align: center;
}
.cylinder-detail {
  .span_detail {
    width: 40%;
    @include common();
  }
  .span_detail01{
    width: 60%;
    @include common();  
  }
  .bg_color01 {
    @include bg_color01();
    color: $whiteColor;
  }
  .span_gasleft {
    width: 20%;
    @include common();
    @include bg_color01(#cccccc)
  }
  .span_textleft {
    width: 80%;
    @include common();
  }
  .span_gasright {
    width: 30%;
    @include common();
    @include bg_color01(#cccccc)
  }
  .span_textright {
    width: 70%;
    @include common();
  }
  .photo-head {
    width: 11.66666%;
    @include bg_color01(#cccccc);
    @include common(center,100px,100px);
  }
  .photo-content{
    width: 88.33333%;
    @include common(left,1,100px);
    .photo-view{
      width: 100px;
      height: 100px;
      padding: 15px 15px;
      box-sizing:border-box;
    }
  }
}
