<div class="ta-c ui-g-12" *ngIf="loading!=0">
  <h2>查不到此信息</h2>
</div>

<div class="cylinder-detail ui-g-12" *ngIf="loading===0">
  <div class="ui-g-12">
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">所属行政区域</span>
      <span class="span_detail01">{{detailList.regionName}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad ">
      <span class="span_detail bg_color01">所属企业名称</span>
      <span class="span_detail01">{{detailList.enterpriseName}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">使用情况</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">充装状态</span>
      <span class="span_detail01">{{detailList.fillingState}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">流转状态</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">当前库位</span>
      <span class="span_detail01">{{detailList.liabilityAddress}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">当前流转环节</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">当前持有者身份</span>
      <span class="span_detail01">{{detailList.liabilityName}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">当前流转环节 起始时间
      </span>
      <span class="span_detail01">{{detailList.createTime | date: "y-MM-dd"}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">登记人姓名</span>
      <span class="span_detail01">{{detailList.gcLabelInfo?.registrationPerson}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01">登记时间</span>
      <span class="span_detail01">{{detailList.gcLabelInfo?.registrationDate | date: "y-MM-dd"}}</span>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <span class="span_detail bg_color01"></span>
      <span class="span_detail01"></span>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">气瓶条码</span>
      <span class="span_textleft">{{detailList.gasLabelNumber}}</span>
    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">充装介质</span>
      <span class="span_textright">{{detailList.gcSpecification?.fillingMedia}}</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">出厂编号</span>
      <span class="span_textleft">{{detailList.gcLabelInfo?.serialNumber}}</span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">瓶体重量</span>
      <span class="span_textright">{{detailList.gcSpecification?.weight?detailList.gcSpecification?.weight:0}}kg</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">自有编号</span>
      <span class="span_textleft">{{detailList.gcLabelInfo?.enterpriseCylinderCode}}</span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">容积</span>
      <span class="span_textright">{{detailList.gcSpecification?.volume?detailList.gcSpecification?.volume:0}}L</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">电子编号（预留）</span>
      <span class="span_textleft"></span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">设计壁厚</span>
      <span class="span_textright">{{detailList.gcSpecification?.designWallThickness?detailList.gcSpecification?.designWallThickness:0}}mm</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">型号</span>
      <span class="span_textleft"></span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">水压试验压力</span>
      <span class="span_textright">{{detailList.gcSpecification?.waterPressureTest?detailList.gcSpecification?.waterPressureTest:0}}MPa</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">规格</span>
      <span class="span_textleft">{{detailList.gcSpecification?.specificationId}}</span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">公称工作压力</span>
      <span class="span_textright">{{detailList.gcSpecification?.nominalWorkingPressure?detailList.gcSpecification?.nominalWorkingPressure:0}}MPa</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">生产单位</span>
      <span class="span_textleft">{{detailList.manufactureName}}</span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">报废日期</span>
      <span class="span_textright">{{detailList.scrapDate | date: "y-MM-dd"}}</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">生产日期</span>
      <span class="span_textleft">{{detailList.gcLabelInfo?.timeManufacture | date: "y-MM-dd"}}</span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">报废处理情况</span>
      <span class="span_textright">{{detailList.scrapDisposalSituation}}</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">下次检测日期</span>
      <span class="span_textleft">{{detailList.gcLabelInfo?.nextInspectionTime | date: "y-MM-dd"}}</span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR">报废处理日期</span>
      <span class="span_textright">{{detailList.scrapDisposalDate | date: "y-MM-dd"}}</span>
    </div>
    <div class="ui-g-7 ui-g-nopad">
      <span class="span_gasleft bg_colorR">上次检测单位名称 </span>
      <span class="span_textleft"></span>

    </div>
    <div class="ui-g-5 ui-g-nopad">
      <span class="span_gasright bg_colorR"></span>
      <span class="span_textright"></span>
    </div>

    <div class=" bg_colorR photo-head">照片</div>
    <div class="photo-content">
      <!-- <img src="" alt="png" class="photo-view">  -->
      <!-- ng-src -->
      <!-- <img src="/assets/img/u44.png" class="photo-view" > -->
    </div>
  </div>
</div>
