<div class="ta-c ui-g-12" *ngIf="!detailList.isTrue">
  <h2>
    <span *ngIf="!loading">没有查到数据</span>
    <span *ngIf="loading">正查询中，请稍等</span>
  </h2>
</div>

<div class="cylinder-detail" *ngIf="detailList.isTrue">
  <div class="group ui-g-12">
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="气瓶充装状态">气瓶充装状态</span>
      <span class="ui-g-6 content" title="{{detailList.fillingState}}">{{detailList.fillingState}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="查看充装记录">
        <a href="javascript:void(0);" *ngIf="detailList.fillingState!==null" [routerLink]="['/delivery/cylinder-trace/cylinder-filling']" [queryParams]="{cylinderNumber:detailList.gasLabelNumber}"
          title="查看充装记录">查看充装记录</a>
        <span *ngIf="detailList.fillingState===null" title="暂无充装记录">暂无充装记录</span>
      </span>
      <span class="ui-g-6 content title" title="当前气瓶持有者">当前气瓶持有者</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="{{detailList.liabilityName}}">{{detailList.liabilityName}}</span>
      <span class="ui-g-6 content" title="查看流转记录">
        <a href="javascript:void(0);"  *ngIf="detailList.liabilityName!==null" [routerLink]="['/delivery/cylinder-trace/cylinder-history']" [queryParams]="{cylinderNumber:detailList.gasLabelNumber}"
          title="查看流转记录">查看流转记录</a>
          <span *ngIf="detailList.liabilityName===null" title="暂无流转记录">暂无流转记录</span>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="所属企业">所属企业</span>
      <span class="ui-g-6 content" title="{{detailList.enterpriseName}}">{{detailList.enterpriseName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="查看详情">
        <a href="javascript:void(0);" [routerLink]="['/archive/cylinder/list']" [queryParams]="{enterpriseID:detailList.enterpriseNumber}"
          title="查看详情">查看详情</a>
      </span>
      <span class="ui-g-6 content title" title="所属辖区">所属辖区</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="{{detailList.regionName}}">{{detailList.regionName}}</span>
      <span class="ui-g-6 content" title="查看详情">
        <a href="javascript:void(0);" [routerLink]="['/archive/cylinder/list']" [queryParams]="{regionId:detailList.regionId}" title="查看详情">查看详情</a>
      </span>
    </div>
  </div>
  <div class="group ui-g-12">
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="气瓶条码">气瓶条码</span>
      <span class="ui-g-6 content" title="{{detailList.gasLabelNumber}}">{{detailList.gasLabelNumber}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="充装介质">充装介质</span>
      <span class="ui-g-6 content" title="{{detailList.fillingMedia}}">{{detailList.fillingMedia}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="出厂编号">出厂编号</span>
      <span class="ui-g-6 content" title="{{detailList.serialNumber}}">{{detailList.serialNumber}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="自有编号">自有编号</span>
      <span class="ui-g-6 content" title="{{detailList.enterpriseCylinderCode}}">{{detailList.enterpriseCylinderCode}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="电子编号（预留）">电子编号（预留）</span>
      <span class="ui-g-6 content" title=""></span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="型号">型号</span>
      <span class="ui-g-6 content" title="{{detailList.typeName}}">{{detailList.typeName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="规格">规格</span>
      <span class="ui-g-6 content" title="{{detailList.specificationId}}">{{detailList.specificationId}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="瓶体重量">瓶体重量</span>
      <span class="ui-g-6 content" title="{{detailList.weight?detailList.weight+'kg':''}}">{{detailList.weight?detailList.weight+'kg':''}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="容积">容积</span>
      <span class="ui-g-6 content" title="{{detailList.volume?detailList.volume+'L':''}}">{{detailList.volume?detailList.volume+'L':''}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="设计壁厚">设计壁厚</span>
      <span class="ui-g-6 content" title="{{detailList.designWallThickness?detailList.designWallThickness+'mm':''}}">{{detailList.designWallThickness?detailList.designWallThickness+'mm':''}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="水压试验压力">水压试验压力</span>
      <span class="ui-g-6 content" title="{{detailList.waterPressureTest?detailList.waterPressureTest+'MPa':''}}">{{detailList.waterPressureTest?detailList.waterPressureTest+'MPa':''}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="公称工作压力">公称工作压力</span>
      <span class="ui-g-6 content" title="{{detailList.nominalWorkingPressure?detailList.nominalWorkingPressure+'MPa':''}}">{{detailList.nominalWorkingPressure?detailList.nominalWorkingPressure+"MPa":''}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="制造单位">制造单位</span>
      <span class="ui-g-6 content" title="{{detailList.manufactureName}}">{{detailList.manufactureName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="生产日期">生产日期</span>
      <span class="ui-g-6 content" title="{{detailList.timeManufacture | date:'yyyy-MM-dd'}}">{{detailList.timeManufacture | date:"yyyy-MM-dd"}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="报废日期">报废日期</span>
      <span class="ui-g-6 content" title="{{detailList.expectedScrapTime | date:'yyyy-MM-dd'}}">{{detailList.expectedScrapTime | date:"yyyy-MM-dd"}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="报废处理情况">报废处理情况</span>
      <span class="ui-g-6 content" title=""></span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="报废处理日期">报废处理日期</span>
      <span class="ui-g-6 content" title=""></span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="上次检测日期">上次检测日期</span>
      <span class="ui-g-6 content" title="{{detailList.lastInspectionTime | date:'yyyy-MM-dd'}}">{{detailList.lastInspectionTime | date:"yyyy-MM-dd"}}</span>
    </div>

    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="下次检测日期">下次检测日期</span>
      <span class="ui-g-6 content" title="{{detailList.nextInspectionTime | date:'yyyy-MM-dd'}}">{{detailList.nextInspectionTime | date:"yyyy-MM-dd"}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="上次检测单位名称">上次检测单位名称</span>
      <span class="ui-g-6 content" title="{{detailList.inspectionOrganizationNumber}}">{{detailList.inspectionOrganizationNumber}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="照片">照片</span>
      <span class="ui-g-6 content" title="">
        <button pButton (click)="showImg(detailList.gcBasicUrl);" label="查看照片" *ngIf="detailList.gcBasicUrl"></button>
        <button pButton label="无附件" *ngIf="!detailList.gcBasicUrl" disabled></button>
      </span>
    </div>
    <!-- <p-overlayPanel #imgBox>
      <img src="" *ngIf="detailList.gcBasicUrl"
        style="max-width: 262px" />
    </p-overlayPanel> -->
      <!-- 对话框 + 轮播图 -->
      <p-dialog [visible]="visible" [showHeader]="false"  [positionTop]="90" [closeOnEscape]="false" [width]="400" [contentStyle]="{'padding':'0','overflow':'visible'}"
        [minWidth]="400" [modal]="true" [style]="{'border':'none','background':'#f2f2f2'}">
      
        <p-carousel  headerText="图片附件查看" [value]="imgArray" numVisible="1" [firstVisible]="0">
          <ng-template let-cylinder pTemplate="item">
            <div class="text-center">
              <img src="{{cylinder.url}}" alt="" style="max-width:400px; max-height:400px;">
            </div>
          </ng-template>
        </p-carousel>

        <p-footer>
          <button type="button" pButton icon="fa-check" (click)="visible=false" label="确定"></button>
        </p-footer>

      </p-dialog>
  </div>
</div>
