
<div class="upload">
  <h2>注意：</h2>
  <p class="detail">此处仅进行以往已绑定关联基本信息的批量上传。<br> 新录入数据，请于对应模块中进行操作！</p>
  <ul>
    <li class="input-group">
      <label for="">已关联用户信息上传：</label>
      <p-fileUpload class="fileUpload" name="myfile[]" url="./upload.php" mode="basic" chooseLabel="请选择要上传的文件"></p-fileUpload>
      <a href="javascript:void(0);" class="download">模板下载 xxxx.xls</a>
    </li>
    <li class="input-group">
      <label for="">已关联气瓶信息上传：</label>
      <p-fileUpload class="fileUpload" name="myfile[]" url="./upload.php" mode="basic" chooseLabel="请选择要上传的文件"></p-fileUpload>
      <a href="javascript:void(0);" class="download">模板下载 xxxx.xls</a>
    </li>
    <li class="input-group">
      <label for="">安全供气卡使用信息：</label>
      <p-fileUpload class="fileUpload" name="myfile[]" url="./upload.php" mode="basic" chooseLabel="请选择要上传的文件"></p-fileUpload>
      <a href="javascript:void(0);" class="download">模板下载 xxxx.xls</a>
    </li>
    <li class="input-group">
      <label for="">&#12288;气瓶标签使用信息：</label>
      <p-fileUpload class="fileUpload" name="myfile[]" url="./upload.php" mode="basic" chooseLabel="请选择要上传的文件"></p-fileUpload>
      <a href="javascript:void(0);" class="download">模板下载 xxxx.xls</a>
    </li>
  </ul>
</div>