<div class="collaborative">
  <div class="sidebar">
    <div class="ui-g ui-g-nopad group">
      <div class="ui-g-12">
        <button pButton type="button" label="执法事务录入" [routerLink]="['./add-affairs']" routerLinkActive="link-active"></button>
      </div>
    </div>
    <div class="ui-g ui-g-nopad group">
      <div class="ui-g-12">
        <button pButton type="button" label="我的事务" [routerLink]="['./my-affairs']" routerLinkActive="link-active"></button>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" label="事务列表一览" [routerLink]="['./all-affairs']" routerLinkActive="link-active"></button>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="ui-g-12 card">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
