<div class="ui-g-12">

  <gas-back></gas-back>
  <div class="ui-g-12 example">
    <h3>示例：</h3>
    <div class="ui-g-2">问题描述:</div>
    <div class="ui-g-10">您对本次发布的版本满意吗？</div>
    <div class="ui-g-2">答案：</div>
    <div class="ui-g-10">
      <p-checkbox label="满意" binary="true" [ngModel]="true" [disabled]="true"></p-checkbox>&nbsp;&nbsp;
      <p-checkbox label="不满意" [disabled]="true"></p-checkbox>&nbsp;&nbsp;
      <p-checkbox label="无所谓" [disabled]="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <button pButton type="button" label="发布" *ngIf="getQuestionnaire&&questionlist.length>0" (click)="release()">
    </button>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12">
      <input maxlength="50" type="text" pInputText placeholder="请输入问卷名称" [(ngModel)]="questionnaire" style="width: 400px;
      height: 36px;" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;">
      <button pButton type="button" label="确定" (click)="addQuestionNaireData()"></button>
      <p>
        <b> 问卷名称:</b>&nbsp;&nbsp;&nbsp;&nbsp; {{ getQuestionnaire }}</p>
    </div>

    <div class="ui-g-12">
      <input maxlength="50" type="text" pInputText placeholder="请输入题目名称" [(ngModel)]="question" style="width: 400px;
      height: 36px;" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;">
      <button pButton type="button" label="增加" (click)="addQuestionData()"></button>
    </div>

    <ul class="ui-g-12">
      <li *ngFor="let item of questionlist;let i =index;" class="ui-g-12">
        <button (click)="deleteData(i)" pButton type="button" label="删除"></button>
        {{i+1}}、{{item}}
      </li>
    </ul>
  </div>


</div>
