<div class="enterprise-detail ui-g-12">
  <h2 class="text-center" *ngIf="!details">
    <span *ngIf="!loading">没有查到数据</span>
    <span *ngIf="loading">正查询中，请稍等。</span>
  </h2>
  <div *ngIf="details" class="ui-g-12 group">
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="旗下供应站数量">旗下供应站数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看供应站信息" [routerLink]="['/archive/supplyStation']" 
        [queryParams]="{enterpriseName:details.corpInfoVO.enterpriseNumber}">{{details.supplyStationCount}}</a>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="旗下储备站数量">旗下储备站数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看储备站信息" [routerLink]="['/archive/gasHolderStation']" [queryParams]="{enterpriseNumber:details.corpInfoVO.enterpriseNumber}">{{details.inflatableStationCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="旗下送气工数量">旗下送气工数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看送气工信息" [routerLink]="['/archive/employee']" [queryParams]="{enterpriseNumber:details.corpInfoVO.enterpriseNumber}">{{details.dispatcherCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="旗下用户数量">旗下用户数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看用户信息" [routerLink]="['/archive/customer/list']" [queryParams]="{enterpriseID:details.corpInfoVO.enterpriseNumber}">{{details.gcUserCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="已安检用户数量">已安检用户数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看安检信息" [routerLink]="['/archive/customer/list']" 
        [queryParams]="{enterpriseID:details.corpInfoVO.enterpriseNumber,boolIsChecked: true}">{{details.alreadyCheckedUserCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="未安检用户数量">未安检用户数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);"  title="查看安检信息" [routerLink]="['/archive/customer/list']" 
        [queryParams]="{enterpriseID:details.corpInfoVO.enterpriseNumber,boolIsChecked: false}">{{details.noCheckedUserCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="登记钢瓶数量">登记钢瓶数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看气瓶信息" [routerLink]="['/archive/cylinder/list']" [queryParams]="{enterpriseID:details.corpInfoVO.enterpriseNumber}">{{details.gcTotalCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="异常钢瓶数量">异常钢瓶数量</span>
      <span class="ui-g-6 content">
        <a href="javascript:void(0);" title="查看气瓶信息" [routerLink]="['/archive/cylinder/list']" 
        [queryParams]="{enterpriseID:details.corpInfoVO.enterpriseNumber, state: 3}">{{details.gcCodeAbnormalCount}}</a>
      </span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title=" "> </span>
      <span class="ui-g-6 content" title=" "> </span>
    </div>
  </div>

  <div *ngIf="details" class="ui-g-12 group">
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="企业名称">企业名称</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.enterpriseName}}">{{details.corpInfoVO.enterpriseName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="所属辖区">所属辖区</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.regionName}}">{{details.corpInfoVO.regionName}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="经营区域">经营区域</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.businessArea}}">{{details.corpInfoVO.businessArea}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="许可证号">许可证号</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.dangerousLicense}}">{{details.corpInfoVO.dangerousLicense}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="发证日期">发证日期</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.releaseTime}}">{{details.corpInfoVO.releaseTime}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="证件到期日期">证件到期日期</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.effectiveTimeEnd}}">{{details.corpInfoVO.effectiveTimeEnd}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="发证机关">发证机关</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.issuingUnit}}">{{details.corpInfoVO.issuingUnit}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="联系电话">联系电话</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.serviceLine}}">{{details.corpInfoVO.serviceLine}}</span>
    </div>
    <div class="ui-g-4">
      <span class="ui-g-6 content title" title="联系人">联系人</span>
      <span class="ui-g-6 content" title="{{details.corpInfoVO.legalRepresentative}}">{{details.corpInfoVO.legalRepresentative}}</span>
    </div>
    <div class="ui-g-12">
      <span class="ui-g-2 content title" title="企业地址">企业地址</span>
      <span class="ui-g-10 content" title="{{details.corpInfoVO.address}}">{{details.corpInfoVO.address}}</span>
    </div>
  </div>

</div>