.enterprise-detail {
    // margin: 15px 0px 0 15px;
    background: #fff;
    .title {
        color: #3186dc;
        text-align: center;
    }
    .inputgroup {
        width: 90px;
        display: inline-block;
        color: rgb(102, 102, 102);
    }
    .textInput {
        // width: 40%;
        width: calc(100% - 80px);
        max-width: 300px;
    }
    .padding {
        border-radius: 4px;
        background:#fff;
    }
    .searchBtn {
        border-radius: 4px;
        width: 96px;
        height: 45px;
        font-size: 1em;
        background: #3186dc;
    }
}
