<div class="ui-g-12 customer-list">
  <form class="ui-g-12 padding" [formGroup]="formModel" (submit)="onSearch();">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label"> 所在区域：</span>
        <p-dropdown [options]="dropdown.region" [style]="{'width':'280px'}" formControlName="regionId" (onChange)="onChangeAreaID($event)"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label">供气企业：
        </span>
        <p-dropdown [options]="dropdown.corp" [style]="{'width':'280px'}" formControlName="enterpriseNumber"></p-dropdown>
        <gas-explanation tooltip="出售气瓶给客户的企业" position="bottom"></gas-explanation>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label">用户名称：</span>
        <input maxlength="250" minlength="2" class="textInput" type="text" pInputText formControlName="userName">
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label">地&#12288;&#12288;址：</span>
        <input maxlength="250" minlength="2" class="textInput" type="text" pInputText formControlName="address">
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label"> 客户类别：
        </span>
        <p-dropdown [options]="dropdown.userType" [style]="{'width':'280px'}" formControlName="userTypeId"></p-dropdown>
        <gas-explanation tooltip="根据气瓶使用途径区别的客户类别（有个人，商业，工业等）" position="bottom"></gas-explanation>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <p-checkbox name="group1" label="只看有合同" formControlName="haveContract" binary="true"></p-checkbox>
        <gas-explanation tooltip="按是否具有合同信息来筛选查询结果" position="bottom"></gas-explanation>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="查询" class="searchBtn"></button>
      </div>
    </div>
    
  </form>
  <div class="ui-g-12">
    <!-- <div class="ui-g-12"> -->
    <p-dataTable [value]="dataTable.list" [lazy]="true" dataKey="userNumber" [paginator]="true" [rows]="dataTable.option[2]"
      [scrollable]="false" [rowsPerPageOptions]="dataTable.option" [totalRecords]="dataTable.total" (onLazyLoad)="onPageChange($event)"
      [(first)]="dataTable.first" [loading]="loading">
      <p-column [style]="{'width':'100px'}" header="序号">
        <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
          <span>{{index+1}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="userIdentityCardNumber" header="用户卡号"></p-column>
      <p-column [style]="{'width':'80px'}" field="userName" header="燃气用户">
        <ng-template let-col let-user="rowData" pTemplate="body">
          <a href="javascript:0;" [routerLink]="['../detail/customerDetail']" [queryParams]="{userNumber:user.userNumber}" title="点击查看用户祥情">
            {{ user.userName }}
          </a>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'120px'}" header="操作">
        <ng-template let-col let-rowData="rowData" pTemplate="body">
          <a href="javascript:void(0);" [routerLink]="['/delivery/cylinder-trace/cylinder-record/4']" [queryParams]="{liabilityName:rowData.userName,liabilityNumber:rowData.userNumber,liabilitySubjectType:4}"
            title="{{'点击查询流转记录' }}">查看流转记录</a>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'80px'}" field="regionName" header="所属行政区"></p-column>
      <p-column [style]="{'width':'180px'}" field="address" header="证件地址"></p-column>
      <p-column [style]="{'width':'150px' ,'line-height':'45px'}" header="操作" *gasPermissionRole="[RoleType.Enterprise]">
        <ng-template pTemplate="body" let-rowData="rowData">
          <button pButton type="button" (click)="onEdit(rowData)" label="修改"></button>
          <button pButton type="button" (click)="onDelete(rowData)" label="删除" class="ui-button-secondary"></button>
        </ng-template>
      </p-column>

      <p-column [style]="{'width':'150px'}" field="dispatcherName">
        <ng-template pTemplate="header">
          配送工
          <gas-explanation tooltip="用户指定的配送气瓶的送气工（默认）" position="bottom"></gas-explanation>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="enterpriseName" header="供气企业"></p-column>
      <p-column [style]="{'width':'80px'}" field="userType" header="客户类别"></p-column>
      <p-column [style]="{'width':'80px'}" field="certificateName" header="证件类型"></p-column>
      <p-column [style]="{'width':'200px'}" field="certificateId" header="证件编号"></p-column>
      <p-column [style]="{'width':'110px'}" field="principal">
        <ng-template pTemplate="header">
          负责人
          <gas-explanation tooltip="用户证件上的名字，用来区分燃气用户名" position="bottom"></gas-explanation>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="phone" header="联系电话"></p-column>
      <!-- <p-column [style]="{'width':'50px'}" field="gcCount" header="在用气瓶数"></p-column> -->
      <p-column [style]="{'width':'150px'}" field="contractNo" header="合同编号"></p-column>
      <p-column [style]="{'width':'150px'}" header="合同截止日期">
        <ng-template let-rowData="rowData" pTemplate="body">
          <span>{{rowData.contractDeadline|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="contractAppendixUrl" header="合同附件">
        <ng-template let-col let-rowData="rowData" pTemplate="body">
          <a [href]="rowData.contractAppendixUrl" target="_blank" *ngIf="rowData.contractAppendixUrl">查看图片</a>
        </ng-template>
      </p-column>
      <ng-template pTemplate="emptymessage">
        <div class="text-left">
          未查询到数据
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorRight">
        共 {{ dataTable.total || 0 }} 条记录
      </ng-template>
    </p-dataTable>
    <!-- </div> -->
  </div>

  <!-- 修改功能 -->
  <div class="ui-g-12">
    <p-dialog [(visible)]="displayEditDialog" [showHeader]="false" [closeOnEscape]="false" [width]="800" [contentStyle]="{'padding':'0','overflow':'visible'}"
      [minWidth]="800" [modal]="true" [style]="{'border':'none','background':'#f2f2f2'}">
      <form class="dialog">
        <div class="ui-g ui-g-nopad">
          <div class="ui-g-12 ui-g-nopad">
            <h2 class="text-center">修改信息</h2>
          </div>
        </div>

        <div class="form-group ui-g-12">
          <label for="" class="ui-g-4 text-right ui-g-nopad">
            <span class="warn">*</span>燃气用户：</label>
          <div class="ui-g-4 ui-g-nopad">
            <!-- <div>{{ willEditCustomer?.userName }}</div> -->
            <input maxlength="250" type="text" pInputText [(ngModel)]="willEditCustomer.userName" name="userName" />
          </div>
        </div>

        <div class="form-group ui-g-12">
          <label for="inputEmail3" class="ui-g-4 text-right ui-g-nopad">
            <span class="warn">*</span>联系电话：</label>
          <div class="ui-g-4 ui-g-nopad">
            <input maxlength="250" type="text" pInputText [(ngModel)]="willEditCustomer.phone" name="phone" />
          </div>
        </div>

        <div class="form-group ui-g-12">
          <label for="inputEmail3" class="ui-g-4 text-right ui-g-nopad">
            <span class="warn" *ngIf="!willEditCustomer.userIdentityCardNumberIsEmpty">*</span>用户卡编号：</label>
          <div class="ui-g-4 ui-g-nopad">
            <input maxlength="250" type="number" pInputText [(ngModel)]="willEditCustomer.userIdentityCardNumber" name="userIdentityCardNumber"
            />
          </div>
        </div>

        <div class="form-group ui-g-12">
          <label for="inputEmail3" class="ui-g-4 text-right ui-g-nopad">
            默认送气工：</label>
          <div class="ui-g-4 ui-g-nopad">
            <p-autoComplete [(ngModel)]="selectedEditDispatcher" [suggestions]="dispatcherSuggestions" (completeMethod)="getSuggestions($event)"
              [forceSelection]="true" [minLength]="1" autoHighlight="true" emptyMessage="请输入正确的送气工姓名" name="objValue" field="employeeName"
              placeholder="请输入送气工名称">
              <ng-template let-item pTemplate="item">
                <span>{{item.employeeName}}
                  <br>{{item.phoneNumber}}</span>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <div class="form-group ui-g-12">
          <label for="inputEmail3" class="ui-g-4 text-right ui-g-nopad">
            <span class="warn">*</span>配送区域：</label>
          <div class="ui-g-4 ui-g-nopad">
            <gas-delivery-region-cascade [(deliveryRegionId)]="deliveryRegionId"></gas-delivery-region-cascade>
          </div>
        </div>

        <div class="form-group ui-g-12">
          <label for="inputEmail3" class="ui-g-4 text-right ui-g-nopad">
            <span class="warn">*</span>派送地址：</label>
          <div class="ui-g-4 ui-g-nopad">
            <input maxlength="250" type="text" pInputText [(ngModel)]="willEditCustomer.deliveryAddress" name="deliveryAddress" />
          </div>
        </div>

        <div class="form-group ui-g-12" [style.display]="willEditCustomer.certificateName!='营业执照'?'none':'block'">
          <label for="inputEmail3" class="ui-g-4 text-right ui-g-nopad"> 合同照片：</label>
          <div class="ui-g-4 ui-g-nopad">
            <input maxlength="250" type="file" #contractPhotoFile name="contractPhotoFile" accept="image/*" />
          </div>
        </div>

        <div class="ui-g-12 text-center" style="padding:10px">
          <button (click)="editCustomer();" pButton type="submit" label="确认"></button>
          <button (click)="onCancel();" pButton type="button" class="ui-button-secondary" label="取消"></button>
        </div>
      </form>
    </p-dialog>
  </div>

  <!-- 删除功能 -->
  <p-dialog header="删除通知" [(visible)]="displayDeleteDialog" [closeOnEscape]="false" [width]="500" [minWidth]="500" [modal]="true">
    <div>确认删除
      <b> {{ willDeleteCustomer?.userName }} </b>吗？</div>
    <p-footer>
      <button type="button" (click)="deleteCustomer()" pButton label="确认"></button>
      <button type="button" (click)="onCancel();" pButton label="取消" class="deletebtn"></button>
    </p-footer>
  </p-dialog>
</div>