.repricing-list{
  padding-top:80px;
  padding-left:10px;
  [class^='ui-g']{
    padding:0;
  }
}
.main{
  left: 90px;
  .time{
    height: 45px;
    line-height: 45px;
  }
}
.searchBtn {
  border-radius: 4px;
  width: 80px;
  font-size: 1em;
  background: #3186dc;
  text-align: center
}
.deleteBtn {
  border-radius: 4px;
  width: 80px;
  font-size: 1em;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #ccc;
  color: black;
}