<!-- 左侧二级菜单 -->
<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <h3>充装监管设置</h3>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="充装秤管理" [routerLink]="['list']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="锁秤记录" [routerLink]="['history']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12" *gasPermissionRole="[RoleType.Admin]">
      <button pButton type="button" label="充装监管规则设置" [routerLink]="['set-rule']" routerLinkActive="link-active"></button>
    </div>
  </div>
</div>

<!-- 右侧内容区 -->
<div class="main">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>
