<div class="ui-g-12">
  <div class="ui-g-12">
    所在区：
    <p-dropdown [options]="regions" [(ngModel)]="selectedRegionId" [style]="{'width':'150px'}" (onChange)="search()"></p-dropdown>
  </div>
  <div class="ui-g-12">
    <p-dataTable [value]="enterpriseRegisterStatistic" emptyMessage="未查询到数据" [paginator]="true" [rows]="statisticPageSize" [lazy]="true"
      [(first)]="statisticFirst" (onLazyLoad)="onStatisticPageChange($event)" scrollable="true" [totalRecords]="statisticTotal"
      [rowsPerPageOptions]="[1,5,10,20,40]">
      <p-column header="序号" [style]="{'width':'50px'}">
        <ng-template pTemplate="body" let-index="rowIndex">
          {{index + 1}}
        </ng-template>
      </p-column>
      <p-column field="regionName" header="所在区" [style]="{'width':'30%'}"></p-column>
      <p-column field="enterpriseName" header="登记企业"></p-column>
      <p-column field="count" header="登记数量"></p-column>
      <p-column header="操作" [style]="{'width':'100px'}">
        <ng-template let-record="rowData" pTemplate="body">
          <a href="javascript:0;" (click)="showDetail(record)">查看详情</a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

<p-dialog [visible]="detailVisible" header="详情查看" [closable]="false" [modal]="true" [width]="960" [responsive]="true" [style]="{'border':'none'}"
  positionTop="50">
  <div class="ui-g-12">
    <p-dataTable [value]="customerRegisterRecords" emptyMessage="未查询到数据" [paginator]="true" [rows]="recordPageSize" [lazy]="true"
      scrollHeight="360px" (onLazyLoad)="onRecordPageChange($event)" [scrollable]="true" [totalRecords]="recordTotal" [rowsPerPageOptions]="[5,10,20,40]">
      <p-column [style]="{'width':'150px'}" field="regionName" header="所在区"></p-column>
      <p-column [style]="{'width':'150px'}" field="userName" header="用户名称"></p-column>
      <p-column [style]="{'width':'150px'}" field="userType" header="客户类型"></p-column>
      <p-column [style]="{'width':'150px'}" field="certificateName" header="证件名称"></p-column>
      <p-column [style]="{'width':'150px'}" field="principal" header="姓名"></p-column>
      <p-column [style]="{'width':'150px'}" field="certificateId" header="证件号码"></p-column>
      <p-column [style]="{'width':'150px'}" field="certificateAddress" header="证件地址"></p-column>
      <p-column [style]="{'width':'150px'}" field="enterpriseOrganizationCode" header="营业执照"></p-column>
      <p-column [style]="{'width':'150px'}" field="address" header="注册地址"></p-column>
      <p-column [style]="{'width':'150px'}" field="legalRepresentative" header="法定代表人"></p-column>
      <p-column [style]="{'width':'150px'}" field="deliveryAddress" header="居住地址"></p-column>
      <p-column [style]="{'width':'150px'}" field="principal" header="联系人"></p-column>
      <p-column [style]="{'width':'150px'}" field="phone" header="联系电话"></p-column>
      <p-column [style]="{'width':'150px'}" field="contractNo" header="合同编号"></p-column>
      <p-column [style]="{'width':'150px'}" field="contractEffectiveDate" header="合同开始期">
        <ng-template let-record="rowData" pTemplate="body">
          {{ record.contractEffectiveDate | date: 'yyyy-MM-dd'}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="contractDeadline" header="合同截止期">
        <ng-template let-record="rowData" pTemplate="body">
          {{ record.contractDeadline | date: 'yyyy-MM-dd'}}
        </ng-template>
      </p-column>
      <!-- <p-column [style]="{'width':'150px'}" field="date" header="附件"></p-column> -->
    </p-dataTable>
  </div>
  <p-footer>
    <button type="button" pButton (click)="detailVisible=false" label="确定"></button>
  </p-footer>
</p-dialog>
