<div class="ta-c card ui-g-12" *ngIf="loading!=0">
  <h2>查不到此信息</h2>
</div>
<div *ngIf="loading===0" class="ui-g-12 card">
  <div class="cylinder-detail ">
    <div class="ui-g-12">
      <div class="ui-g-12 padding-none">
        <div class="ui-g-6 padding-none">
          <span class="span_gasleft bg_colorR">客户名称</span>
          <span class="span_textleft">{{detailLists.userName}}</span>
        </div>
        <div class="ui-g-6 padding-none">
          <span class="span_gasright bg_colorR">性别</span>
          <span class="span_textright">{{detailLists.gender}}</span>
        </div>
      </div>
      <div class="ui-g-12 padding-none">
        <div class="ui-g-6 padding-none">
          <span class="span_gasleft bg_colorR">证件类型</span>
          <span class="span_textleft">{{detailLists.certificateName}}</span>
        </div>
        <div class="ui-g-6 padding-none">
          <span class="span_gasright bg_colorR">证件号</span>
          <span class="span_textright">{{detailLists.certificateId}}</span>
        </div>
      </div>
      <div class="ui-g-12 padding-none">
        <span class="span_gasaddress bg_colorR">证件地址</span>
        <span class="span_textaddress">{{detailLists.certificateAddress}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR">用户类型</span>
        <span class="span_textleft">{{detailLists.userTypeName}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR">负责人</span>
        <span class="span_textright">{{detailLists.principal}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR">联系人</span>
        <span class="span_textleft">{{detailLists.linkman}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR">联系电话</span>
        <span class="span_textright">{{detailLists.phone}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR">派送地址</span>
        <span class="span_textleft">{{detailLists.deliveryAddress}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR">配送工</span>
        <span class="span_textright">{{ detailLists.dispatcherName }}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR">登记时间</span>
        <span class="span_textleft">{{detailLists.registrationTime | date: "y-MM-dd"}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR">登记人</span>
        <span class="span_textright">{{detailLists.registrant}}</span>
      </div>
      <div class="ui-g-12 padding-none">
        <div class="photo-container">
          <div class="ui-g-12">证件(附件)</div>
          <ng-container *ngFor="let image of certificateAppendixImages">
            <a href="{{image.source}}" target="_blank" title="新标签页打开">
              <img src="{{image.source}}" class="photo-view">
            </a>
          </ng-container>
        </div>
        <div class="photo-container">
          <div class="ui-g-12">合同(附件)</div>
          <ng-container *ngFor="let image of contractAppendixImages">
            <a href="{{image.source}}" target="_blank" title="新标签页打开">
              <img src="{{image.source}}" class="photo-view">
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4 padding-none padding-none">
        <span class="span_detail bg_color01">所属行政区域</span>
        <span class="span_detail01">{{detailLists.regionName}}</span>
      </div>
      <div class="ui-g-4 padding-none ">
        <span class="span_detail bg_color01">所属企业名称</span>
        <span class="span_detail01">{{detailLists.corpName}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01">站点</span>
        <span class="span_detail01">{{detailLists.stationName}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01"> 使用状态</span>
        <span class="span_detail01">{{detailLists.status}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01">用户编码</span>
        <span class="span_detail01">{{detailLists.userNumber}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01">在用气瓶数</span>
        <span class="span_detail01">
          <a (click)="showDialog()" class="detail-href">{{detailLists.gcCount}}</a>
        </span>
      </div>
    </div>

  </div>
  <div>
    <div class="ui-g-12">
      <span>{{detailList.length?detailList.length:0}}</span>个查询结果：
    </div>
    <div class="ui-g-12 result-container">
      <div *ngIf="!detailList.length">无查询结果</div>
      <div *ngIf="detailList.length">
        <div class="ui-g-8 padding-none" (click)="ondetail(i)" *ngFor="let DetailList of detailList,let i=index">
          <div class="ui-g-1 user-result">{{i+1}}</div>
          <div class="ui-g-3 user-result">{{DetailList.certificateId?DetailList.certificateId:'无'}}</div>
          <div class="ui-g-2 user-result">{{DetailList.userName?DetailList.userName:'无'}}</div>
          <div class="ui-g-2 user-result">{{DetailList.deliveryAddress?DetailList.deliveryAddress:'无'}}</div>
          <div class="ui-g-2 user-result">{{DetailList.userNumber?DetailList.userNumber:'无'}}</div>
          <div class="ui-g-2 user-result">{{DetailList.phone?DetailList.phone:'无'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [visible]="cylinderVisible" [responsive]="true" [showHeader]="false" [modal]="true" [closable]="false" [width]="800"
  [contentStyle]="{'padding':'0'}" [style]="{'border':'none'}">
  <h3 class="title">用户在用气瓶详情</h3>
  <div class="ui-g-12 ">
    <p-dataTable [value]="dataTablelist" [lazy]="true" dataKey="gasLabelNumber" [paginator]="true" [rows]="pageSize" [scrollable]="false"
      scrollHeight="510px" [rowsPerPageOptions]="pageOption" [totalRecords]="total" (onLazyLoad)="onPageChange($event)" [(first)]="first">
      <p-column [style]="{'width':'100px'}" header="序号">
        <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
          <span>{{index+1}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="gasLabelNumber" header="条码">
        <ng-template let-col let-cylinder="rowData" pTemplate="body">
          {{ cylinder.gasLabelNumber }}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'80px'}" field="regionName" header="所属行政区"></p-column>
      <p-column [style]="{'width':'150px'}" field="enterpriseName" header="经营企业"></p-column>
      <p-column [style]="{'width':'100px'}" field="type" header="气瓶规格"></p-column>
      <p-column [style]="{'width':'100px'}" field="fillingMedium" header="充装介质"></p-column>
      <p-column [style]="{'width':'80px'}" field="serviceCondition" header="状态"></p-column>
      <p-column [style]="{'width':'100px'}" header="制造年月">
        <ng-template let-first="rowData" pTemplate="body">
          <span>{{first.productionDate|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'100px'}" header="末检日期">
        <ng-template let-end="rowData" pTemplate="body">
          <span>{{end.endCheckDate|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'100px'}" header="下检日期">
        <ng-template let-next="rowData" pTemplate="body">
          <span>{{next.nextCheckDate|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'100px'}" field="serialNumber" header="出厂编号"></p-column>
      <p-column [style]="{'width':'100px'}" field="enterpriseCylinderCode" header="自有编号"></p-column>
      <p-column [style]="{'width':'100px'}" field="electronNumber" header="电子编号（预留）"></p-column>
      <p-column [style]="{'width':'100px'}" field="area13" header="登记时间"></p-column>
      <p-column [style]="{'width':'100px'}" field="productionUnit" header="制造单位"></p-column>

      <ng-template pTemplate="emptymessage">
        <div class="text-left">
          未查询到数据
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorRight">
          共 {{ total || 0 }} 条记录
      </ng-template>
    </p-dataTable>
  </div>
  <p-footer>

    <button type="button" pButton icon="fa-close" (click)="cylinderVisible=false" label="关闭"></button>
  </p-footer>
</p-dialog>
