<div class="ui-g dispatcher">
  <div class="ui-g-2">
    <div class="input-group">
      <label for="">企业</label>
      <p-dropdown [options]="dropdown.companyOpt" [(ngModel)]="searchParams.enterpriseId" [style]="{'width':'calc(90% - 30px)'}"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-2">
    <div class="input-group">
      <label for="">状态</label>
      <p-dropdown [options]="dropdown.stateOpt" [(ngModel)]="searchParams.status" [style]="{'width':'calc(90% - 30px)'}"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-3">
    <div class="ui-g-6">
      <div class="input-group">
        <label for="">姓名</label>
        <input type="text" pInputText style="width:calc(90% - 30px)" [(ngModel)]="searchParams.name" />
      </div>
    </div>
    <div class="ui-g-6">
      <div class="input-group">
        <label for="">工号</label>
        <input type="text" pInputText style="width:calc(90% - 30px)" [(ngModel)]="searchParams.jobNumber" />
      </div>
    </div>
  </div>
  <div class="ui-g-5">
    <div class="ui-g-4">
      <div class="input-group">
        <label for="">手机号码</label>
        <input type="text" class="phone" pInputText style="width:calc(90% - 60px)" [(ngModel)]="searchParams.phone" />
      </div>
    </div>
    <div class="ui-g-4">
      <div class="input-group">
        <label for="">身份证号</label>
        <input type="text" pInputText style="width:calc(90% - 60px)" [(ngModel)]="searchParams.idNumber" />
      </div>
    </div>
    <div class="ui-g-4 text-center">
      <button id="searchBtn" pButton type="button" label="搜索" icon="fa-search" (click)="onSearch()"></button>
    </div>
  </div>
  <div class="ui-g-12">
    <p-dataTable [value]="dataTable.list" dataKey="idNumber" [paginator]="true" [rows]="dataTable.pageOpt[0]" 
      scrollable="true" scrollHeight="510px" [lazy]="true" [rowsPerPageOptions]="dataTable.pageOpt" 
      [totalRecords]="dataTable.total" (onLazyLoad)="onPageChange($event)" [(first)]="dataTable.first">
      <p-column [style]="{'width':'100px'}" header="序号">
        <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
          <span>{{index+1}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'100px'}" field="name" header="姓名"></p-column>
      <p-column [style]="{'width':'120px'}" field="jobNumber" header="工号"></p-column>
      <p-column [style]="{'width':'150px'}" field="licensePlateNumber" header="车牌号"></p-column>
      <p-column [style]="{'width':'150px'}" field="subsidiaryEnterprises" header="所属企业"></p-column>
      <p-column [style]="{'width':'150px'}" field="supplyStation" header="所属供应站"></p-column>
      <p-column [style]="{'width':'150px'}" field="sex" header="性别"></p-column>
      <p-column [style]="{'width':'120px'}" field="birthday" header="出生年月"></p-column>
      <p-column [style]="{'width':'180px'}" field="idNumber" header="身份证号"></p-column>
      <p-column [style]="{'width':'120px'}" field="phone" header="电话号码"></p-column>
      <p-column [style]="{'width':'100px'}" field="" header="头像"></p-column>
      <p-column [style]="{'width':'100px'}" field="" header="二维码"></p-column>
      <p-column [style]="{'width':'70px'}" field="status" header="状态"></p-column>
      <p-column [style]="{'width':'100px'}" field="dangerousGoodsTransportLicenseNumber" header="危险品运输许可证编号"></p-column>
      <p-column [style]="{'width':'100px'}" header="到期时间">
        <ng-template let-rowData="rowData" pTemplate="body">
          <span>{{rowData.expirationTime|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'100px'}" header="创建时间">
        <ng-template let-rowData="rowData" pTemplate="body">
          <span>{{rowData.creationTime|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'100px'}" header="修改时间">
        <ng-template let-rowData="rowData" pTemplate="body">
          <span>{{rowData.modificationTime|date:"yyyy-MM-dd"}}</span>
        </ng-template>
      </p-column>

      <ng-template pTemplate="emptymessage">
        <div class="text-left">
          未查询到数据
        </div>
      </ng-template>

    </p-dataTable>
  </div>
</div>

