.manage{
  // margin:70px 10px 10px 10px;
  // border:1px solid #666;
  border-radius:4px;
  // padding:10px 20px 0px 20px;
  min-height: 400px;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  // [class^='ui-g']{
  //   padding:0;
  // }
  h1{
    margin:0;
    font-size: 20px;
  }
  a{
    color:  #4e89be;
  }
  form{
    padding-bottom:10px;
    h1{
      background:#9cf;
      padding:8px;
    }
    button{
      margin:0px 15px;
    }
    .warn{
      color:#f00;
    }
    .interval{
      width: calc(100% - 20px);
    }
  }

}