<div class="ui-g-12 GIS-setting">
  <h2 class="title">
    GIS默认图层配置
    <!-- <gas-explanation tooltip="" position="bottom"></gas-explanation> -->
  </h2>
  <div class="ui-g">
    <div class="ui-g-12 ui-g-offset-5 magin">
      <span class="search-label">矢量图</span>
      <p-radioButton name="map" value="shiliang" [(ngModel)]="selectedValue"></p-radioButton>
    </div>
    <div class="ui-g-12 ui-g-offset-5 magin">
      <span class="search-label">影像图</span>
      <p-radioButton name="map" value="yingxiang" [(ngModel)]="selectedValue"></p-radioButton>
    </div>
    <div class="ui-g-12 ui-g-offset-5 magin">
      <button pButton type="button" label="保存" class="searchBtn" (click)="save()" ></button>
    </div>
  </div>
</div>
