.manage{
  a{
    color:  #3186dc;
  }
  .warn{
    color:#f00;
  }
  // .searchBtn {
  //   border-radius: 4px;
  //   width: 96px;
  //   height: 45px;
  //   font-size: 1em;
  //   background: #3186dc;
  // }
  .ui-button-secondary{
    border-radius: 4px;
    width: 96px;
    height: 45px;
    font-size: 1em;
  }
}