<div class="ui-g-12 container">
  <div class="ui-g-12">
    <div class="ui-g-4">
    </div>
    <div class="ui-g-4">
      <h2>
        <i class="fa fa-id-card-o fa-fw" aria-hidden="true"></i>个人信息档案
      </h2>
    </div>
    <div class="ui-g-4">
      <button type="button" pButton icon="fa-pencil" (click)="showUpdatePwdDialog()" label="修改密码"></button>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-6">
      <div class="ui-g-12">
        姓名：{{ user?.username }}
      </div>
      <div class="ui-g-12">
        工号：
      </div>
      <div class="ui-g-12">
        联系方式：{{ user?.phone }}
      </div>
      <div class="ui-g-12">
        所属企业：{{ user?.organizationName }}
      </div>
      <div class="ui-g-12">
        最后登录时间：{{ user?.lastLoginTime }}
      </div>
      <div class="ui-g-12" *ngIf="user==='配送工'">
        配送工统一编码：{{ user?.userName }}
      </div>
    </div>
    <div class="ui-g-6">
      <div class="ui-g-12">
        性别：
      </div>
      <div class="ui-g-12">
        部门：
      </div>
      <div class="ui-g-12">
        证件号码：
      </div>
      <div class="ui-g-12">
        工种：
      </div>
    </div>
  </div>
</div>

<p-dialog [visible]="updatePwdDialogVisiable" header="修改密码" [closable]="false" [modal]="true" [width]="480" [responsive]="true"
  [style]="{'border':'none'}">
  <div class="ui-g-12">
    <div class="ui-g-12">
      <div class="ui-g-3">
        原密码：
      </div>
      <div class="ui-g-9">
        <input type="password" [(ngModel)]="updatePasswordForm.oldPassword" pInputText placeholder="原密码" maxlength="20">
      </div>
      <div class="ui-g-3">
        新密码：
      </div>
      <div class="ui-g-9">
        <input type="password" [(ngModel)]="updatePasswordForm.newPassword" pInputText placeholder="新密码" maxlength="20">
      </div>
    </div>
    <div class="ui-g-4">
    </div>
    <div class="ui-g-8">
      <button type="button" pButton icon="fa-check" (click)="updatePassword()" label="确定"></button>
      <button type="button" pButton icon="fa-close" (click)="updatePwdDialogVisiable=false" label="取消" class="ui-button-secondary"></button>
    </div>
  </div>
</p-dialog>
