<div class="ui-g-nopad header">
  <div class="shortcut">
    <img src="./assets/img/bigScreen.png" *gasPermissionRole="[RoleType.Government,RoleType.Admin]" [routerLink]="['/visualization/big-screen']"
      class="shortcut-left" alt="主页" title="大屏展示">
      <sub style="right: 287px" *gasPermissionRole="[RoleType.Government,RoleType.Admin]">大屏展示</sub>
    <img src="./assets/img/home.png" [routerLink]="['/home']" class="shortcut-left" alt="主页" title="主页">
    <sub style="right: 218px;">主页</sub>
    <img src="./assets/img/personal-info.png" [routerLink]="['/system/user']" class="shortcut-left" alt="个人信息" title="个人信息">
    <sub style="right: 120px;">个人信息</sub>
    <img src="./assets/img/loginout.png" class="shortcut-right" alt="退出" title="退出" (click)="logout()">
    <sub style="right: 50px;">退出</sub>
  </div>
  <img src="./assets/img/gov-logo.png" class="logo" alt="">
  <span></span>
</div>