.user-info {
  span {
    &.required {
      color: red;
    }
  }
  .tips {
    .warning {
      color: red;
      text-decoration-line: underline;
    }
    strong {
      text-decoration-line: underline
    }
  }
  hr {
    border-top: none;
    border-bottom: 1px dashed grey;
  }
  .ui-fileupload-choose {
    color: red;
  }
}
