.user-info {
    span {
        &.required {
            color: red;
        }
    }
    .tips {
        .warning {
            color: red;
        }
    }
    hr {
        border-top: none;
        border-bottom: 1px dashed grey;
    }
    .ui-fileupload-choose {
        color: red;
    }
    .searchBtn {
        margin-left: 20px;
        border-radius: 4px;
        font-size: 16px;
        height: 36px;
        width: 80px;
        background: #3186dc;
    }
}