.cylinderList {
  // overflow: auto;
  // div[class^="ui"] {
  //   padding: 0;
  // }
  .search-label {
    width: 90px;
    display: inline-block;
    color: rgb(102, 102, 102);
  }
  .padding {
    padding: 5px 15px;
  }
  .padding-bottom {
    margin-bottom: 10px;
  }

  .searchBtn {
    // margin-top: 10px;
    // margin-left: 15px;
    // height: 65px;
    // width: 90px;
    // font-size: 1.3em;
    font-weight: bold;
    border-radius: 5px;
  }
  .textInput {
    width: 280px;
  }
  a {
    color: #3399ff;
  }
}
