<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <button pButton type="button" label="气瓶信息概览" [routerLink]="['./overview/county']"></button>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="综合查询" [routerLink]="['./list']"></button>
    </div>
  </div>
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">气瓶条码</div>
    <div class="ui-g-12">
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
    </div>
    <div class="ui-g-12">
      <input type="text" pInputText [(ngModel)]="gasInput" placeholder="请输入气瓶条码">
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="查询" [routerLink]="['./detail',gasInput]"></button>
    </div>
  </div>
</div>
<div class="ui-g-12 main">
  <router-outlet></router-outlet>
</div>
