<div class="ui-g-12 customer-list card">
  <form class="ui-g padding" [formGroup]="formModel" (submit)="onSearch();">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label"> 所在区域：</span>
        <p-dropdown [options]="dropdown.region" [style]="{'width':'280px'}" formControlName="regionId" (onChange)="onChangeAreaID($event)"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label">供气企业：</span>
        <p-dropdown [options]="dropdown.corp" [style]="{'width':'280px'}" formControlName="enterpriseNumber"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label">用户名称：</span>
        <input class="textInput" type="text" pInputText formControlName="userName">
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label">地&#12288;&#12288;址：</span>
        <input class="textInput" type="text" pInputText formControlName="address">
      </div>
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label"> 客户类别：</span>
        <p-dropdown [options]="dropdown.userType" [style]="{'width':'280px'}" formControlName="userTypeId"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <p-checkbox name="group1" label="只看有合同" formControlName="haveContract" binary="true"></p-checkbox>
      </div>
      <div class="ui-g-12 ui-lg-4">
        <button pButton type="submit" label="查询" class="searchBtn"></button>
      </div>
    </div>
  </form>
  <div class="ui-g">
    <!-- <div class="ui-g-12"> -->
      <p-dataTable [value]="dataTable.list" [lazy]="true" dataKey="userNumber" [paginator]="true" [rows]="dataTable.option[2]"
        [scrollable]="false" [rowsPerPageOptions]="dataTable.option" [totalRecords]="dataTable.total" (onLazyLoad)="onPageChange($event)"
        [(first)]="dataTable.first">
        <p-column [style]="{'width':'100px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="userIdentityCardNumber" header="用户卡号">
          <ng-template let-col let-user="rowData" pTemplate="body">
            <a href="javascript:0;" [routerLink]="['../detail', {city:'330300',type:'userCardNumber',typeNumber:user.userIdentityCardNumber||''}]"
              title="点击查看用户祥情">
              {{ user.userIdentityCardNumber }}
            </a>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'80px'}" field="userName" header="燃气用户">
        </p-column>
        <p-column [style]="{'width':'120px'}" header="操作">
          <ng-template let-col let-rowData="rowData" pTemplate="body">
            <a href="javascript:void(0);" [routerLink]="['/government/delivery/cylinder-trace/cylinder-record/4']" [queryParams]="{liabilityName:rowData.userName,liabilityNumber:rowData.userNumber,liabilitySubjectType:4}"
              title="{{'点击查询流转记录' }}">查看流转记录</a>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'80px'}" field="regionName" header="所属行政区"></p-column>
        <p-column [style]="{'width':'180px'}" field="address" header="地址"></p-column>
        <p-column [style]="{'width':'150px'}" field="dispatcherName" header="配送工"></p-column>
        <p-column [style]="{'width':'150px'}" field="enterpriseName" header="供气企业"></p-column>
        <p-column [style]="{'width':'80px'}" field="userType" header="客户类别"></p-column>
        <p-column [style]="{'width':'80px'}" field="userNature" header="用户性质"></p-column>
        <p-column [style]="{'width':'80px'}" field="certificateName" header="证件类型"></p-column>
        <p-column [style]="{'width':'200px'}" field="certificateId" header="证件编号"></p-column>
        <p-column [style]="{'width':'80px'}" field="principal" header="负责人"></p-column>
        <p-column [style]="{'width':'150px'}" field="phone" header="联系电话"></p-column>
        <!-- <p-column [style]="{'width':'50px'}" field="gcCount" header="在用气瓶数"></p-column> -->
        <p-column [style]="{'width':'150px'}" field="contractNo" header="合同编号"></p-column>
        <p-column [style]="{'width':'150px'}" header="合同有效期">
          <ng-template let-rowData="rowData" pTemplate="body">
            <span>{{rowData.contractDeadLine|date:"yyyy-MM-dd"}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="contractAppendixUrl" header="合同附件"></p-column>

        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTable.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
    <!-- </div> -->
  </div>

</div>
