<div class="ui-g layout">
  <div class="ui-g-nopad header">
    <img src="./assets/img/gov-logo.png" class="logo" alt="">
    <span>温州市瓶装燃气信息化监管平台</span>
    <div class="shortcut">
      <img src="./assets/img/personal-info.png" [routerLink]="['/government/system/user']" class="shortcut-left" alt="个人信息" title="个人信息">
      <img src="./assets/img/logout.png" class="shortcut-right" alt="退出" title="退出" (click)="logout()">
    </div>
  </div>
  <!-- <div class="breadcrumb">
    <h2>面包屑</h2>
  </div> -->
  <div class="ui-g-nopad menu">
    <p-tieredMenu [model]="menus"></p-tieredMenu>
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <router-outlet></router-outlet>
  </div>

</div>
