<div class="login">
  <div class="messgae">
    <div class="messgae-container">
      <h2 class="head">通知</h2>
      <div class="ui-g">

        <div class="ui-g-12 ms-box " *ngFor="let item of messageList1">
          <a [href]="item?.fileUrl" target="_blank">
            <div class="ui-g-8 ui-g-nopad content-h" [title]="item.title">
              {{item.title}}
            </div>
          </a>
          <div class="ui-g-4 content-h ui-g-nopad" [title]="item.createTime | date:'yyyy-MM-dd'">
            {{item.createTime | date:'yyyy-MM-dd'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login-wrapper">
    <div id="login-container">
      <span class="title">温州市瓶装燃气信息化监管平台</span>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-g-nopad">
          <label for="" class="ui-g-4">用户名:</label>
          <div class="ui-g-8">
            <input type="text" autocomplete="off" [(ngModel)]="userName" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
              placeholder="用户名" maxlength="50" id="txtUserName" name="userName">
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <label for="" class="ui-g-4">密码:</label>
          <div class="ui-g-8">
            <input type="password" autocomplete="off" [(ngModel)]="password" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
              placeholder="密码" maxlength="50" (keyup.enter)="signIn()" id="txtUserPass" name="password">
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
        <span class="remember-me">是否记住账号和密码</span>
        <input type="checkbox" id="chkRememberPass" [(ngModel)]='chkRememberPass'>
     </div>
        <!--<div class="ui-g-12 ui-md-6 ui-g-offset-6 ui-g-nopad">-->
        <!--<a href="#">忘记密码</a>-->
      <!--</div>-->
        <div class="ui-g-12">
          <button (click)="signIn()" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
            <span class="ui-button-text ui-c">登录</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
