<div class="login">
  <div id="login-wrapper">
    <div id="login-container">
      <span class="title">智慧燃气安全监督大数据平台</span>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-g-nopad">
          <label for="" class="ui-g-4">用户名:</label>
          <div class="ui-g-8">
            <input type="text" autocomplete="off" [(ngModel)]="userName" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
              placeholder="用户名">
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <label for="" class="ui-g-4">密码:</label>
          <div class="ui-g-8">
            <input type="password" autocomplete="off" [(ngModel)]="password" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
              placeholder="密码">
          </div>
        </div>
        <!-- <div class="ui-g-12 ui-md-6">
        <span class="remember-me">记住我</span>
        <input type="checkbox">
      </div> -->
        <!-- <div class="ui-g-12 ui-md-6 ui-g-offset-6 ui-g-nopad">
        <a href="#">忘记密码</a>
      </div> -->
        <div class="ui-g-12">
          <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
            <span class="ui-button-text ui-c" (click)="signIn()">登录</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
