<div class="breadcrumb">
  <i *ngIf="sidebar.element && main.element" class="fa fa-bars navbar-toggle" (click)="toggleSidebar()" title="点击显示/隐藏侧边栏"></i>
  <ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last=last>
    <div class="breadcrumb-item" *ngIf="breadcrumb.label.title" [ngClass]="{active: last}">
      <a *ngIf="!last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</a>
      <span *ngIf="last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</span>
    </div>
  </ng-template>
</div>
