<div class="ui-g-12 search">
  <form class="ui-g-12">

    <div class="ui-g-12 ui-lg-6">
      <span class="search-label">企业</span>
      <p-dropdown [options]="dropdown.company" [filter]="true" [(ngModel)]="formModel.company" name="company" [style]="{'width':'280px'}"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-lg-6">
      <label class="search-label">车辆类型</label>
      <p-dropdown [options]="dropdown.carType" [(ngModel)]="formModel.carType" name="carType" [style]="{'width':'280px'}"></p-dropdown>
    </div>

    <div class="ui-g-12 ui-lg-6">
      <label class="search-label">车牌号</label>
      <p-autoComplete [(ngModel)]="formModel.carNumber" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="3"
        autoHighlight="true" emptyMessage="请输入正确的车牌号" [style]="{'width':'280px'}" name="carNumber" placeholder="请输入车牌号" (onBlur)="onBlurAutoComplete()"
        field="carNumber">
        <ng-template let-value pTemplate="item">
          <span>
            {{value.carNumber}}---{{value.ownerName}}
          </span>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="ui-g-12">
      <button class="searchBtn" pButton type="button" label="搜索" (click)="onSubmit();"></button>
    </div>

  </form>
  <div class="ui-g-12">
    <p-dataTable [value]="dataTable.list" dataKey="idNumber" [paginator]="true" [rows]="dataTable.option[2]" [scrollable]="false"
      [lazy]="true" [rowsPerPageOptions]="dataTable.option" [totalRecords]="dataTable.total" (onLazyLoad)="onPageChange($event)"
      [(first)]="dataTable.first">
      <p-column [style]="{'width':'80px'}" header="序号">
        <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
          <span>{{index+1}}</span>
        </ng-template>
      </p-column>

      <p-column [style]="{'width':'110px'}" field="carNumber" header="车牌号"></p-column>
      <p-column [style]="{'width':'100px'}" field="enterpriseName" header="企业名称"></p-column>
      <p-column [style]="{'width':'100px'}" field="driverName" header="驾驶员"></p-column>
      <p-column [style]="{'width':'100px'}" field="carCarrierName" header="押运员"></p-column>
      <p-column [style]="{'width':'100px'}" field="transportLicense" header="运输许可证"></p-column>
      <p-column [style]="{'width':'80px'}" field="typeOfVehicle" header="车辆类型"></p-column>
      <p-column [style]="{'width':'60px'}" field="ownerName" header="车主名称"></p-column>
      <p-column [style]="{'width':'50px'}" field="ownerType" header="车主类型"></p-column>
      <p-column [style]="{'width':'100px'}" field="maxCapacity" header="载重量（KG）"></p-column>
      <p-column [style]="{'width':'70px'}" field="maxCylinderNum" header="载运气瓶数"></p-column>

      <ng-template pTemplate="emptymessage">
        <div class="text-left">
          未查询到数据
        </div>
      </ng-template>
      <ng-template pTemplate="paginatorRight">
        共 {{ dataTable.total || 0 }} 条记录
      </ng-template>
    </p-dataTable>
  </div>
</div>
