<div class="cylinder-detail">
  <div class="ui-g-12">
    <div class="ui-g-6 padding-none">
      <span class="span_gasleft bg_colorR">客户名称</span>
      <span class="span_textleft">11</span>
    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasright bg_colorR">性别</span>
      <span class="span_textright">11</span>
    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasleft bg_colorR">证件类型</span>
      <span class="span_textleft">11</span>

    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasright bg_colorR">证件号</span>
      <span class="span_textright">11</span>
    </div>
    <div class="ui-g-12 padding-none">
      <span class="span_gasaddress bg_colorR">证件地址</span>
      <span class="span_textaddress">浙江省温州市乐清市白象镇</span>

    </div>


    <div class="ui-g-6 padding-none">
      <span class="span_gasleft bg_colorR">用户性质</span>
      <span class="span_textleft">11</span>
    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasright bg_colorR">负责人</span>
      <span class="span_textright">11</span>

    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasleft bg_colorR">联系人</span>
      <span class="span_textleft">11</span>
    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasright bg_colorR">联系电话</span>
      <span class="span_textright">11</span>

    </div>
    <div class="ui-g-12 padding-none">
      <span class="span_gasaddress bg_colorR">联系地址</span>
      <span class="span_textaddress">11</span>
    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasleft bg_colorR">登记时间</span>
      <span class="span_textleft">11</span>

    </div>
    <div class="ui-g-6 padding-none">
      <span class="span_gasright bg_colorR">登记人</span>
      <span class="span_textright">11</span>
    </div>
    <!-- <div class=" bg_colorR photo-head">照片</div>
    <div class="photo-content">
      <img src="./assets/img/u44.png" class="photo-view">
      
      <img src="./assets/img/u44.png" class="photo-view">
    </div> -->
    <!-- ng-src -->
    <div class="ui-g-12 padding-none">
      <div class="photo-container">
        <div class="ui-g-12">证件(附件)</div>
        <img src="./assets/img/u44.png" class="photo-view">
        <img src="./assets/img/u44.png" class="photo-view">
        <img src="./assets/img/u44.png" class="photo-view">
      </div>
      <div class="photo-container">
        <div class="ui-g-12">合同(附件)</div>
        <img src="./assets/img/u44.png" class="photo-view">
        <img src="./assets/img/u44.png" class="photo-view">
      </div>
    </div>
  </div>
  <div class="ui-g-12" *ngFor="let detailList of detailList">
    <div class="ui-g-4 padding-none padding-none">
      <span class="span_detail bg_color01">所属行政区域</span>
      <span class="span_detail01">{{detailList.borough}}</span>
    </div>
    <div class="ui-g-4 padding-none ">
      <span class="span_detail bg_color01">所属企业名称</span>
      <span class="span_detail01">{{detailList.enterpriseName}}</span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">站点</span>
      <span class="span_detail01">{{detailList.serviceCondition}}</span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">客户代码</span>
      <span class="span_detail01">{{detailList.borough}}</span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">用户编码</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">在用气瓶数</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">当前持有者身份</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">当前流转环节起始时间</span>
      <span class="span_detail01"></span>
    </div>
    <div class="ui-g-4 padding-none">
      <span class="span_detail bg_color01">
      </span>
      <span class="span_detail01"></span>
    </div>
  </div>
  <div class="ui-g-12">
    <span>1</span>个查询结果：</div>
  <div class="ui-g-12 result-container">
    <div class="ui-g-8 padding-none">
      <div class="ui-g-1 user-result">1.</div>
      <div class="ui-g-2 user-result">337123312</div>
      <div class="ui-g-2 user-result">李安全</div>
      <div class="ui-g-3 user-result">浙江省温州市乐清市白象镇</div>
      <div class="ui-g-2 user-result">zws22122</div>
      <div class="ui-g-2 user-result">1234674628</div>
    </div>
    <div class="ui-g-8 padding-none">
      <div class="ui-g-1 user-result">2.</div>
      <div class="ui-g-2 user-result">337123312</div>
      <div class="ui-g-2 user-result">李安全</div>
      <div class="ui-g-3 user-result">浙江省温州市乐清市白象镇</div>
      <div class="ui-g-2 user-result">zws22122</div>
      <div class="ui-g-2 user-result">1234674628</div>
    </div>
    <div class="ui-g-8 padding-none">
      <div class="ui-g-1 user-result">3.</div>
      <div class="ui-g-2 user-result">337123312</div>
      <div class="ui-g-2 user-result">李安全</div>
      <div class="ui-g-3 user-result">浙江省温州市乐清市白象镇</div>
      <div class="ui-g-2 user-result">zws22122</div>
      <div class="ui-g-2 user-result">1234674628</div>
    </div>
  </div>
</div>
