<div class="ui-g-12 ta-c" *ngIf="loading!=0">
  <h2>查不到此信息</h2>
</div>
<div *ngIf="loading===0" class="ui-g-12">
  <div class="ui-g-12 cylinder-detail">
    <div class="ui-g-12">
      <div class="ui-g-12 padding-none">
        <div class="ui-g-6 padding-none">
          <span class="span_gasleft bg_colorR" title="客户名称">客户名称</span>
          <span class="span_textleft" [title]="detailLists.userName">{{detailLists.userName}}</span>
        </div>
        <div class="ui-g-6 padding-none">
          <span class="span_gasright bg_colorR" title="性别">性别</span>
          <span class="span_textright" [title]="detailLists.gender">{{detailLists.gender}}</span>
        </div>
      </div>
      <div class="ui-g-12 padding-none">
        <div class="ui-g-6 padding-none">
          <span class="span_gasleft bg_colorR" title="证件类型">证件类型</span>
          <span class="span_textleft" [title]="detailLists.certificateName">{{detailLists.certificateName}}</span>
        </div>
        <div class="ui-g-6 padding-none">
          <span class="span_gasright bg_colorR">证件号</span>
          <span class="span_textright" [title]="detailLists.certificateId">{{detailLists.certificateId}}</span>
        </div>
      </div>
      <div class="ui-g-12 padding-none">
        <span class="span_gasaddress bg_colorR" title="证件地址">证件地址</span>
        <span class="span_textaddress" [title]="detailLists.certificateAddress">{{detailLists.certificateAddress}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR" title="用户类型">用户类型
          <gas-explanation tooltip="根据气瓶使用途径区别的客户类别（有个人，商业，工业三种）" position="bottom"></gas-explanation>
        </span>
        <span class="span_textleft" [title]="detailLists.userTypeName">{{detailLists.userTypeName}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR" title="负责人">负责人
          <gas-explanation tooltip="用户证件上的名字，用来区分燃气用户名" position="bottom"></gas-explanation>
        </span>
        <span class="span_textright" [title]="detailLists.principal">{{detailLists.principal}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR" title="联系人">联系人</span>
        <span class="span_textleft" [title]="detailLists.linkman">{{detailLists.linkman}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR" title="联系电话">联系电话</span>
        <span class="span_textright" [title]="detailLists.phone">{{detailLists.phone}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR" title="派送地址">派送地址</span>
        <span class="span_textleft" [title]="detailLists.deliveryAddress">{{detailLists.deliveryAddress}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR" title="配送工">配送工
          <gas-explanation tooltip="用户指定的配送气瓶的送气工（默认）" position="bottom"></gas-explanation>
        </span>
        <span class="span_textright" [title]="detailLists.dispatcherName">{{ detailLists.dispatcherName }}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasleft bg_colorR" title="登记时间">登记时间</span>
        <span class="span_textleft" [title]="detailLists.registrationTime | date: 'y-MM-dd'">{{detailLists.registrationTime | date: "y-MM-dd"}}</span>
      </div>
      <div class="ui-g-6 padding-none">
        <span class="span_gasright bg_colorR" title="登记人">登记人</span>
        <span class="span_textright" [title]="detailLists.registrant">{{detailLists.registrant}}</span>
      </div>
      <div class="ui-g-12 padding-none">
        <div class="photo-container">
          <div class="ui-g-12" style="float: none;">证件(附件)</div>
          <ng-container *ngFor="let image of certificateAppendixImages">
            <a href="{{image.source}}" target="_blank" title="新标签页打开">
              <img src="{{image.source}}" class="photo-view">
            </a>
          </ng-container>
        </div>
        <div class="photo-container">
          <div class="ui-g-12" style="float: none;">合同(附件)</div>
          <ng-container *ngFor="let image of contractAppendixImages">
            <a href="{{image.source}}" target="_blank" title="新标签页打开">
              <img src="{{image.source}}" class="photo-view">
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4 padding-none padding-none">
        <span class="span_detail bg_color01" title="所属行政区域">所属行政区域</span>
        <span class="span_detail01" [title]="detailLists.regionName">{{detailLists.regionName}}</span>
      </div>
      <div class="ui-g-4 padding-none ">
        <span class="span_detail bg_color01" title="所属企业名称">所属企业名称</span>
        <span class="span_detail01" [title]="detailLists.corpName">{{detailLists.corpName}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01" title="站点">站点</span>
        <span class="span_detail01" [title]="detailLists.stationName">{{detailLists.stationName}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01" title="使用状态">使用状态</span>
        <span class="span_detail01" [title]="detailLists.status">{{detailLists.status}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01" title="用户编码">用户编码</span>
        <span class="span_detail01" [title]="detailLists.userNumber">{{detailLists.userNumber}}</span>
      </div>
      <div class="ui-g-4 padding-none">
        <span class="span_detail bg_color01" title="在用气瓶数">在用气瓶数</span>
        <span class="span_detail01" title="查看在用气瓶详情">
          <a (click)="showUsedCylinderDetail()" class="detail-href">{{detailLists.gcCount}}</a>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div class="ui-g-12">
      <span>{{detailList.length?detailList.length:0}}</span>个查询结果：
    </div>
    <div class="ui-g-12 result-container">
      <div *ngIf="!detailList.length">无查询结果</div>
      <div *ngIf="detailList.length">
        <div class="ui-g-8 padding-none" style="cursor: pointer;" (click)="ondetail(i)" *ngFor="let DetailList of detailList,let i=index">
          <div class="ui-g-1 user-result">{{i+1}}</div>
          <div class="ui-g-3 user-result" [title]="DetailList.certificateId?DetailList.certificateId:'无'">{{DetailList.certificateId?DetailList.certificateId:'无'}}</div>
          <div class="ui-g-2 user-result" [title]="DetailList.userName?DetailList.userName:'无'">{{DetailList.userName?DetailList.userName:'无'}}</div>
          <div class="ui-g-2 user-result" [title]="DetailList.deliveryAddress?DetailList.deliveryAddress:'无'">{{DetailList.deliveryAddress?DetailList.deliveryAddress:'无'}}</div>
          <div class="ui-g-2 user-result" [title]="DetailList.userNumber?DetailList.userNumber:'无'">{{DetailList.userNumber?DetailList.userNumber:'无'}}</div>
          <div class="ui-g-2 user-result" [title]="(DetailList.phone.trim()!='')?DetailList.phone:'无'">{{(DetailList.phone.trim()!="")?DetailList.phone:'无'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
