<!-- <div class="main">
  <div class="card"> -->
<div class="ui-g-12 ta-c" *ngIf="!customerDetailList.isTrue">
  <h2>
    <span *ngIf="!loading">没有查到数据</span>
    <span *ngIf="loading">正查询中，请稍等</span>
  </h2>
</div>
<div class="customer-detail" *ngIf="customerDetailList.isTrue">
  <div class="group ui-g-12">
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="所属区域">所属区域</span>
      <span class="ui-g-6 content" title="{{customerDetailList.regionName}}">{{customerDetailList.regionName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="查看区域详情">
        <a href="javascript:void(0);" *ngIf="customerDetailList.regionId" [routerLink]="['/archive/customer/list']" [queryParams]="{regionId:customerDetailList.regionId}"
          title="查看区域详情">查看区域详情</a>
        <span *ngIf="!customerDetailList.regionId" title="暂无区域详情">暂无区域详情</span>
      </span>
      <span class="ui-g-6 content title" title="所属企业">所属企业</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="{{customerDetailList.corpName}}">{{customerDetailList.corpName}}</span>
      <span class="ui-g-6 content" title="查看详情">
        <a href="javascript:void(0);" *ngIf="customerDetailList.enterpriseNumber" [routerLink]="['/archive/customer/list']" [queryParams]="{enterpriseID:customerDetailList.enterpriseNumber}"
          title="查看详情">查看详情</a>
        <span *ngIf="!customerDetailList.enterpriseNumber" title="暂无企业详情">暂无企业详情</span>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="当前持有气瓶数量">当前持有气瓶数量</span>
      <span class="ui-g-6 content" title="{{customerDetailList.gcCount}}">{{customerDetailList.gcCount}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="查看气瓶详情">
        <a href="javascript:void(0);" *ngIf="customerDetailList.gcCount" [routerLink]="['/archive/cylinder/list']" [queryParams]="{liabilitySubjectType:4,liabilitySubjectId:customerDetailList.userNumber}"
          title="查看气瓶详情">查看气瓶详情</a>
        <span *ngIf="!customerDetailList.gcCount" title="暂无气瓶">暂无气瓶</span>
      </span>
      <span class="ui-g-6 content title" title="流转记录">流转记录</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="查看流转记录">
        <a href="javascript:void(0);" [routerLink]="['/delivery/cylinder-trace/cylinder-record/4']" [queryParams]="{liabilitySubjectType:4,liabilityNumber:customerDetailList.userNumber,liabilityName:customerDetailList.userName}"
          title="查看流转记录">查看流转记录</a>
      </span>
      <span class="ui-g-6 content" title=""></span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="上次安检时间">上次安检时间</span>
      <span class="ui-g-6 content" title="{{customerDetailList.lastCheckTime | date:'yyyy-MM-dd'}}">{{customerDetailList.lastCheckTime | date:"yyyy-MM-dd"}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="查看安检详情">
        <a href="javascript:void(0);" [routerLink]="['/delivery/security-query']" [queryParams]="{userNumber:customerDetailList.userNumber}"
          title="查看安检详情">查看安检详情</a>
      </span>
      <span class="ui-g-6 content title" title="下次安检时间">下次安检时间</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content" title="{{customerDetailList.nextCheckTime | date:'yyyy-MM-dd'}}">{{customerDetailList.nextCheckTime | date:"yyyy-MM-dd"}}</span>
      <span class="ui-g-6 content" title=""></span>
    </div>
  </div>
  <div class="group ui-g-12">
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="用户编号">用户编号</span>
      <span class="ui-g-6 content" title="{{customerDetailList.userIdentityCardNumber}}">{{customerDetailList.userIdentityCardNumber}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="用户名称">用户名称</span>
      <span class="ui-g-6 content" title="{{customerDetailList.userName}}">{{customerDetailList.userName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="用户类型">用户类型</span>
      <span class="ui-g-6 content" title="{{customerDetailList.userTypeName}}">{{customerDetailList.userTypeName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="非居民用户类型">非居民用户类型</span>
      <span class="ui-g-6 content" title="{{customerDetailList.userType}}">{{customerDetailList.userType}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="非居民用户负责人">非居民用户负责人</span>
      <span class="ui-g-6 content" title="{{customerDetailList.principal}}">{{customerDetailList.principal}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="证件类型">证件类型</span>
      <span class="ui-g-6 content" title="{{customerDetailList.certificateName}}">{{customerDetailList.certificateName}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="证件号码">证件号码</span>
      <span class="ui-g-6 content" title="{{customerDetailList.certificateId}}">{{customerDetailList.certificateId}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="证件地址">证件地址</span>
      <span class="ui-g-6 content" title="{{customerDetailList.certificateAddress}}">{{customerDetailList.certificateAddress}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="证件附件">证件附件</span>
      <span class="ui-g-6 content" title="查看证件附件">
        <button pButton (click)="showImg(customerDetailList.certificateAppendixUrl);" label="查看图片" *ngIf="customerDetailList.certificateAppendixUrl"></button>
        <button pButton label="无附件" *ngIf="!customerDetailList.certificateAppendixUrl" disabled></button>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="联系电话">联系电话</span>
      <span class="ui-g-6 content" title="{{customerDetailList.phone}}">{{customerDetailList.phone}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="联系人">联系人</span>
      <span class="ui-g-6 content" title="{{customerDetailList.linkman}}">{{customerDetailList.linkman}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="合同附件">合同附件</span>
      <span class="ui-g-6 content" title="查看合同附件">
        <button pButton (click)="showImg(customerDetailList.contractAppendixUrl);" label="查看图片" *ngIf="customerDetailList.contractAppendixUrl"></button>
        <button pButton label="无附件" *ngIf="!customerDetailList.contractAppendixUrl" disabled></button>
      </span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="配送地址">配送地址</span>
      <span class="ui-g-6 content" title="{{customerDetailList.deliveryAddress}}">{{customerDetailList.deliveryAddress}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="登记时间">登记时间</span>
      <span class="ui-g-6 content" title="{{customerDetailList.registrationTime | date:'yyyy-MM-dd'}}">{{customerDetailList.registrationTime | date:'yyyy-MM-dd'}}</span>
    </div>
    <div class="ui-g-4 ">
      <span class="ui-g-6 content title" title="登记人">登记人</span>
      <span class="ui-g-6 content" title="{{customerDetailList.registrant}}">{{customerDetailList.registrant}}</span>
    </div>
  </div>
</div>
<!-- </div>
</div> -->
<p-dialog [visible]="visible" [showHeader]="false" [positionTop]="90" [closeOnEscape]="false" [width]="400" [contentStyle]="{'padding':'0','overflow':'visible'}"
  [minWidth]="400" [modal]="true" [style]="{'border':'none','background':'#f2f2f2'}">

  <p-carousel *ngIf="visible" headerText="图片附件查看" [value]="imgArray" numVisible="1" [firstVisible]="0">
    <ng-template let-user pTemplate="item">
      <div class="text-center">
        <img src="{{user.url}}" alt="" style="max-width:400px; max-height:400px;">
      </div>
    </ng-template>
  </p-carousel>

  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="visible=false" label="确定"></button>
  </p-footer>

</p-dialog>
