<div class="ui-g-12">
  <!-- 责任主体
  <p-dropdown [options]="cylinderStatus" [style]="{'width':'150px'}" [(ngModel)]="selectedCylinderStatus"></p-dropdown>&nbsp;&nbsp; -->

  <ng-container *ngIf="selectedCylinderStatus === 1">
    储配站：
    <p-dropdown [options]="distributionStationList" [style]="{'width':'240px'}" [(ngModel)]="selectedDistributionStation" filter="true"></p-dropdown>&nbsp;&nbsp; 类型：
    <p-dropdown [options]="distributionStationSearchTypes" [style]="{'width':'150px'}" [(ngModel)]="selectedDistributionStationType"></p-dropdown>
  </ng-container>

  <ng-container *ngIf="selectedCylinderStatus === 2">
    瓶库：
    <p-dropdown [options]="cylinderStorageList" [style]="{'width':'240px'}" [(ngModel)]="selectedCylinderStorage" filter="true"></p-dropdown>
    &nbsp;&nbsp; 类型：
    <p-dropdown [options]="cylinderStorageSearchTypes" [style]="{'width':'150px'}" [(ngModel)]="selectedCylinderStorageType"></p-dropdown>
  </ng-container>

  <ng-container *ngIf="selectedCylinderStatus === 3">
    <p-dropdown #dispatcherSearchField [options]="dispatcherSearchFields" [style]="{'width':'150px'}" [(ngModel)]="selectedDispatcherSearchField"
      (onChange)="selectDispatcherSearchField($event)"></p-dropdown>
    <p-autoComplete [(ngModel)]="selectedDispatcher" [field]="selectedDispatcherSearchField===1?'jobNumber':'name'" [suggestions]="dispatcherSuggestions"
      (onBlur)="blurSelectDispatcher()" (completeMethod)="searchDispatcher($event.query)" [delay]="500" [size]="20" [minLength]="selectedDispatcherSearchField===1?6:2"
      [maxlength]="20" [placeholder]="'请输入'+dispatcherSearchField.label">
      <ng-template let-dispatcher pTemplate="item">
        <div style="width:400px;">{{ dispatcher.name }} -- {{ dispatcher.jobNumber }} -- {{ dispatcher.subsidiaryEnterprises }}</div>
      </ng-template>
    </p-autoComplete>
    &nbsp;&nbsp; 类型：
    <p-dropdown [options]="dispatcherSearchTypes" [style]="{'width':'150px'}" [(ngModel)]="selectedDispatcherType"></p-dropdown>
  </ng-container>


  &nbsp;&nbsp; 开始时间
  <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="beginTime"
    dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [maxDate]="today" readonlyInput="true"></p-calendar>
  &nbsp;&nbsp; 结束时间
  <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="endTime"
    dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [maxDate]="today" readonlyInput="true"></p-calendar>
  &nbsp;&nbsp;
  <button pButton type="button" label="查询" (click)="search()"></button>
  <!-- <button pButton type="button" label="查询" (click)="getCylinderByStatus()"></button> -->
</div>


<div class="ui-g-12">

  <p-dataTable [value]="cylinderList" emptyMessage="未查询到数据" [paginator]="true" [rows]="pageSize" scrollable="true" [lazy]="true"
    [(first)]="first" (onLazyLoad)="onPageChange($event)" [totalRecords]="total" [rowsPerPageOptions]="[5,10,20,40]">
    <p-headerColumnGroup>
      <p-row>
        <!-- <p-column header="序号" rowspan="2"></p-column> -->
        <p-column header="气瓶条码" rowspan="2"></p-column>
        <p-column header="时间" rowspan="2"></p-column>
        <p-column header="状态变迁" rowspan="2"></p-column>
        <p-column header="开始责任主体" colspan="4"></p-column>
        <p-column header="之后责任主体" colspan="4"></p-column>
      </p-row>
      <p-row>
        <p-column header="类型" colspan="1"></p-column>
        <p-column header="名称" colspan="1"></p-column>
        <p-column header="联系方式" colspan="1"></p-column>
        <p-column header="联系地址" colspan="1"></p-column>
        <p-column header="类型" colspan="1"></p-column>
        <p-column header="名称" colspan="1"></p-column>
        <p-column header="联系方式" colspan="1"></p-column>
        <p-column header="联系地址" colspan="1"></p-column>
      </p-row>
    </p-headerColumnGroup>


    <!-- <p-column>
      <ng-template pTemplate="body" let-index="rowIndex">
        {{index + 1}}
      </ng-template>
    </p-column> -->
    <p-column field="gasLabelNumber"></p-column>
    <p-column field="createTime">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>
    </p-column>
    <p-column field="gcStatusTypeName"></p-column>
    <p-column field="beforeLiabilityTypeName"></p-column>
    <p-column field="beforeLiabilityName"></p-column>
    <p-column field="beforeLiabilityContact"></p-column>
    <p-column field="beforeLiabilityAddress"></p-column>
    <p-column field="afterLiabilityTypeName"></p-column>
    <p-column field="afterLiabilityName"></p-column>
    <p-column field="afterLiabilityContact"></p-column>
    <p-column field="afterLiabilityAddress"></p-column>
  </p-dataTable>
</div>
