.affairs-list{
  padding-left:10px;
  [class^='ui-g']{
    padding:0;
  }
  padding-top:35px;
  h2{
    background: #007ccc;
    color:white;
    padding:10px;
  }
  a{
    color:#3399ff;
  }
  form{
    // width:100%;
    .form-group{
      padding: 10px;
    }
    .input-place{
      width:calc(100% - 270px);
    }
    .input-person{
      width:calc(100% - 200px);
    }
  }
}