.bottle-library {
    .title {
        color: #3186dc;
        text-align: center;
    }
    .inputgroup {
        padding: 3px;
        >span {
            color: rgb(102, 102, 102);
        }
    }
    .textInput {
        // width: 40%; 
        width: calc(100% - 100px);
        max-width: 300px;
        min-width: 180px;
    }
    .searchBtn {
        border-radius: 4px;
        width: 96px;
        height: 45px;
        line-height: 45px;
        font-size: 1em;
        background: #3186dc;
    }
    .dialogtitle {
        background: #3399ff;
        margin: 0;
        color: white;
        padding: 10px;
    }
}