iframe {
  width: 100%;
  height: calc(100vh - 90px);
  margin-top: 80px;
  margin-bottom: 0;
  padding-left: 260px;
  padding-right: 20px;
  box-sizing: border-box;
}

.video-container {
  // padding-top: 200px;
}
