.message {
    .bottom {
        margin-bottom: 2em;
    }
}
.ui-button{
    border-radius: 4px;
    background: #3186dc;
}
.title {
    color: #3186dc;
    text-align: center;
}
.searchBtn {
    border-radius: 4px;
    width: 96px;
    height: 45px;
    font-size: 1em;
    background: #3186dc;
}
.annouce {
    // border: 1px solid #c0c0c0;
    // border-radius: 10px;
    // box-shadow: 0 0 3px #c0c0c0;
    .padding-lr{
      padding:0 0.5em ;
    }
}
.main{
  left: 90px;
}
