.message {
    .bottom {
        margin-bottom: 2em;
    }
}

.title {
    color: #3186dc;
    text-align: center;
}
.searchBtn {
    height: 45px;
    padding: 0px;
    width: 96px;
    font-size: 1em;
    border: 0px solid #3186dc;
    background: #3186dc;
    border-radius: 4px;
}
.annouce {
    // border: 1px solid #c0c0c0;
    // border-radius: 10px;
    // box-shadow: 0 0 3px #c0c0c0;
    .padding-lr{
      padding:0 0.5em ;
    }
}
.main{
  left: 90px;
}
