.user-card {
  padding:10px 0 0 15px;
  [class^='ui']{
    padding:0;
  }
  .form-group {
    padding-bottom:20px !important;
    label{
      display: inline-block;
      width: 80px;
    }
  }
  .pass,
  .reject{
    color:#00f;
    font-size:12px;
    cursor:pointer;
  }
  .rangeNumber{
    max-height: 100px;
    overflow-y: auto;
  }
}