<div class="main">
  <div class="card">
    <h2 class="text-center" *ngIf="!details">
      <span *ngIf="!loading">没有查到数据</span>
      <span *ngIf="loading">正查询中，请稍等。</span>
    </h2>
    <div *ngIf="details" class="gas-holder-station-detail ui-g-12">
      <div class="ui-g-12 group">
        <div class="ui-g-6">
          <span class="ui-g-6 content title" title="持有重瓶数量">持有重瓶数量</span>
          <span class="ui-g-6 content">
            <a href="javascript:void(0);" title="{{details.haveFullCount}}">{{details.haveFullCount}}</a>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="ui-g-6 content title" title="重瓶出库记录">重瓶出库记录</span>
          <span class="ui-g-6 content">
            <a href="javascript:void(0);" title="{{details.fullBottleSendCount}}">{{details.fullBottleSendCount}}</a>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="ui-g-6 content title" title="持有空瓶数量">持有空瓶数量</span>
          <span class="ui-g-6 content">
            <a href="javascript:void(0);" title="{{details.haveEmptyCount}}">{{details.haveEmptyCount}}</a>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="ui-g-6 content title" title="空瓶出库记录">空瓶出库记录</span>
          <span class="ui-g-6 content">
            <a href="javascript:void(0);" title="todo没有空瓶出库">todo没有空瓶出库</a>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="ui-g-6 content title" title="流转记录">流转记录</span>
          <span class="ui-g-6 content">
            <a href="javascript:void(0);" title="查看详情">查看详情</a>
          </span>
        </div>
        <div class="ui-g-6">
          <span class="ui-g-6 content title" title="充装气瓶数量">充装气瓶数量</span>
          <span class="ui-g-6 content">
            <a href="javascript:void(0);" title="{{details.fillingCount}}">{{details.fillingCount}}</a>
          </span>
        </div>
        
      </div>
    
      <div class="ui-g-12 group">
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="储备站名称">储备站名称</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.inflatableName}}">{{details.inflatableStationVO.inflatableName}}</span>
        </div>
        <div class="ui-g-4 ">
          <span class="ui-g-6 content title" title="所属区域">所属区域</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.regionName}}">{{details.inflatableStationVO.regionName}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="所属企业">所属企业</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.enterpriseName}}">{{details.inflatableStationVO.enterpriseName}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="许可证号">许可证号</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.licenseNumber}}">{{details.inflatableStationVO.licenseNumber}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="联系电话">联系电话</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.phoneNumber}}">{{details.inflatableStationVO.phoneNumber}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="联系人">联系人</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.contactPerson}}">{{details.inflatableStationVO.contactPerson}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="负责人">负责人</span>
          <span class="ui-g-6 content" title="{{details.inflatableStationVO.responsiblePerson}}">{{details.inflatableStationVO.responsiblePerson}}</span>
        </div>
        <div class="ui-g-8">
          <span class="ui-g-3 content title" title="企业地址">企业地址</span>
          <span class="ui-g-9 content" title="{{details.inflatableStationVO.inflatableStationAddress}}">{{details.inflatableStationVO.inflatableStationAddress}}</span>
        </div>
      </div>
    
    </div>
  </div>
</div>