.affairs-list{
  padding-left:10px;
  [class^='ui-g']{
    padding:0;
  }
  padding-top:35px;
  h2{
    background: #007ccc;
    color:white;
    padding:10px;
  }
  form{
    width:100%;
    .form-group{
      margin:5px 0;
    }
  }
}