.affairs-list{
  h2{
    background: #007ccc;
    color:white;
    padding:10px;
  }
  a{
    color:#3399ff;
  }
  .searchBtn {
    border-radius: 4px;
    width: 96px;
    height: 45px;
    font-size: 1em;
    background: #3186dc;
  }
  form{
    // width:100%;
    .form-group{
      padding: 10px;
    }
    .input-place{
      width:calc(100% - 270px);
    }
    .input-person{
      width:calc(100% - 200px);
    }
  }
}
