<div class="add-affairs ui-g-12">
  <form>
    <h1>执法事务录入</h1>
    <div class="ui-g">
      <div class="ui-g-8 ui-g form-group">
        <div class="title ui-g-12 ui-lg-3" >
          <label for="" style="width:130px;display:inline-block">
            <span class="warn">*</span>事务处理对象：
          </label>
        </div>
        <div class="ui-g-9 ui-g">
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=1 label="储配站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=2 label="供应站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=3 label="送气工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
          <div class="ui-g-12 ui-xl-3 ui-lg-6">
            <p-radioButton name="objType" [value]=4 label="押送工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12" *ngIf="formModel.objType===1">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>储配站：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入储配站名称" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[1].field}}">
          </p-autoComplete>
        </div>
      </div>

      <div class="form-group ui-g-12" *ngIf="formModel.objType===2">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>供应站：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入供应站名称" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[2].field}}">
          </p-autoComplete>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===3">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>送气工：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="2"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入送气工姓名" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[3].field}}">
            <ng-template let-value pTemplate="item">
              <span>
                {{value.dispatcherName}}---{{value.dispatcherNumber}}
                <br> {{value.enterpriseName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
        </div>
      </div>
      <div class="form-group ui-g-12" *ngIf="formModel.objType===4">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>押送工：</label>
        <div class="ui-g-10">
          <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="2"
            autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue" placeholder="请输入押送工姓名" (onBlur)="onBlurAutoComplete()"
            field="{{config.autoComplete[4].field}}">
            <ng-template let-value pTemplate="item">
              <span>
                {{value.gcCarrierName}}---{{value.gcCarrierId}}
                <br> {{value.enterpriseName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>发现时间：</label>
        <div class="ui-g-10">
          <p-calendar [(ngModel)]="formModel.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
            [locale]="zh" [showIcon]="false" name="time" showTime="true" hourFormat="24" [showOtherMonths]="false" [stepMinute]="10"
            placeholder="请输入发现时间" [maxDate]="currentDate"[showButtonBar]="true"></p-calendar>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务来源：</label>
        <div class="ui-g-10">
          <p-dropdown [options]="dropdown.origin" [(ngModel)]="formModel.originId" name="origin" [style]="{'width':'170px'}"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>所在区域：</label>
        <div class="ui-g-10">
          <p-dropdown [options]="dropdown.region" [(ngModel)]="formModel.regionId" name="region" [style]="{'width':'170px'}"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务地点：</label>
        <div class="ui-g-10">
          <input type="text" pInputText [(ngModel)]="formModel.address" name="address" />
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12 affair-type">
        <label for="inputEmail3" class="ui-g-12 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>事务类别：
        </label>
        <div class="checkbox-container ui-g-12">
          <div class="checkbox ui-g-3" *ngFor="let item of dropdown.affairsType">
            <label>
              <p-checkbox [(ngModel)]="formModel.affairType" name="affairType" [value]="item.value" [label]="item.label"></p-checkbox>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          <span class="warn">*</span>描述：</label>
        <div class="ui-g-10">
          <input type="text" pInputText [(ngModel)]="formModel.describe" name="describe" />
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="form-group ui-g-12">
        <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
          &nbsp;&nbsp;附件：</label>
        <div class="ui-g-10">
          <input type="file" #file name="file">
        </div>
      </div>
    </div>

    <!-- 业务协同（可选） -->
    <div class="ui-g optional">
      <div class="ui-g-12 group padding-left">
        <h3>业务协同（可选）</h3>
        <div class="form-group ui-g-6 affair-type">
          <label for="inputEmail3" class="ui-g-3 control-label" style="width:130px;display:inline-block">
            协同部门：
          </label>
          <div class="ui-g-9">
            <p-multiSelect [options]="multiSelect.department" [(ngModel)]="formModel.helpDepartment"name="department"
             optionLabel="userName" [style]="{'width':'100%'}" defaultLabel="点击选择协同部门"
              maxSelectedLabels="1" selectedItemsLabel="已经选择了{0}个协同部门" [showToggleAll]="false"></p-multiSelect>
          </div>

          <div class="form-group ui-g-12" *ngFor="let item of formModel.helpDepartment; let i=index">
            <label class="ui-g-6 control-label" title="{{item.userName}}">
              {{item.userName}}：</label>
            <div class="ui-g-5">
              <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                [locale]="zh" [showIcon]="false" name="{{'helpDepartmentTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false" [stepMinute]="10"
                placeholder="请输入截止时间" [minDate]="currentDate"[showButtonBar]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div class="form-group ui-g-6 affair-type">
          <label for="inputEmail3" class="ui-g-3 control-label" style="width:130px;display:inline-block">
            协同企业：
          </label>
          <div class="ui-g-9">
            <p-multiSelect [options]="multiSelect.company" [(ngModel)]="formModel.helpCompany" name="company"
            optionLabel="enterpriseName" [style]="{'width':'100%'}" defaultLabel="点击选择协同企业" maxSelectedLabels="1"
             selectedItemsLabel="已经选择了{0}个协同企业" [showToggleAll]="false"></p-multiSelect>
          </div>

          <div class="form-group ui-g-12" *ngFor="let item of formModel.helpCompany;let i = index;">
            <label class="ui-g-6 control-label" title="{{item.enterpriseName}}">
              {{item.enterpriseName}}：</label>
            <div class="ui-g-5">
              <p-calendar [(ngModel)]="item.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" dateFormat="yy-mm-dd"
                [locale]="zh" [showIcon]="false" name="{{'helpCompanyTime'+ i}}" showTime="true" hourFormat="24" [showOtherMonths]="false"
                [stepMinute]="10" placeholder="请输入截止时间" [minDate]="currentDate"[showButtonBar]="true"></p-calendar>
            </div>
          </div>

        </div>
        <div class="form-group ui-g-12">
          <label for="inputEmail3" class="ui-g-2 control-label" style="width:130px;display:inline-block">
            紧急程度：</label>
          <div class="ui-g-10">
            <p-dropdown [options]="dropdown.level" [(ngModel)]="formModel.level" name="level" [style]="{'width':'170px'}"></p-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12 dialog-footer text-center">
      <button pButton type="submit" class="ui-button-primery" label="确认" (click)="onSubmit(file)"></button>
      <button pButton type="button" class="ui-button-secondary" label="重置" (click)="onReset(file)"></button>
    </div>

  </form>
</div>
