.enterprise-found {
    .title {
        color: #3186dc;
        text-align: center;
        white-space: nowrap;
    }
    .container {
        min-width: 450px;
    }
    .search-label {
        width: 130px;
    }
    .bottom {
        border: 1px dashed black;
    } // .inputgroup {
    //     // padding: 3px;
    //     width: 90px;
    // }
    .searchBtn {
        border-radius: 4px;
        width: 96px;
        height: 45px;
        font-size: 1em;
        background: #3186dc;
    }
    span {
        color: rgb(102, 102, 102);
    }
    .textInput {
        width: 210px;
    }
    .save {
        display: flex;
        button {
            margin: auto;
        }
    }
}