<!-- <div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
    </div>
  </div>
</div> -->
<div class="main">
  <div class="video-container card">
    <ng-container *ngIf="isIE()">
      <ng-container *ngIf="isAdmin">
        <iframe src="./assets/video-plugin/index.htm" frameborder="0">
          您的浏览器不支持iframe
        </iframe>
      </ng-container>
      <ng-container *ngIf="!isAdmin">
        <gas-page-not-found></gas-page-not-found>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!isIE()">
      <h3>您的浏览器不支持该控件，请在IE9+浏览器中打开！</h3>
    </ng-container>
  </div>
</div>
