.enterprise-found {
    .title {
        color: #3186dc;
        text-align: center;
    }
    // .container {
    //     border: 1px solid #c0c0c0;
    //     border-radius: 10px;
    //     box-shadow: 0 0 3px #c0c0c0;
    // }
    .bottom{
      border: 1px dashed black;
    }
    .inputgroup {
        padding: 3px;
    }
    span {
      color: rgb(102, 102, 102);
    }
    .add{
        padding: 0px;
        width:100px;
    }
    .textInput {
        // width: 40%; 
        width: 180px;
    }
    .save{
        display: flex;
        button{
            margin: auto;
        }
    }
}