<div class="ui-g-12 enterprise-found card">
  <div class="ui-g-12">
    <h2 class="title">
      企业创建
    </h2>
  </div>
  <div class="ui-g-12 container">
    <div class="ui-g-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">企业名称
          <b style="color:red;">*</b>
        </label>
        <input type="text" class="textInput" [(ngModel)]="addForm.enterpriseName" maxlength="20" pInputText>
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">企业编号
          <b style="color:red;">*</b>
        </label>
        <input type="text" class="textInput" [(ngModel)]="addForm.enterpriseNumber" maxlength="20" pInputText>
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">负责人
          <b style="color:red;">*</b>
        </label>
        <input type="text" class="textInput" [(ngModel)]="addForm.legalRepresentative" maxlength="20" pInputText placeholder="">
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">地址
          <b style="color:red;">*</b>
        </label>
        <input type="text" class="textInput" [(ngModel)]="addForm.address" maxlength="20" pInputText placeholder="">
      <!-- </div> -->
    </div>

    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">经营类别
          <b style="color:red;">*</b>
        </label>
        <p-dropdown [options]="category" [(ngModel)]="addForm.businessCategory" [style]="{'width':'210px'}"></p-dropdown>
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">辖区
          <b style="color:red;">*</b>
        </label>
        <p-dropdown [options]="regionDropdown" [(ngModel)]="addForm.regionId" [style]="{'width':'210px'}"></p-dropdown>
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <!-- <div class="inputgroup"> -->
        <label for="" class="search-label">服务电话
        </label>
        <input type="text" class="textInput" [(ngModel)]="addForm.serviceLine" maxlength="20" pInputText placeholder="">
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ">
      <div>
        <label for="" class="search-label">经营区域
          <b style="color:red;">*</b>
        </label>
      </div>
      <p-dropdown [options]="deliveryRegionList" (onChange)="deliveryCountyChange($event.value)" [(ngModel)]="selectedCountyRegionId"
        [style]="{'width':'210px','margin-top':'5px'}">
      </p-dropdown>
      <ng-template [ngIf]="deliveryUrbanDistrictList.length!=0">
        <p-dropdown [options]="deliveryUrbanDistrictList" (onChange)="deliveryUrbanDistrictChange($event.value)" [(ngModel)]="selectedUrbanDistrict"
          [style]="{'width':'210px','margin-top':'5px'}">
        </p-dropdown>
      </ng-template>
      <p-dropdown [options]="deliveryStreetList" [(ngModel)]="selectedStreetRegionId" [style]="{'width':'210px','margin-top':'5px'}">
      </p-dropdown>
      <button class="ui-g-12" pButton type="button" class="searchBtn" label="添加" (click)="selectArea()">
      </button>
    </div>
    <div class="ui-g-12 ">
      <p-dataTable [value]="selectedAreaList" [lazy]="false" dataKey="title" [paginator]="false" [scrollable]="false" scrollHeight="510px">
        <p-column [style]="{'width':'100px'}" header="序号">
          <ng-template let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="areaName" header="已添加区域"></p-column>

        <p-column [style]="{'width':'150px'}" header="操作">
          <ng-template let-data="rowData" let-index="rowIndex" pTemplate="body">
            <button pButton type="button" label="删除" (click)="delete(index)"></button>
          </ng-template>
        </p-column>
        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未添加区域
          </div>
        </ng-template>
      </p-dataTable>
    </div>
    <div class="ui-g-12">
      <div style="padding-left:0px;" class="ui-g-12  ui-md-12 ui-lg-6">
        <!-- <div class="inputgroup"> -->
          <label for="" class="search-label">许可证号
            <b style="color:red;">*</b>
          </label>
          <input type="text" class="textInput" [(ngModel)]="addForm.dangerousLicense" maxlength="20" pInputText placeholder="">
        <!-- </div> -->
      </div>
      <div style="padding-left:0px;" class="ui-g-12  ui-md-12 ui-lg-6">
        <!-- <div class="inputgroup"> -->
          <label for="" class="search-label">发证机关
            <b style="color:red;">*</b>
          </label>
          <input type="text" class="textInput" [(ngModel)]="addForm.issuingUnit" maxlength="20" pInputText placeholder="">
        <!-- </div> -->
      </div>
      <div style="padding-left:0px;" class="ui-g-12  ui-md-12 ui-lg-6">
        <!-- <div class="inputgroup"> -->
          <label for="" class="search-label">发证日期
            <b style="color:red;">*</b>
          </label>
          <p-calendar [locale]="cn" [(ngModel)]="addForm.releaseTime" [showButtonBar]="true" placeholder="" readonlyInput="true" dateFormat="yy-mm-dd"
            showOtherMonths="true" selectOtherMonths="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050"
            [style]="{'width':'calc(100% - 100px)','min-width':'210px','max-width':'200px','display':'inline-block'}"></p-calendar>
        <!-- </div> -->
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-12 ui-xl-4">
        <!-- <div class="inputgroup"> -->
          <label for="" class="search-label">有效期
            <b style="color:red;">*</b>
          </label>
          <p-calendar [locale]="cn" #startDate [(ngModel)]="addForm.effectiveTimeStart" [showButtonBar]="true" placeholder="" readonlyInput="true"
            dateFormat="yy-mm-dd" showOtherMonths="true" selectOtherMonths="true" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="1970:2050" [style]="{'min-width':'210px','max-width':'200px','display':'inline-block'}"></p-calendar>
        <!-- </div> -->
      </div>
      <div class="ui-g-12 ui-md-12 ui-xl-4">
        <!-- <div class="inputgroup"> -->
          <label for="" class="search-label">至</label>
          <p-calendar [locale]="cn" #endDate [(ngModel)]="addForm.effectiveTimeEnd" [showButtonBar]="true" placeholder="" readonlyInput="true"
            dateFormat="yy-mm-dd" showOtherMonths="true" selectOtherMonths="true" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="1970:2050" [style]="{'min-width':'210px','max-width':'200px','display':'inline-block'}"></p-calendar>
        <!-- </div> -->
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-12 ">
        <div class="ui-g-6 ui-lg-6 save">
          <button pButton style="min-width:110px" class="searchBtn" type="button" label="确认创建" (click)="AddEnterprise()"></button>
        </div>
        <div class="ui-g-6 ui-lg-6 save">
          <button pButton style="min-width:110px" class="searchBtn" type="reset" label="重置" (click)="clearAddForm()"></button>
        </div>
      </div>
    </div>
  </div>

</div>