<div class="delivery-car">
  <header>
    <h1><i class="fa fa-car" aria-hidden="true"></i> 配送车</h1>
  </header>
  <form (submit)="onSubmit()">
    <ul>
      <li class="ui-g form-group">
        <div class="ui-g-5 text-right">
          <label for="">车牌号：</label>
        </div>
        <div class="ui-g-4">
          <input type="text" pInputText [(ngModel)]="formModel.number" name="number">
        </div>
      </li>
      <li class="ui-g form-group">
        <div class="ui-g-5 text-right">
          <label for="">车辆归属：</label>
        </div>
        <div class="ui-g-4">
          <p-dropdown [options]="dropdown.origin" [(ngModel)]="formModel.origin" name="origin" [style]="{'width':'158px'}"></p-dropdown>
        </div>
      </li>
      <li class="ui-g form-group">
        <div class="ui-g-5 text-right">
          <span class="warn">*</span><label for="">默认送气工：</label>
        </div>
        <div class="ui-g-4">
          <p-autoComplete [(ngModel)]="formModel.default" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)" [minLength]="1"
            autoHighlight="true" emptyMessage="请输入正确的送气工姓名" [style]="{'width':'156px'}" name="objValue" (onBlur)="onBlurAutoComplete()"
            field="employeeName">
            <ng-template let-item pTemplate="item">
              <span>{{item.employeeName}}<br>{{item.phoneNumber}}</span>
            </ng-template>
          </p-autoComplete>
        </div>
      </li>
    </ul>
    <footer class="text-center">
      <button pButton type="submit" icon="fa-check" label="保存"></button>
    </footer>
  </form>
</div>
