.group {
  border: 1px solid;
  border-radius: 10px;
  padding: 4px;
  >span {
    display: block;
    width: 100%;
    color: #868686; // font-weight: bolder;
    line-height: 50px;
    font-size: 16px;
  }
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    line-height: 40px;
    &.active {
      color: #3399ff;
    }
  }
  hr {
    width: 90%;
    border: 1px solid grey;
  }
}

.main{
  left: 120px;
}
