<!-- <div class="sidebar">
    <div class="ui-g ui-g-nopad group">
      <a href="javascript:void(0);" [routerLink]="['customer']" routerLinkActive="active">
        <span>
          <i class="fa fa-user-o fa-fw"></i>&nbsp; 用户基本信息
        </span>
      </a>
      <a href="javascript:void(0);" [routerLink]="['cylinder']" routerLinkActive="active">
        <span>
          <i class="fa fa-id-card-o fa-fw"></i>&nbsp; 气瓶基本信息
        </span>
      </a>
      <hr>
      <a href="javascript:void(0);" [routerLink]="['cylinder-tag']" routerLinkActive="active">
        <span>
          <i class="fa fa-bookmark-o fa-fw"></i>&nbsp; 气瓶标签审核</span>
          </a>
          <a href="javascript:void(0);" [routerLink]="['user-card']" routerLinkActive="active">
        <span>
          <i class="fa fa-bookmark-o fa-fw"></i>&nbsp; 用户身份认证卡审核</span>
      </a>
    </div>
  </div> -->

<!-- 左侧二级菜单 -->
<!-- <div class="sidebar">
  <div class="ui-g ui-g-nopad group ">
    <div class="ui-g-12">
      <button pButton type="button" label="用户基本信息" [routerLink]="['customer']" routerLinkActive="link-active"></button>
    </div>
  </div>

  <div class="ui-g ui-g-nopad group ">
    <div class="ui-g-12">
      <button pButton type="button" label="用户身份认证卡审核" [routerLink]="['user-card']" routerLinkActive="link-active"></button>
    </div>
  </div>
</div> -->


<!-- 右侧内容区域 -->
<div class="main">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>
