.tips {
  .warning {
    color: red;
  }
}

a {
  color: #3399ff;
  text-decoration: none;
}

.bind {
  border-radius: 4px;
  width: 96px;
  height: 45px;
  font-size: 1em;
  background: #3186dc;
}
.ui-button-secondary{
  border-radius: 4px;
  width: 130px;
  height: 45px;
  font-size: 1em;
}

.error {
  color: red;
}

input {
  width: 100%;
}

hr {
  border-top: none;
  border-bottom: 1px dashed grey;
}

p-dialog {
  .title {
    background: #3399ff;
    margin: 0;
    color: white;
    padding: 10px;
  }
  .ui-dialog {
    box-sizing: border-box;
  }
}

.disabled {
  color: rgb(150, 150, 150);
}
