<div class="ui-g-12 card">
  <div style="min-width:850px">
    <div class="ui-g-8">
      <h3>用户身份认证卡</h3>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-9">
          <button pButton type="button" class="searchBtn" (click)="showBindCardDialog()" label="绑定"></button>
          <button pButton type="button" class="searchBtn" style="min-width: 130px;" (click)="applyCardVisible=true" label="认证卡申请"></button>
        </div>
        <!-- <div class="ui-g-3">
        <button pButton type="button" label="查看绑定记录"></button>
      </div> -->
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <p-dataTable [value]="customerCards" emptyMessage="未查询到数据" [paginator]="true" [rows]="pageSize" [scrollable]="false" [lazy]="true"
          (onLazyLoad)="onPageChange($event)" [totalRecords]="total" [rowsPerPageOptions]="[10,20,40,80]">
          <p-column header="序号" [style]="{'width':'100px'}">
            <ng-template pTemplate="body" let-index="rowIndex">
              {{index + 1}}
            </ng-template>
          </p-column>
          <p-column field="userIdentityCardNumber" header="用户身份认证卡编号"></p-column>
          <p-column field="regionName" header="所在行政区"></p-column>
          <p-column field="enterpriseName" header="供气企业"></p-column>
          <p-column field="certNumStatus" header="用户身份认证卡状态">
            <ng-template let-col let-customerCard="rowData" pTemplate="body">
              <a href="javascript:void(0);" (click)="showBindCardDialog(customerCard)">{{customerCard[col.field]}}</a>
            </ng-template>
          </p-column>
          <ng-template pTemplate="paginatorRight">
            共 {{total || 0 }} 条记录
          </ng-template>
        </p-dataTable>
      </div>

    </div>
    <div class="ui-g-4 tips">
      <h3 class="warning">注意事项：</h3>
      <p> ①新录入未分配：请先在“
        <strong>实名用户基本信息</strong>”中填写/导入基础信息，再进行关联； </p>
      <p> ②如存在已绑定关联历史记录： 在模板中直接填写对应气瓶的标签编号，于“信息网络上传”中一次性导入。 </p>
      <strong>
        <i class="warning">（请勿二次导入）</i>
      </strong>
    </div>
  </div>
</div>

<p-dialog [visible]="applyCardVisible" [showHeader]="false" [modal]="true">
  <div class="ui-g-12">
    <div class="ui-g-4">
      申请数量
      <span class="error">*</span>
    </div>
    <div class="ui-g-8">
      <p-spinner size="20" [(ngModel)]="applyCardParams.amount" [min]="1" [max]="1000000" placeholder="申请数量"></p-spinner>
    </div>
    <div class="ui-g-4">
      申请说明
    </div>
    <div class="ui-g-8">
      <input type="text" [(ngModel)]="applyCardParams.detail" pInputText placeholder="申请说明">
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="applyCard()" label="申请"></button>
    <button type="button" pButton icon="fa-close" (click)="applyCardVisible=false" label="取消" class=""></button>
  </p-footer>
</p-dialog>

<p-dialog [visible]="bindCardVisible" [responsive]="true" [showHeader]="false" [modal]="true" [closable]="false" [width]="600"
  [contentStyle]="{'padding':'0'}" [style]="{'border':'none'}">
  <h3 class="title">绑定</h3>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-4">
        <p-dropdown appendTo="body" [options]="customerIDTypes" [autoWidth]="false" [(ngModel)]="selectedCustomerIDType" [style]="{'width':'150px'}"></p-dropdown>
      </div>
      <div class="ui-g-8">
        <p-autoComplete [(ngModel)]="bindCustomerToCard.userNumber" [suggestions]="customerSuggestions" (completeMethod)="searchCustomer($event)"
          (onSelect)="selectSuggestedCustomer($event)" [delay]="500" [size]="20" [minLength]="1" [maxlength]="20" [placeholder]="selectedCustomerIDType">
          <ng-template let-customer pTemplate="item">
            <div style="width:400px;">{{ customer.userNumber }} -- {{ customer.deliveryAddress }} -- {{ customer.certificateId }}</div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-2 disabled"> 用户名称 </div>
      <div class="ui-g-4">
        <input type="text" [(ngModel)]="selectedCustomer.userName" pInputText placeholder="用户名称" [disabled]="true">
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-2 disabled"> 证件名称 </div>
      <div class="ui-g-4">
        <input type="text" [(ngModel)]="selectedCustomer.certificateName" pInputText placeholder="证件名称" [disabled]="true">
      </div>
      <div class="ui-g-2 disabled"> 证件编号 </div>
      <div class="ui-g-4">
        <input type="text" [(ngModel)]="selectedCustomer.certificateId" pInputText placeholder="证件编号" [disabled]="true">
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-2 disabled"> 居住地址 </div>
      <div class="ui-g-4">
        <input type="text" [(ngModel)]="selectedCustomer.deliveryAddress" pInputText placeholder="居住地址" [disabled]="true">
      </div>
      <div class="ui-g-2 disabled"> 用户状态 </div>
      <div class="ui-g-4">
        <input type="text" [(ngModel)]="selectedCustomer.userStatus" pInputText placeholder="用户状态" [disabled]="true">
      </div>
    </div>
    <hr>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-4"> 当前身份认证卡编号
        <span class="error">*</span>
      </div>
      <div class="ui-g-5">
        <p-autoComplete [(ngModel)]="bindCustomerToCard.userIdentityCardNumber" [suggestions]="customerCardSuggestions" (completeMethod)="searchCustomerCard($event)"
          (onSelect)="selectSuggestedCustomerCard($event)" [delay]="500" [size]="20" [minLength]="1" [maxlength]="20" placeholder="当前身份认证卡编号">
          <ng-template let-customerCard pTemplate="item">
            <div style="width:400px;">{{ customerCard.userIdentityCardNumber }} -- {{ customerCard.regionName }} -- {{ customerCard.enterpriseName
              }}
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-4 disabled"> 供气企业 </div>
      <div class="ui-g-5">
        <input type="text" [(ngModel)]="selectedCustomerCard.enterpriseName" pInputText placeholder="供气企业" [disabled]="true">
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-4 disabled"> 供气站点
        <span class="error">*</span>
      </div>
      <div class="ui-g-5">
        <!-- <p-dropdown [options]="gasSites" [autoWidth]="false" [(ngModel)]="bindCustomerToCard.gasSite" [style]="{'width':'200px'}" disabled></p-dropdown> -->
      </div>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="bind()" label="绑定"></button>
    <button type="button" pButton icon="fa-close" (click)="bindCardVisible=false" label="取消" ></button>
  </p-footer>
</p-dialog>
