.enterprise-detail {
    // margin: 15px 0px 0 15px;
    background: #fff;
    .title {
        color: #2399e5;
        text-align: center;
    }
    .inputgroup {
        width: 90px;
        display: inline-block;
        color: rgb(102, 102, 102);
    }
    .textInput {
        // width: 40%;
        width: calc(100% - 80px);
        max-width: 300px;
    }
    .padding {
        border-radius: 4px;
        background:#fff;
    }
    .searchBtn {
        // margin:auto;
        height: 33px;
        line-height: 33px;
        width: 72px;
        font-size: 1em;
        // font-weight: bold;
        border-radius: 4px;
        background: #3186dc;
        border: 0px;
    }
}
