.cylinderList {
  div[class^="ui"] {
    padding: 0;
  }
  .padding {
    padding: 5px 15px;
  }
  .padding-bottom{
    margin-bottom:10px;
  }
  .form-group {
    padding: 3px;
    >span {
      color: rgb(102, 102, 102);
    }
  }
  .searchBtn {
    margin-top: 10px;
    margin-left: 15px;
    height: 45px;
    width: 96px;
    font-size: 1.3em;
    // font-weight: bold;
    border-radius: 4px;
  }
  .textInput {
    width: 55%;
    max-width: 180px;
  }
  a {
    color: #3399ff;
  }
}
