.cylinderList {
  div[class^="ui"] {
    padding: 0;
  }
  .padding {
    padding: 15px 15px;
  }
  .padding-bottom{
    margin-bottom:10px;
  }
  .form-group {
    padding: 10px;
    >span {
      color: rgb(102, 102, 102);
    }
  }
  .searchBtn {
    border-radius: 4px;
    width: 96px;
    height: 45px;
    font-size: 1em;
    background: #3186dc;
}
  .textInput {
    // width: 55%;
    width: 280px;
  }
  a {
    color: #3399ff;
  }
}
