<div class="redirectionPage">
  <div class="ui-g layout">
    <gas-header></gas-header>
  </div>
  <div *ngIf="showGovernment">
    <h2 class="headline">
      瓶装燃气监管系统
    </h2>
    <div class="container">
      <div class="content " [routerLink]="['/delivery/cylinder-trace']">
        <div class="photo-container">
          <img src="./assets/img/redirection/气瓶追溯.png">
        </div>
        <div class="title-container">
          <span class="title">
            气瓶追溯监管
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/gov-affairs/filling-scale']">
        <div class="photo-container">
          <img src="./assets/img/redirection/气瓶充装.png">
        </div>
        <div class="title-container">
          <span class="title">
            气瓶充装监管
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/gov-affairs/collaborative']">
        <div class="photo-container">
          <img src="./assets/img/redirection/燃气日常监管监管.png">
        </div>
        <div class="title-container">
          <span class="title">
            燃气日常监管巡查
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/archive']">
        <div class="photo-container">
          <img src="./assets/img/redirection/监管对象档案管理.png">
        </div>
        <div class="title-container">
          <span class="title">
            监管对象档案管理
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/system']">
        <div class="photo-container">
          <img src="./assets/img/redirection/系统配置.png">
        </div>
        <div class="title-container">
          <span class="title">
            系统配置管理
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/visualization/big-screen']">
        <div class="photo-container">
          <img src="./assets/img/redirection/可视化协同.png">
        </div>
        <div class="title-container">
          <span class="title">
            可视化协同调度
            <br> 应急指挥子系统
          </span>
        </div>
      </div>
      <!-- <div class="content">
        <div class="photo-container">
          <img src="./assets/img/redirection/气瓶追溯.png">
        </div>
      </div> -->
    </div>
  </div>
  <div *ngIf="showEnterprise">
    <h2 class="headline">
      燃气企业运营系统
    </h2>
    <div class="container">
      <div class="content" [routerLink]="['/archive/cylinder']">
        <div class="photo-container">
          <img src="./assets/img/redirection/气瓶档案管理.png">
        </div>
        <div class="title-container">
          <span class="title">
            气瓶档案管理
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/archive/customer']">
        <div class="photo-container">
          <img src="./assets/img/redirection/用户档案管理.png">
        </div>
        <div class="title-container">
          <span class="title">
            用户档案管理
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/archive/employee']">
        <div class="photo-container">
          <img src="./assets/img/redirection/企业档案管理.png">
        </div>
        <div class="title-container">
          <span class="title">
            企业档案管理
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/delivery/cylinder-trace/cylinder-filling']">
        <div class="photo-container">
          <img src="./assets/img/redirection/气瓶充装管理.png">
        </div>
        <div class="title-container">
          <span class="title">
            气瓶充装管理
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/enterprise-supervise/affair-list']">
        <div class="photo-container">
          <img src="./assets/img/redirection/企业监管.png">
        </div>
        <div class="title-container">
          <span class="title">
            企业监管
            <br> 子系统
          </span>
        </div>
      </div>
      <div class="content" [routerLink]="['/delivery/cylinder-trace/cylinder-history']">
        <div class="photo-container">
          <img src="./assets/img/redirection/物流配送.png">
        </div>
        <div class="title-container">
          <span class="title">
            物流配送管理
            <br> 子系统
          </span>
        </div>
      </div>
      <!-- <div class="content">
          <div class="photo-container">
            <img src="./assets/img/redirection/气瓶追溯.png">
          </div>
        </div> -->
    </div>
  </div>
</div>
