@mixin common() {
    width: 220px;
    height: 320px; // margin: 2em 3em;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2.5px 4.33px 5px 0px rgba( 0, 0, 0, 0.1);
    transition: all .2s linear;
    cursor: pointer;
    &:hover {
        transition: translate3d(0, -2px, 0);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }
    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
    .photo-container {
        width: 220px;
        height: 160px;
        background-color: #3186dc;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .title-container {
        width: 220px;
        height: 160px;
        text-align: center;
        line-height: 160px;
        background-color: #fff;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .title {
        color: #3186dc;
        font-size: 24px;
        // font-weight: bold;
        display: inline-block;
        line-height: 35px;
        vertical-align: middle;
    }
}

.redirectionPage {
    width: 100%;
    height: 100%;
    .headline {
        position: absolute;
        top: 70px;
        width: 100%;
        font-size: 26px;
        text-align: center;
        color: #3186dc;
        white-space: nowrap;
    }
    .container {
        width: 100%;
        height: calc(100% - 132px);
        position: absolute;
        top: 132px;
    }
    .changePage {
        width: 100%;
        height: 100%;
        transform-origin: left top 0px;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: left top 0px;
    }
    .content1 {
        position: absolute;
        left: 550px;
        top: 72px;
        @include common();
    }
    .content2 {
        position: absolute;
        left: 910px;
        top: 72px;
        @include common();
    }
    .content3 {
        position: absolute;
        left: 1270px;
        top: 72px;
        @include common();
    }
    .content4 {
        position: absolute;
        left: 550px;
        top: 464px;
        @include common();
    }
    .content5 {
        position: absolute;
        left: 910px;
        top: 464px;
        @include common();
    }
    .content6 {
        position: absolute;
        left: 1270px;
        top: 464px;
        @include common();
    }
}