.tag{
  padding-left:20px;
  [class^="ui"]{
    padding:0;
  }
  h2.title{
    font-size: 18px;
    color:rgb(51,51,51);
  }
  .btns{
    padding-bottom:10px;
  }
  .bind{
    text-align: center;
    h2{
      margin:0;
      padding:5px;
      font-size:20px;
      background: #0077dc;
      color:#fff;
    }
    input{
      width:90%;
    }
    .content{
      font-size:14px;
      padding:20px 10px 10px 30px;
      .bind-group{
        margin:10px 10px 4px 10px;
        padding-bottom:5px;
        border-bottom:1px solid #f3f3f3;
      }
      .bind-group:last-child {
        border-bottom: 0;
      }

    }
    button {
      margin: 0 15px 20px 15px;
      height: 40px;
      width: 140px;
      border-radius: 5px;
      font-weight: bold;
    }

  }
  .data-table{
    margin-top:10px;
  }
  .tagApply{
    padding:30px;
    text-align: center;
    .input-group{
      margin:20px;
      text-align: left;
      input{
        width:182px;
      }
    }
    .detail{
      >input{
        margin:15px 0;
        width:100%;
      }
      >textarea{
        width:244px;
        height: 70px;
        resize: none;
      }
    }

    button{
      margin:0 15px;
    }
  }
  .bindBtn {
  border-radius: 10px;
  height: 42px;
  font-weight: bold;
  font-size: 20px;
  }
  .cancel{
    background-color:#bcbcbc;
    border-color:#bcbcbc;
  }
  .helpBlock{
    color:#f00;
    text-align: left;
    text-indent: 2em;
  }
  .attention{
    padding:20px;
    h3{
      font-weight: bold;
      font-size: 18px;
      color: #f00;
      text-decoration:underline;
    }
    p{
      margin-bottom:20px;
    }
    .warn{
      font-style:oblique;
      text-decoration:underline;
      color:#FF0000;
    }
  }
  
}
.ui-widget-content{
  border:10px solid red !important;
}