<div class="ui-g tag">
	<div class="ui-g-9">
		<div class="ui-g-12">
			<h2 (click)="test()" class="title">气瓶标签分配</h2>
		</div>
		<div class="ui-g-12 btns">
			<button pButton type="button" label="批量绑定" (click)="onBind()"></button>
			<p-dialog [(visible)]="dialog.bind" [showHeader]="false" [closeOnEscape]="false" [width]="700" [contentStyle]="{'padding':'0'}" [minWidth]="700">
				<div class="bind">
					<h2>批量绑定</h2>
					<div class="ui-g content">
						<div class="ui-g-12 text-left">
							<p-dropdown [options]="dropdown.numberType" [(ngModel)]="dropdown.numberValue" (onchange)="changeBindType($event)" [disabled]="!bind.canChange" [style]="{'width':'150px'}"></p-dropdown>
						</div>
						<div class="ui-g-12 bind-group" *ngFor="let item of bind.list let i=index">
							<div class="ui-g-6">
								<div class="ui-g-3 text-left">
									<label for="">{{dropdown.numberValue.name}}：</label>
								</div>
								<div class="ui-g-6">
									<!-- <input type="text" pInputText [(ngModel)]="bind.list[i][0]" (change)="checkCanChange(i)"  (keyup)="checkCanChange(i)"> -->
									<p-autoComplete [(ngModel)]="bind.list[i][0]" [suggestions]="proposals" (completeMethod)="getProposals($event)"
									 [size]="30" placeholder="Countries" [minLength]="1" forceSelection="true" field="phone" (keyup)="checkCanChange(i)"></p-autoComplete>
								</div>
								<div class="ui-g-3 text-left">
									<span class="helpBlock">可用</span>
								</div>
							</div>
							<div class="ui-g-6">
								<div class="ui-g-4 text-left">
									<label for="">气瓶标签编号：</label>
								</div>
								<div class="ui-g-6">
									<input type="text" pInputText [(ngModel)]="bind.list[i][1]">
								</div>
								<div class="ui-g-2 text-right">
									<span class="helpBlock">不可用</span>
								</div>
							</div>
						</div>

					</div>
					<button pButton type="button" label="绑定" (click)="sendBind()"></button>
					<button pButton type="button" label="取消" (click)="cancelBind()"></button>
				</div>
			</p-dialog>

			<button pButton type="button" label="标签申请" (click)="onTagApply()"></button>
			<p-dialog [(visible)]="dialog.tagApply" [showHeader]="false" [closeOnEscape]="false" [minWidth]="400" [width]="400" [breakpoint]="400">
				<div class="tagApply">
					<div class="input-group">
						<label>申请数量</label>
						<input type="text" pInputText [(ngModel)]="tag.count">
					</div>
					<div class="input-group detail">
						<label>申请说明</label>
						<br>
						<input type="text" pInputText [(ngModel)]="tag.detail">
					</div>
					<button pButton type="button" label="申请" (click)="sendTagApply()"></button>
					<button pButton type="button" label="取消" (click)="cancelTagApply()"></button>
				</div>
			</p-dialog>
		</div>
		<div class="ui-g-12 ">
			<div class="inputgroup">
				<label for="">查看：</label>
				<p-dropdown [options]="dropdown.displayType" [(ngModel)]="dropdown.displayValue" (onChange)="changeSearchOpt($event)"></p-dropdown>
			</div>
		</div>
		<div class="ui-g-12 data-table">
			<p-dataTable [value]="list.activeData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
				<p-column [style]="{'width':'100px'}" header="序号">
					<ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
						<span>{{index+1}}</span>
					</ng-template>
				</p-column>
				<p-column field="{{item.value}}" header="{{item.label}}" *ngFor="let item of list.activeHeader"></p-column>
				<ng-template pTemplate="emptymessage">
					<div class="text-left">
						未查询到数据
					</div>
				</ng-template>
			</p-dataTable>
		</div>
	</div>
	<div class="ui-g-3">
		<div id="u485" class="ax_default label" style="margin:20px 0 0 20px;">
			<div id="u485_div" class=""></div>
			<!-- Unnamed () -->
			<div id="u486" class="text" style="visibility: visible;">
				<p style="font-size:18px;">
					<span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight:700;font-style:normal;text-decoration:underline;color:#FF0000;">注意事项：</span>
				</p>
				<p style="font-size:16px;">
					<span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;font-style:normal;">①新录入未绑定：请先在“</span>
					<span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight:700;font-style:normal;">气瓶基本信息</span>
					<span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;font-style:normal;">”中填写/导入基础信息，再进行批量关联；</span>
				</p>
				<p style="font-size:16px;">
					<span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;font-style:normal;">
						<br>
					</span>
				</p>
				<p style="font-size:16px;">
					<span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;font-style:normal;">②如存在已绑定关联历史记录：</span>
				</p>
				<p style="font-size:16px;">
					<span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;font-style:normal;">在模板中直接填写对应气瓶的标签编号，于“信息网络上传”中一次性导入。</span>
				</p>
				<p style="font-size:16px;">
					<span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;font-style:normal;">
						<br>
					</span>
				</p>
				<p style="font-size:16px;">
					<span style="font-family:'微软雅黑 Bold Oblique', '微软雅黑 Regular', '微软雅黑';font-weight:700;font-style:oblique;text-decoration:underline;color:#FF0000;">（请于勿二次导入！）</span>
				</p>
			</div>
		</div>
	</div>
</div>

