<div class="ui-g tag">
	<div class="ui-g-9">
		<div class="ui-g-12">
			<h2 class="title">气瓶标签分配</h2>
		</div>
		<div class="ui-g-12 btns">
			<button pButton type="button" label="批量绑定" (click)="onBatchBind()"></button>
			<p-dialog [visible]="dialog.bind" [showHeader]="false" [closeOnEscape]="false" [width]="700" [contentStyle]="{'padding':'0','overflow':'visible'}" [minWidth]="700">
				<div class="bind">
					<h2>批量绑定</h2>
					<div class="ui-g content">
						<div class="ui-g-12 text-left">
							<p-dropdown [options]="dropdown.numberType" [(ngModel)]="dropdown.numberValue" [disabled]="!bind.canChange" [style]="{'width':'150px'}"></p-dropdown>
						</div>
						<div class="ui-g-12 bind-group" *ngFor="let item of bind.list let i=index">
							<div class="ui-g-6">
								<div class="ui-g-3 text-left">
									<label for="">{{dropdown.numberValue.name}}：</label>
								</div>
								<div class="ui-g-6">
									<p-autoComplete [(ngModel)]="bind.list[i][0]" [suggestions]="proposals" (completeMethod)="getProposals($event,[i,0])" field="{{dropdown.numberValue.paramsName}}"
										[minLength]="1" (onBlur)="onBlur([i,0])" autoHighlight="true" emptyMessage="您的输入不正确">
										<ng-template let-value pTemplate="item">
											<span>{{value[dropdown.numberValue.paramsName]}}<br>{{value.enterpriseName}}</span>
										</ng-template>
									</p-autoComplete>
								</div>
								<div class="ui-g-3 text-left">
									<span class="helpBlock"> {{bind.helpMsg[i][0]}}</span>
								</div>
							</div>
							<div class="ui-g-6">
								<div class="ui-g-4 text-left">
									<label for="">气瓶标签编号：</label>
								</div>
								<div class="ui-g-6">
									<p-autoComplete [(ngModel)]="bind.list[i][1]" [suggestions]="proposals" (completeMethod)="getProposals($event,[i,1])" [size]="30"
											[minLength]="10" (onBlur)="onBlur([i,1])" delay="0" field="tagNumber" emptyMessage="标签编号不正确" autoHighlight="true"></p-autoComplete>
								</div>
								<div class="ui-g-2 text-left">
									<span class="helpBlock"> {{bind.helpMsg[i][1]}}</span>
								</div>
							</div>
						</div>

					</div>
					<button pButton type="button" label="绑定" (click)="onBind()" [disabled]="disabled"></button>
					<button class="cancel" pButton type="button" label="取消" (click)="cancelBind()"></button>
				</div>
			</p-dialog>

			<button pButton type="button" label="标签申请" (click)="onTagApply()"></button>
			<p-dialog [visible]="dialog.tagApply" [showHeader]="false" [closeOnEscape]="false" 
					[minWidth]="400" [width]="400" [breakpoint]="400">
				<div class="tagApply">
					<div class="input-group">
						<label>申请数量</label>
						<p-spinner size="18" [(ngModel)]="tag.count" [min]="0" [step]="1" [required]="true"></p-spinner>
					</div>
					<div class="input-group detail">
						<label>申请说明</label>
						<textarea pInputTextarea [(ngModel)]="tag.detail"></textarea>
					</div>
					<button pButton type="button" label="申请" (click)="onApply()" [disabled]="disabled"></button>
					<button class="cancel" pButton type="button" label="取消" (click)="onCancelTagApply()"></button>
				</div>
			</p-dialog>
		</div>
		<div class="ui-g-12 ">
			<div class="inputgroup">
				<label for="">查看：</label>
				<p-dropdown [options]="dropdown.displayType" [(ngModel)]="dropdown.displayValue" 
						(onChange)="changeSearchOpt($event)"></p-dropdown>
			</div>
		</div>
		<div class="ui-g-12 data-table">
			<p-dataTable [lazy]="true" [value]="dataList.data" [rows]="dataList.page.option[0]" [paginator]="true" 
					[rowsPerPageOptions]="dataList.page.option" [totalRecords]="dataList.page.total" (onLazyLoad)="pageChange($event)"
					scrollHeight="510px" scrollable="true">
				<p-column [style]="{'width':'100px'}" header="序号">
					<ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
						<span *ngIf="rowData.display !== false">{{index+1}}</span>
					</ng-template>
				</p-column>
				<p-column field="{{item.value}}" header="{{item.label}}" *ngFor="let item of dataList.header"></p-column>
				<ng-template pTemplate="emptymessage">
					<div class="text-left">
						未查询到数据
					</div>
				</ng-template>
			</p-dataTable>
		</div>
	</div>
	<div class="ui-g-3 attention">
		<h3>注意事项：</h3>
		<p>
			 ①新录入未绑定：请先在“<strong>气瓶基本信息</strong>”中填写/导入基础信息，再进行批量关联；
		</p>
		<p>
			 ②如存在已绑定关联历史记录： 在模板中直接填写对应气瓶的标签编号，于“信息网络上传”中一次性导入。
		</p>
		<p class="warn">
			 （请于勿二次导入！）
		</p>
	</div>
</div>
