<div class="main">
  <div class="card">
    <div class="ui-g-12">
      <gas-back link="../../"></gas-back>
      <div class="ui-g-12">
        <h3 class="text-center">新增用户详情查看</h3>
      </div>
      <div class="ui-g-12">
        <p-dataTable [value]="customerRegisterRecords" [loading]="loading" emptyMessage="未查询到数据" [style]="{'max-height':'450px'}"
          [paginator]="true" [rows]="recordPageSize" [lazy]="true" scrollHeight="360px" (onLazyLoad)="onRecordPageChange($event)"
          [scrollable]="false" [totalRecords]="recordTotal" [rowsPerPageOptions]="[10,20,40,80]">
          <p-column [style]="{'width':'100px'}" field="regionName" header="所在区"></p-column>
          <p-column [style]="{'width':'100px'}" field="userName" header="用户名称"></p-column>
          <p-column [style]="{'width':'100px'}" field="userType" header="客户类型"></p-column>
          <p-column [style]="{'width':'100px'}" field="certificateName" header="证件名称"></p-column>
          <p-column [style]="{'width':'100px'}" field="principal" header="姓名"></p-column>
          <p-column [style]="{'width':'150px'}" field="certificateId" header="证件号码"></p-column>
          <p-column [style]="{'width':'150px'}" field="certificateAddress" header="证件地址"></p-column>
          <p-column [style]="{'width':'150px'}" field="enterpriseOrganizationCode" header="营业执照"></p-column>
          <p-column [style]="{'width':'150px'}" field="address" header="注册地址"></p-column>
          <p-column [style]="{'width':'150px'}" field="legalRepresentative" header="法定代表人"></p-column>
          <p-column [style]="{'width':'150px'}" field="deliveryAddress" header="居住地址"></p-column>
          <p-column [style]="{'width':'150px'}" field="principal" header="联系人"></p-column>
          <p-column [style]="{'width':'150px'}" field="phone" header="联系电话"></p-column>
          <p-column [style]="{'width':'150px'}" field="contractNo" header="合同编号"></p-column>
          <p-column [style]="{'width':'150px'}" field="contractEffectiveDate" header="合同开始期">
            <ng-template let-record="rowData" pTemplate="body">
              {{ record.contractEffectiveDate | date: 'yyyy-MM-dd'}}
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'150px'}" field="contractDeadline" header="合同截止期">
            <ng-template let-record="rowData" pTemplate="body">
              {{ record.contractDeadline | date: 'yyyy-MM-dd'}}
            </ng-template>
          </p-column>
          <!-- <p-column [style]="{'width':'150px'}" field="date" header="附件"></p-column> -->
          <ng-template pTemplate="paginatorRight">
            共 {{ recordTotal || 0 }} 条记录
          </ng-template>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
