<div class="main">
  <div class="bottle-library ui-g-12 card">
    <h2 class="title">
      储配站信息管理
      <gas-explanation tooltip="该模块主要功能是储配站（瓶库）账号信息的新增，查询等功能的管理" position="bottom"></gas-explanation>
    </h2>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-6">
            <div class="inputgroup">
              <label for="" class="search-label">辖区</label>
              <p-dropdown [options]="area" [(ngModel)]="searchParams.regionId" [style]="{'width':'280px'}"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6">
            <div class="inputgroup">
              <label for="" class="search-label">所属企业</label>
              <p-dropdown [options]="enterpriseDrop" [(ngModel)]="searchParams.enterpriseName" [style]="{'width':'280px'}"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6">
            <div class="inputgroup">
              <label for="" class="search-label">站点名称</label>
              <input type="text" class="textInput" [(ngModel)]="searchParams.supplyName" maxlength="20" pInputText style="width:280px">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6">
            <span class="inputgroup">
              <label for="" class="search-label">负责人</label>
              <input type="text" class="textInput" [(ngModel)]="searchParams.person" maxlength="20" pInputText style="width:280px">
            </span>
          </div>
          <div class="ui-g-12 ui-lg-6">
            <span class="inputgroup">
              <label for="" class="search-label">许可证编号</label>
              <input type="text" class="textInput" [(ngModel)]="searchParams.supplyLicenseNum" maxlength="20" pInputText style="width:280px">
            </span>
          </div>
          <!-- <div class="ui-g-12 ui-lg-6 ui-md-12 ui-xl-4">
            <span class="inputgroup">
              <label for="" class="search-label">发证日期</label>
            </span>
            <p-calendar [locale]="cn" #start (onSelect)="selectedStartTime($event)" (onClearClick)="clearStartTime($event)" placeholder="2017-10-1"
              [showButtonBar]="true" [maxDate]="end.value" dateFormat="yy-mm-dd" [selectOtherMonths]="true" [monthNavigator]="true"
              [yearNavigator]="true" [showIcon]="false" yearRange="1970:2050" readonlyInput="true" [style]="{'width':'180px','display':'inline-block'}">
            </p-calendar>
            <gas-explanation tooltip="选择时间段按发证日期的时间间隔查询" position="bottom"></gas-explanation>

          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 ui-xl-4">
            <span class="inputgroup">
              <label for="" class="search-label">至</label>
            </span>
            <p-calendar [locale]="cn" #end (onSelect)="selectedEndTime($event)" (onClearClick)="clearEndTime($event)" [minDate]="start.value"
              placeholder="2017-12-29" [showButtonBar]="true" dateFormat="yy-mm-dd" showOtherMonths="true" selectOtherMonths="true"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" readonlyInput="true" [style]="{'width':'180px','display':'inline-block'}"></p-calendar>
          </div> -->
        </div>
      </div>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="查询" class="searchBtn" (click)="onSearch()"></button>

      <button pButton *gasPermissionRole="[RoleType.Admin]" type="button" label="新增" class="searchBtn" (click)="showAddDialog()"></button>

    </div>

    <div class="ui-g-12">
      <div class="ui-g">
        <p-dataTable [value]="bottleLibraryList" [lazy]="true" dataKey="enterpriseName" [paginator]="true" [rows]="pages.pageSize"
          [scrollable]="false" scrollHeight="510px" [rowsPerPageOptions]="pages.pageOption" [totalRecords]="pages.total" (onLazyLoad)="onPageChange($event)"
          [(first)]="pages.first">
          <p-column [style]="{'width':'100px'}" header="编号">
            <ng-template let-index="rowIndex" pTemplate="body">
              <span>{{index+1}}</span>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'150px'}" field="inflatableName" header="站点名称">
            <ng-template pTemplate="header">
              站点名称
              <gas-explanation tooltip="储配站的站点名称" position="bottom"></gas-explanation>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'150px'}" field="regionName" header="所属区域"></p-column>
          <p-column [style]="{'width':'150px'}" field="enterpriseName" header="所属企业"></p-column>
          <p-column [style]="{'width':'150px'}" field="responsiblePerson" header="负责人">
            <ng-template pTemplate="header">
              负责人
              <gas-explanation tooltip="储配站的主要负责人" position="bottom"></gas-explanation>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'150px'}" field="contactPerson" header="联系人"></p-column>
          <p-column [style]="{'width':'150px'}" field="phoneNumber" header="联系方式"></p-column>
          <p-column [style]="{'width':'150px'}" field="inflatableStationAddress" header="站点地址"></p-column>
          <p-column [style]="{'width':'150px'}" field="licenseNumber" header="许可证编号"></p-column>
          <!-- <p-column [style]="{'width':'150px'}" field="issuingUnit" header="核发单位">
            <ng-template pTemplate="header">
              核发单位
              <gas-explanation tooltip="储配站的经营许可证的发放单位" position="bottom"></gas-explanation>
            </ng-template>
          </p-column> -->
          <!-- <p-column [style]="{'width':'150px'}" field="businessCategory" header="经营类别"></p-column> -->
          <!-- <p-column [style]="{'width':'150px'}" field="businessArea" header="经营区域"></p-column> -->
          <!-- <p-column [style]="{'width':'150px'}" header="发证日期">
            <ng-template let-rowdata="rowData" pTemplate="body">
              <span>{{rowdata.releaseTime | date:'yyyy/MM/dd'}}</span>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'150px'}" header="有效期至">
            <ng-template let-rowdata="rowData" pTemplate="body">
              <span>{{rowdata.effectiveTimeStart | date:'yyyy/MM/dd'}}-{{rowdata.effectiveTimeEnd | date:'yyyy/MM/dd'}}</span>
            </ng-template>
          </p-column> -->
          <p-column [style]="{'width':'200px'}" header="操作" *gasPermissionRole="[RoleType.Admin]">
            <ng-template let-data="rowData" let-index="rowIndex" pTemplate="body">
              <button pButton type="button" label="变更归属企业" style="width:120px" (click)="showChangeDialog(data)"></button>
            </ng-template>
          </p-column>
          <!-- <p-column [style]="{'width':'200px'}" header="修改/编辑">
              <ng-template let-data="rowData" let-index="rowIndex" pTemplate="body">
                <button pButton type="button" label="编辑" style="width:120px" (click)="showEditDialog(data)"></button>
              </ng-template>
            </p-column> -->
          <ng-template pTemplate="emptymessage">
            <div class="text-left">
              未查询到数据
            </div>
          </ng-template>
          <ng-template pTemplate="paginatorRight">
            共 {{ pages.total || 0 }} 条记录
          </ng-template>
        </p-dataTable>
      </div>
    </div>
  </div>

  <p-dialog [visible]="addBottleVisible" [positionTop]="90" [responsive]="true" [showHeader]="false " [modal]="true " [closable]="false"
    [width]="800 " [contentStyle]="{ 'padding': '0'} " [style]="{ 'border': 'none'} ">
    <h3 class="dialogtitle" style="text-align:center">新增储配站信息</h3>
    <div class="ui-g-12 " style="height:220px">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-md-6">
          <div class="inputgroup">
            <label for="" class="search-label">站点名称
              <b style="color:red;">*</b>
            </label>
            <input type="text" [(ngModel)]="addForm.inflatableName" style="width:180px" pInputText placeholder="">
          </div>
        </div>
        <div class="ui-g-6">
          <div class="inputgroup">
            <label for="" class="search-label">所属区域
              <b style="color:red;">*</b>
            </label>
            <p-dropdown [options]="areaDrop" [(ngModel)]="addForm.regionId" appendTo="body" [style]="{'width':'180px'}"></p-dropdown>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="inputgroup">
            <label for="" class="search-label">站点地址</label>
            <input type="text" [(ngModel)]="addForm.inflatableStationAddress" style="width:180px" pInputText placeholder="">
          </div>
        </div>
        <div class="ui-g-6">
          <div class="inputgroup">
            <label for="" class="search-label">归属企业
              <b style="color:red;">*</b>
            </label>
            <p-dropdown [options]="enterpriseDrop" [(ngModel)]="addForm.enterpriseNumber" appendTo="body" [style]="{'width':'180px'}"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">负责人
            <b style="color:red;">*</b>
          </label>
          <input type="text" [(ngModel)]="addForm.responsiblePerson" style="width:180px" pInputText placeholder="">
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">联系人</label>
          <input type="text" [(ngModel)]="addForm.contactPerson" style="width:180px" pInputText placeholder="">
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">联系方式</label>
          <input type="text" [(ngModel)]="addForm.phoneNumber" style="width:180px" pInputText placeholder="">
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">许可证编号
            <b style="color:red;">*</b>
          </label>
          <input type="text" [(ngModel)]="addForm.licenseNumber" style="width:180px" pInputText placeholder=" ">
        </div>
      </div>
      <!-- <div class="ui-g-12 ui-md-6">
        <div class="inputgroup ">
          <label for="" class="search-label">核发单位
            <b style="color:red;">*</b>
          </label>
          <input type="text" [(ngModel)]="addForm.issuingUnit" style="width:180px" pInputText placeholder=" ">
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">发证日期
            <b style="color:red;">*</b>
          </label>
          <p-calendar [locale]="cn" #date [(ngModel)]="addForm.releaseTime" appendTo="body" [showButtonBar]="true" placeholder="请输入发证日期"
            readonlyInput="true" dateFormat="yy-mm-dd" showOtherMonths="true" selectOtherMonths="true" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="1970:2050" [style]="{'width':'180px','display':'inline-block'}"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">有效期
            <b style="color:red;">*</b>
          </label>
          <p-calendar [locale]="cn" #startDates [(ngModel)]="addForm.effectiveTimeStart" appendTo="body" #startDate [showButtonBar]="true"
            placeholder="请输入有效起始时间" readonlyInput="true" dateFormat="yy-mm-dd" showOtherMonths="true" [maxDate]="endDates.value?endDates.value:today"
            selectOtherMonths="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [style]="{'width':'180px','display':'inline-block'}"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">至
            <b style="color:red;">*</b>
          </label>
          <p-calendar [locale]="cn" #endDates [(ngModel)]="addForm.effectiveTimeEnd" appendTo="body" #endDate [showButtonBar]="true"
            placeholder="请输入有效结束时间" readonlyInput="true" dateFormat="yy-mm-dd" showOtherMonths="true" [minDate]="startDates.value"
            selectOtherMonths="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [style]="{'width':'180px','display':'inline-block'}"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">经营区域
          </label>
          <input type="text" [(ngModel)]="addForm.businessArea" style="width:180px" pInputText placeholder="">
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="inputgroup">
          <label for="" class="search-label">经营类别
          </label>
          <input type="text" [(ngModel)]="addForm.businessCategory" style="width:180px" pInputText placeholder="">
        </div>
      </div> -->
    </div>
    <p-footer>
      <button type="button" pButton label="确认新增" (click)="AddCorpSupplyStation()"></button>
      <button type="button" pButton (click)="addBottleVisible=false " label="关闭 "></button>
    </p-footer>
  </p-dialog>
  <p-dialog [visible]="changeBottleVisible" [positionTop]="90" [responsive]="true" [showHeader]="false " [modal]="true " [closable]="false"
    [width]="400" [contentStyle]="{ 'padding': '0'} " [style]="{ 'border': 'none'} ">
    <h3 style="text-align:center">变更归属企业</h3>
    <div class="ui-g-12 " style="height:200px">
      <div class="ui-g-12">
        <div class="inputgroup">
          <label for="" class="search-label">站点名称</label>
          <input type="text" disabled="disabled" [(ngModel)]="change.supplyStationName" style="width:300px" pInputText placeholder="">
        </div>
      </div>
      <div class="ui-g-12" *gasPermissionRole="[RoleType.Admin]">
        <div class="inputgroup">
          <label for="" class="search-label">所属企业</label>
          <p-dropdown [options]="changeEnterpriseDrop" appendTo="body" [(ngModel)]="change.enterpriseNumber" [style]="{'width':'300px'}"></p-dropdown>
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button " pButton label="确认更改" (click)="changeEnterpriseNumber()"></button>
      <button type="button " pButton (click)="changeBottleVisible=false " label="关闭 "></button>
    </p-footer>
  </p-dialog>
</div>