@import './../../../../scss/_variable';
.main{
  left: 90px;
}

h2 {
  margin: 0;
  text-align: center;
  i {
    color: #2399e5;
  }
}
.searchBtn {
  border-radius: 4px;
  width: 120px;
  height: 45px;
  font-size: 1em;
  background: #3186dc;
}
