<div class="ui-g layout">
  <div class="ui-g-nopad header-left" [routerLink]="['/home']">
    <img src="./assets/img/supervise-logo.png" class="logo" alt="">
    <span class="title-top">智慧燃气安全监管</span>
    <span class="title-bottom">大数据平台</span>
  </div>
  <div class="ui-g-nopad menu">
    <p-tieredMenu [model]="menus"></p-tieredMenu>
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <router-outlet></router-outlet>
  </div>

  <div class="ui-g-nopad footer">
    <img src="./assets/img/personal-info.png" class="shortcut" alt="">
    <img src="./assets/img/logout.png" class="shortcut" alt="" (click)="logout()">
  </div>
</div>
