<div class="ui-g-12">
  <h1 style="text-align: center;">调查问卷</h1>

  <button pButton [routerLink]="['../addquestion']" type="button" label="添加问卷" style="float: right;"></button>

  <button pButton type="button" label="查询" style="float: left;" (click)="query()"></button>
  <div class="ui-g-12 ui-g-nopad" style="position: relative;top: 30px;">
    <p-dataTable [value]="questionnaireList" emptyMessage="未查询到数据" [paginator]="true" [rows]="pages.pageSize" [scrollable]="false"
      [lazy]="true" (onLazyLoad)="onPageChange($event)" [totalRecords]="pages.total" [rowsPerPageOptions]="pages.pageOption">
      <p-column header="序号" [style]="{'width':'100px'}">
        <ng-template pTemplate="body" let-index="rowIndex">
          {{index + 1}}
        </ng-template>
      </p-column>
      <p-column field="questionnaireTitle" header="问卷标题"></p-column>
      <!-- <p-column field="questionnaireDescription" header="问卷描述"></p-column> -->
      <p-column field="startTime" header="开始时间">
        <ng-template let-rowData="rowData" pTemplate="body">
          {{ rowData.startTime | date:'yyyy-MM-dd' }}
        </ng-template>
      </p-column>
      <p-column field="endTime" header="结束时间">
          <ng-template let-rowData="rowData" pTemplate="body">
              {{ rowData.startTime | date:'yyyy-MM-dd' }}
            </ng-template>
      </p-column>
      <p-column field="userId" header="上传用户ID"></p-column>
      <p-column header="操作" [style]="{'width':'180px'}">
        <ng-template let-col let-rowData="rowData" pTemplate="body">
          <!-- <a href="javascript:void(0);" (click)="viewStatistics()">查看统计</a> -->
          <button pButton type="button" label="查看问卷详情" [routerLink]="['../questionnaire-details', rowData.questionnaireId]"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
