.dispatcher {
  a{
    color: #3399ff;
  }
  .textInput {
    width: 280px;
  }
  .searchBtn {
    border-radius: 4px;
    width: 96px;
    height: 45px;
    font-size: 1em;
    background: #3186dc;
  }
}