<div class="ui-g-12">
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-6">
        <span class="search-label"> 经营企业 </span>
        <p-dropdown [options]="enterpriseList" [(ngModel)]="enterpriseNumber" [style]="{'width':'280px'}" [filter]="true"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-lg-6">
        <span class="search-label"> 充装秤编号 </span>
        <input type="text" class="textInput" [(ngModel)]="balanceNumber" pInputText>
      </div>

      <div class="ui-g-12 ui-lg-4">
        <button pButton type="submit" (click)="search()" label="查询" class="searchBtn"></button>
      </div>
    </div>
  </div>

  <div style="clear: both;"></div>
  <p-dataTable [value]="balanceList" [lazy]="true" [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[10,20,40,80]"
    [totalRecords]="total" (onLazyLoad)="onPageChange($event)" [(first)]="first" [loading]="loading">
    <p-column [style]="{'width':'100px'}" header="序号">
      <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
        <span>{{index+1}}</span>
      </ng-template>
    </p-column>
    <p-column field="balanceNumber" header="充装秤编号"></p-column>
    <p-column field="enterpriseName" [style]="{'width':'15%'}" header="企业名称"></p-column>
    <p-column field="inflatableName" [style]="{'width':'15%'}" header="充装站点名称"></p-column>
    <p-column field="specification" header="规格说明"></p-column>
    <p-column field="balanceEquipmentManufacturer" header="生产厂家"></p-column>
    <p-column field="remark" header="备注"></p-column>
    <p-column header="操作" *ngIf="isShowOperation">
      <ng-template let-rowData="rowData" pTemplate="body">
        <button pButton type="button" (click)="showSettingScaleDialog(rowData)" label="查看状态" class=""></button>
      </ng-template>
    </p-column>

    <ng-template pTemplate="emptymessage">
      <div class="text-left">
        未查询到数据
      </div>
    </ng-template>

    <ng-template pTemplate="paginatorRight">
      共 {{ total || 0 }} 条记录
    </ng-template>
  </p-dataTable>
</div>

<p-dialog [visible]="settingScaleDialogVisible" header="充装秤状态" [responsive]="true" [showHeader]="true" [modal]="true" [closable]="false"
  [width]="800" [contentStyle]="{'padding':'0','overflow':'auto','border':'none'}" positionTop="130">
  <div class="ui-g-12 text-center">
    充装秤编号：{{ selectedScaleStatus?.balanceNumber }}
    <div class="ui-g-12 ui-g-nopad">
      设置联锁：
      <p-inputSwitch onLabel="开" offLabel="关" [(ngModel)]="selectedScaleStatus.boolIsSetInterLock" (onChange)="setInnerLock($event.checked)"></p-inputSwitch>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      设置锁：
      <p-inputSwitch onLabel="开" offLabel="关" [(ngModel)]="selectedScaleStatus.boolIsSetOuterLock" (onChange)="setLock($event.checked)"></p-inputSwitch>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-close" (click)="settingScaleDialogVisible=false" label="关闭"></button>
  </p-footer>
</p-dialog>
