@import "./../../../scss/_variable";
h2 {
  color: #3399ff;
  margin: 0;
}

a {
  color: #3399ff;
}

.container {
  // margin-top: $header-height;
  background-color: #ffffff;
}

.warning {
  color: red;
}

.auto-fill {
  background: #f2f2f2;
}

.group {
  border: 1px solid #000;
  border-radius: 8px;
  // margin: 20px auto;
}
