.affairs-list{
  .label{
    width: 130px;
  }

  a{
    color:#3399ff;
  }
  .searchBtn {
    border-radius: 4px;
    width: 96px;
    height: 45px;
    font-size: 1em;
    background: #3186dc;
}
  form{
    .form-group{
      margin:5px 0;
    }
  }
}
