<div class="sidebar">
    <div class="ui-g ui-g-nopad group">
      <a href="javascript:void(0);" [routerLink]="['customer']" routerLinkActive="active">
        <span>
          <i class="fa fa-user-o fa-fw"></i>&nbsp; 用户基本信息
        </span>
      </a>
      <a href="javascript:void(0);" [routerLink]="['cylinder']" routerLinkActive="active">
        <span>
          <i class="fa fa-id-card-o fa-fw"></i>&nbsp; 气瓶基本信息
        </span>
      </a>
      <hr>
      <a href="javascript:void(0);" [routerLink]="['cylinder-tag']" routerLinkActive="active">
        <span>
          <i class="fa fa-bookmark-o fa-fw"></i>&nbsp; 气瓶标签审核</span>
          </a>
          <a href="javascript:void(0);" [routerLink]="['user-card']" routerLinkActive="active">
        <span>
          <i class="fa fa-bookmark-o fa-fw"></i>&nbsp; 用户身份认证卡审核</span>
      </a>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
