<div class="ui-g-12">
  <h3>供应站气瓶统计</h3>
  <div class="ui-g">
    <div class="ui-lg-10 ui-xl-8 ui-xl-offset-2 ui-lg-offset-1">
      <!-- <button pButton type="button" (click)="exportSupplyStationStatistic()" class="ui-button-info right" label="导出"></button> -->
    </div>
  </div>
  <p-dataTable [value]="cylinderStorageFilters" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,40]" [styleClass]="'ui-lg-10 ui-xl-8 ui-xl-offset-2 ui-lg-offset-1'"
    [loading]="cylinderLoading" emptyMessage="未查询到数据">

    <!-- <p-column header="序号" [style]="{'width':'50px'}">
        <ng-template pTemplate="body" let-index="rowIndex">
          {{index + 1}}
        </ng-template>
      </p-column> -->
    <p-column field="stationName" header="站点名称">
      <!-- <ng-template let-col let-countyCylinder="rowData" pTemplate="body">
          <a href="javascript:void(0);" [routerLink]="['../enterprise', countyCylinder.regionId || '']" class="area">{{countyCylinder[col.field]}}</a>
        </ng-template> -->
    </p-column>
    <p-column field="gcCount" header="气瓶数">
      <ng-template let-countyCylinder="rowData" pTemplate="body">
        <span *ngIf="countyCylinder.gcCount<=0">
          {{ countyCylinder.gcCount || 0 }}
        </span>
        <a href="javascript:void(0);" *ngIf="countyCylinder.gcCount>0" (click)="onOpenDialog(countyCylinder.stationNumber)">
          {{ countyCylinder.gcCount || 0 }}
        </a>
      </ng-template>
    </p-column>

  </p-dataTable>

  <!-- 流通统计 -->
  <h3>流通信息统计</h3>
  <div class="ui-g">
    <div class="ui-lg-10 ui-xl-8 ui-xl-offset-2 ui-lg-offset-1">
      <label for="" class="search-label"> 时间范围：</label>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="circulationBeginTime"
        dateFormat="yy-mm-dd" [locale]="zh" readonlyInput="true"></p-calendar>
      <label for="" class="search-label" style="text-align: center">至</label>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="circulationEndTime"
        dateFormat="yy-mm-dd" [locale]="zh" readonlyInput="true"></p-calendar>

      <button pButton type="button" label="查询" class="searchBtn" (click)="searchCylinderStorageCirculations()"></button>
      <!-- <button pButton type="button" (click)="exportSupplyStationCirculationStatistic()" class="ui-button-info right" label="导出"></button> -->
    </div>
  </div>


  <p-dataTable [value]="cylinderStorageCirculationFilters" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,40]"
    [styleClass]="'ui-lg-10 ui-xl-8 ui-xl-offset-2 ui-lg-offset-1'" [loading]="circulationLoading" emptyMessage="未查询到数据">

    <!-- <p-column header="序号" [style]="{'width':'50px'}">
        <ng-template pTemplate="body" let-index="rowIndex">
          {{index + 1}}
        </ng-template>
      </p-column> -->
    <p-column field="stationName" header="供应站" [style]="{'width':'20%'}">
    </p-column>
    <p-column field="fullBottleReceiveCount" header="重瓶入库">
      <ng-template let-countyCylinder="rowData" pTemplate="body">
        {{ countyCylinder.fullBottleReceiveCount || 0 }}
      </ng-template>
    </p-column>
    <p-column field="fullBottleSendCount" header="重瓶出库">
      <ng-template let-countyCylinder="rowData" pTemplate="body">
        {{ countyCylinder.fullBottleSendCount || 0 }}
      </ng-template>
    </p-column>
    <p-column field="emptyBottleReceiveCount" header="空瓶入库">
      <ng-template let-countyCylinder="rowData" pTemplate="body">
        {{ countyCylinder.emptyBottleReceiveCount || 0 }}
      </ng-template>
    </p-column>
    <p-column field="emptyBottleSendCount" header="空瓶出库">
      <ng-template let-countyCylinder="rowData" pTemplate="body">
        {{ countyCylinder.emptyBottleSendCount || 0 }}
      </ng-template>
    </p-column>

  </p-dataTable>

  <p-dialog [visible]="storageVisible" [responsive]="true" [showHeader]="false" [modal]="true" [closable]="false" [width]="800"
    [contentStyle]="{'padding':'0'}" [style]="{'border':'none'}">
    <div class="ui-g-12">
      <p-dataTable [value]="dialogDataTable.list" dataKey="gasLabelNumber" [paginator]="true" [rows]="dialogDataTable.options[0]"
        [scrollable]="false" [rowsPerPageOptions]="dialogDataTable.options" [totalRecords]="dialogDataTable.total" [lazy]="true"
        (onLazyLoad)="onPageChange($event)" [(first)]="dialogDataTable.first">
        <p-column [style]="{'width':'100px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="gasLabelNumber" header="条码">
          <ng-template let-col let-cylinder="rowData" pTemplate="body">
            {{ cylinder.gasLabelNumber }}
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'80px'}" field="regionName" header="所属行政区"></p-column>
        <p-column [style]="{'width':'150px'}" field="enterpriseName" header="经营企业"></p-column>
        <p-column [style]="{'width':'100px'}" field="type" header="气瓶规格"></p-column>
        <p-column [style]="{'width':'100px'}" field="fillingMedium" header="充装介质"></p-column>
        <p-column [style]="{'width':'80px'}" field="serviceCondition" header="状态"></p-column>
        <p-column [style]="{'width':'100px'}" header="制造年月">
          <ng-template let-first="rowData" pTemplate="body">
            <span>{{first.productionDate|date:"yyyy-MM-dd"}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" header="末检日期">
          <ng-template let-end="rowData" pTemplate="body">
            <span>{{end.endCheckDate|date:"yyyy-MM-dd"}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" header="下检日期">
          <ng-template let-next="rowData" pTemplate="body">
            <span>{{next.nextCheckDate|date:"yyyy-MM-dd"}}</span>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" field="serialNumber" header="出厂编号"></p-column>
        <p-column [style]="{'width':'100px'}" field="enterpriseCylinderCode" header="自有编号"></p-column>
        <p-column [style]="{'width':'100px'}" field="electronNumber" header="电子编号（预留）"></p-column>
        <p-column [style]="{'width':'100px'}" field="area13" header="登记时间"></p-column>
        <p-column [style]="{'width':'100px'}" field="productionUnit" header="制造单位"></p-column>

        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
      </p-dataTable>
    </div>
    <p-footer>
      <button type="button" pButton (click)="storageVisible=false" label="关闭"></button>
    </p-footer>
  </p-dialog>

</div>
