.submit{
  margin:70px 10px 10px 10px;
  padding:10px 20px 0px 20px;
  min-height: 400px;
  border:1px solid #666;
  border-radius:10px;
  // [class^='ui-g']{
  //   padding:0;
  // }
  h2{
    margin:0;
    font-size: 20px;
  }
}