@charset "utf-8";
/* CSS Document */

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

img,
body,
html {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

q:before,
q:after {
  content: '';
}

body {
  color: #333;
  font-family: arial, verdana, sans-serif;
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

img {
  border: 0;
}

* {
  font-family: "宋体", sans-serif;
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
}

#links {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 200px;
  text-align: left;
  background-color: #fff;
  margin-top: -80px;
}

#main0 {
  float: right;
  margin-right: 30px;
  padding: 0px;
  width: 940px;
  text-align: left;
  background-color: #333333;
  height: 605px;
  /* margin-left: 30%; */
  /* position: absolute;
	left: 120%; */
}

.text {
  margin: 0px;
  padding: 0px;
  border: 1px solid #79a7e2;
}

.text2 {
  margin: 0px;
  padding: 0px;
  border: 1px solid #79a7e2;
}

.loginbar_m {
  height: 130px;
  padding: 0px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color: #CCCCCC;
}

body,
div,
ul,
li {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

body {
  font: 12px "宋体";
  text-align: center;
}

a:link {
  color: #00F;
  text-decoration: none;
}

a:visited {
  color: #00F;
  text-decoration: none;
}

a:hover {
  color: #c00;
  text-decoration: underline;
}

ul {
  list-style: none;
}

.main {
  clear: both;
  padding: 8px;
  text-align: center;
  float: left;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #8AB2E3;
  border-bottom-color: #8AB2E3;
  border-left-color: #8AB2E3;
  background-color: #FFFFFF;
}

#control_header {
  background-color: #eff5ff;
  background-image: url(../images/control_icon.gif);
  background-repeat: no-repeat;
  background-position: 5px;
  height: 25px;
  line-height: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #79a7e2;
  font-weight: bold;
}

#list_header {
  background-color: #eff5ff;
  background-image: url(../images/control_icon2.gif);
  background-repeat: no-repeat;
  background-position: 5px;
  height: 25px;
  line-height: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #79a7e2;
  font-weight: bold;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #79a7e2;
}

#search_header {
  background-color: #eff5ff;
  background-image: url(../images/control_icon3.gif);
  background-repeat: no-repeat;
  background-position: 5px;
  height: 25px;
  line-height: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #79a7e2;
  font-weight: bold;
}

#tree-div {
  height: 485px;
  background-color: #fff;
  overflow: scroll;
  width: 198px;
}

#control2 {
  padding-left: 10px;
}

#control3 {
  padding-left: 0px;
  height: 380px;
  text-align: right;
}

#south_div {
  border: 1px solid #79a7e2;
  overflow: hidden;
  width: 748px;
  background-color: #eff5ff;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 24px;
}

#videoSearch_Div {
  border-top: 1px solid #79a7e2;
  overflow: hidden;
  width: 100%;
  height: 130px;
  background-color: #C1DBFE;
}

#contentbox {
  float: left;
}

.text1 {
  font-size: 18px;
  width: 400px;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 20px;
  line-height: 30px;
  z-index: 2;
}

.text1 a {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.TabbedPanelsTab,
.TabbedPanelsTabSelected {
  position: absolute;
  font-size: 30px;
  left: 0;
  top: 13%;
}

#header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  /* height: 25px; */
}

#contain {
  width: 100%;
  height: 605px;
  left: 0;
  top: 25px;
  position: absolute;
}
