.TabbedPanels {
  CLEAR: none;
  /* WIDTH: 1200px; */
  padding: 0px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.TabbedPanelsTabHover {}

.TabbedPanelsTab A {
  COLOR: black;
  TEXT-DECORATION: none
}

.TabbedPanelsContentGroup {
  CLEAR: both
}

.TabbedPanelsContentVisible {
  position: absolute;
  left: 20px;
  top: 130px;
  width: 1200px;
  margin: 0;
}

.VTabbedPanels .TabbedPanelsTabGroup {
  BORDER-RIGHT: #999 1px solid;
  BORDER-TOP: #999 1px solid;
  FLOAT: left;
  BORDER-LEFT: #ccc 1px solid;
  WIDTH: 10em;
  BORDER-BOTTOM: #ccc 1px solid;
  POSITION: relative;
  HEIGHT: 20em;
  BACKGROUND-COLOR: #eee
}

.VTabbedPanels .TabbedPanelsTab {
  FLOAT: none;
  MARGIN: 0px;
  BORDER-TOP-STYLE: none;
  BORDER-RIGHT-STYLE: none;
  BORDER-LEFT-STYLE: none
}

.VTabbedPanels .TabbedPanelsTabSelected {
  BORDER-BOTTOM: #999 1px solid;
  BACKGROUND-COLOR: #eee
}

.VTabbedPanels .TabbedPanelsContentGroup {
  CLEAR: none;
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  WIDTH: 30em;
  PADDING-TOP: 0px;
  HEIGHT: 20em
}
