<div class="collaborative">
  <div class="sidebar">
    <div class="ui-g ui-g-nopad group">
      <div class="ui-g-12">
        <button pButton type="button" label="执法事务录入" (click)="visible=true"></button>
      </div>
    </div>
    <div class="ui-g ui-g-nopad group">
      <div class="ui-g-12">
        <button pButton type="button" label="我的事务" [routerLink]="['./my-affairs']"></button>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" label="事务列表一览" [routerLink]="['./all-affairs']"></button>
      </div>
    </div>
  </div>
  <p-dialog [visible]="visible" [showHeader]="false" [closeOnEscape]="false" [width]="1000" [contentStyle]="{'padding':'0','overflow':'visible'}"
    [minWidth]="900" [modal]="true" [style]="{'border':'none'}">
    <h1 (click)="onTest()">执法事务录入</h1>
    <form>
  
      <div class="ui-g">
        <div class="ui-g-6 border-right">
          <div class="ui-g-12 form-group">
            <div class="title ui-g-3">
              <label for="">
                <span class="warn">*</span>事务处理对象：
              </label>
            </div>
            <div class="ui-g-9">
              <div class="ui-g-3">
                <p-radioButton name="group2" value="1" label="充装站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
              </div>
              <div class="ui-g-3">
                <p-radioButton name="group2" value="2" label="供应站" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
              </div>
              <div class="ui-g-3">
                <p-radioButton name="group2" value="3" label="送气工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
              </div>
              <div class="ui-g-3">
                <p-radioButton name="group2" value="4" label="押送工" [(ngModel)]="formModel.objType" (onClick)="onObjTypeChange()"></p-radioButton>
              </div>
            </div>
          </div>

          <div class="form-group ui-g-12" *ngIf="formModel.objType==1">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>充装站：</label>
            <div class="ui-g-10">
              <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)"
                [minLength]="1" autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue"
                placeholder="请输入充装站名称" (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[1].field}}" >
              </p-autoComplete>
            </div>
          </div>
          <div class="form-group ui-g-12" *ngIf="formModel.objType==2">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>供应站：</label>
            <div class="ui-g-10">
              <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)"
                [minLength]="1" autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue"
                 placeholder="请输入供应站名称" (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[2].field}}">
              </p-autoComplete>
            </div>
          </div>
          <div class="form-group ui-g-12" *ngIf="formModel.objType==3">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>送气工：</label>
            <div class="ui-g-10">
              <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)"
                [minLength]="2" autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue"
                 placeholder="请输入送气工姓名" (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[3].field}}">
                <ng-template let-value pTemplate="item">
                  <span>
                    {{value.dispatcherName}}---{{value.dispatcherNumber}}
                    <br> {{value.enterpriseName}}
                  </span>
                </ng-template>
              </p-autoComplete>
              <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
            </div>
          </div>
          <div class="form-group ui-g-12" *ngIf="formModel.objType==4">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>押送工：</label>
            <div class="ui-g-10">
              <p-autoComplete [(ngModel)]="formModel.objValue" [suggestions]="suggestions" (completeMethod)="getSuggestions($event)"
                [minLength]="2" autoHighlight="true" emptyMessage="请输入正确的查询条件" [style]="{'width':'168px'}" name="objValue"
                 placeholder="请输入押送工姓名" (onBlur)="onBlurAutoComplete()" field="{{config.autoComplete[4].field}}">
                <ng-template let-value pTemplate="item">
                  <span>
                    {{value.gcCarrierName}}---{{value.gcCarrierId}}<br>
                    {{value.enterpriseName}}
                  </span>
                </ng-template>
              </p-autoComplete>
              <span *ngIf="formModel.objValue?.enterpriseName">{{formModel.objValue?.enterpriseName}}</span>
            </div>
          </div>

          <div class="form-group ui-g-12">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>巡查时间：</label>
            <div class="ui-g-10">
              <p-calendar [(ngModel)]="formModel.time" [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [showButtonBar]="true"
                dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" readonlyInput="true" name="time"></p-calendar>
            </div>
          </div>
          <div class="form-group ui-g-12">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>所在区域：</label>
            <div class="ui-g-10">
              <p-dropdown [options]="regionOptions" [(ngModel)]="formModel.transactionRegionId" name="level" [style]="{'width':'170px'}"></p-dropdown>
            </div>
          </div>
          <div class="form-group ui-g-12">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>事务地点：</label>
            <div class="ui-g-10">
              <input type="text" pInputText [(ngModel)]="formModel.address" name="address"/>
            </div>
          </div>
          <div class="ui-g-12">
            <img src="http://placehold.it/450x220" alt="">
          </div>
        </div>
        <div class="ui-g-6 padding-left">
          <div class="form-group ui-g-12 affair-type">
            <label for="inputEmail3" class="ui-g-12 control-label">
              <span class="warn">*</span>事务类别：
            </label>
            <div class="checkbox-container ui-g-12">
              <div class="checkbox ui-g-3" *ngFor="let item of config.affairType">
                <label>
                  <p-checkbox [(ngModel)]="formModel.affairType" name="affairType" [value]="item.value" [label]="item.label"></p-checkbox>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group ui-g-12">
            <label for="inputEmail3" class="ui-g-2 control-label">
              <span class="warn">*</span>描述：</label>
            <div class="ui-g-10">
              <input type="text" pInputText [(ngModel)]="formModel.describe" name="describe"/>
            </div>
          </div>
          <div class="form-group ui-g-12">
            <label for="inputEmail3" class="ui-g-2 control-label">
              附件：</label>
            <div class="ui-g-10">
              <input type="file" #file name="file">
            </div>
          </div>
          <div class="ui-g-12 group padding-left">
            <h3>业务协同（可选）</h3>
            <div class="form-group ui-g-12 affair-type">
              <label for="inputEmail3" class="ui-g-12 control-label">
                协同部门：
              </label>
              <div class="checkbox-container ui-g-12">
                <div class="checkbox ui-g-4" *ngFor="let item of helpDepartmentList">
                  <label>
                    <p-checkbox name="help" value="{{item.organizationId}}" label="{{item.organizationName}}" 
                    [(ngModel)]="formModel.help" title="{{item.organizationName}}"></p-checkbox>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group ui-g-12">
              <label for="inputEmail3" class="ui-g-2 control-label">
                 紧急程度：</label>
              <div class="ui-g-10">
                <p-dropdown [options]="config.degree" [(ngModel)]="formModel.level" name ="level" [style]="{'width':'170px'}"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ui-g-12 dialog-footer text-center">
        <button pButton type="submit" class="ui-button-primery" label="确认" icon="fa-check" (click)="onSave(file)"></button>
        <button pButton type="button" class="ui-button-secondary" label="取消" icon="fa-close"(click)="onCancel(file)"></button>
      </div>
    </form>
  </p-dialog>
  <div class="ui-g-12 main">
    <router-outlet></router-outlet>
  </div>
</div>