<div class="ui-g-12">
  <div class="ui-g-12 ui-lg-6 ">
    <label for="" style="width:100px;display:inline-block">充装工姓名</label>
    <input type="text" [(ngModel)]="inflator" pInputText placeholder="充装工姓名" style="width:180px">
  </div>

  <div class="ui-g-12 ui-lg-6 ">
      <label style="width:100px;display:inline-block">气瓶条码</label>
    <input type="text" [(ngModel)]="cylinderNumber" pInputText placeholder="气瓶条码" style="width:180px">
  </div>

  <div class="ui-g-12 ui-lg-6 ">
      <label style="width:100px;display:inline-block">气站名称</label>
    <input type="text" [(ngModel)]="stationName" pInputText placeholder="气站名称" style="width:180px">
  </div>

  <div class="ui-g-12 ui-lg-6 ">
      <label style="width:100px;display:inline-block">开始时间</label>
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="beginTime"
      [showButtonBar]="true" dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [maxDate]="endTime" readonlyInput="true"
      [style]="{'width':'180px'}"></p-calendar>
  </div>

  <div class="ui-g-12 ui-lg-6 ">
      <label style="width:100px;display:inline-block">结束时间</label>
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" [(ngModel)]="endTime"
      [showButtonBar]="true" dateFormat="yy-mm-dd" [locale]="zh" [showIcon]="false" [minDate]="beginTime" [maxDate]="today" readonlyInput="true"
      [style]="{'width':'180px'}"></p-calendar>
  </div>

  <div class="ui-g-12 ui-lg-6 ">
    <button pButton type="button" label="查询" class="searchBtn" (click)="search()"></button>
  </div>
  </div>



<div class="ui-g-12">
  <p-dataTable [value]="cylinderFillingHistoryList" emptyMessage="未查询到数据" [paginator]="true" [rows]="pageSize" [scrollable]="false"
    [lazy]="true" [(first)]="pageFirst" (onLazyLoad)="onFillingHistoryPageChange($event)" [totalRecords]="total" [rowsPerPageOptions]="[10,20,40,80]">
    <!-- <p-column header="序号" [style]="{'width':'50px'}">
      <ng-template pTemplate="body" let-index="rowIndex">
        {{index + 1}}
      </ng-template>
    </p-column> -->
    <p-column header="气瓶条码" [style]="{'width':'150px'}">
      <ng-template let-rowData="rowData" pTemplate="body">
        <a href="javascript:void(0);" [routerLink]="['../cylinder-history']"
        [queryParams]="{cylinderNumber:rowData.gasLabelNumber,
          beginTime:beginTime.getTime(),
          endTime:endTime.getTime()
        }" title="点击查询此条码的流转记录">{{rowData.gasLabelNumber}}</a>
      </ng-template>
    </p-column>
    <p-column field="inflatableStationName" header="充装站名称" [style]="{'width':'150px'}">
      <ng-template let-rowData="rowData" pTemplate="body">
        <a href="javascript:void(0);" [routerLink]="['../cylinder-record/1']"
        [queryParams]="{
          liabilityNumber:rowData.inflatableStationNumber,
          beginTime:beginTime.getTime(),
          endTime:endTime.getTime(),
          liabilitySubjectType:1
        }"
        title="点击查询流转记录">{{rowData.inflatableStationName}}</a>
      </ng-template>
    </p-column>
    <p-column field="fillingStart" header="充装开始时间" [style]="{'width':'150px'}">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.fillingStart | DateFormat}}
      </ng-template>
    </p-column>
    <p-column field="fillingEnd" header="充装结束时间" [style]="{'width':'150px'}">
      <ng-template let-record="rowData" pTemplate="body">
        {{ record.fillingEnd | DateFormat}}
      </ng-template>
    </p-column>
    <p-column field="fillingStaff" header="充装人员" [style]="{'width':'150px'}"></p-column>
    <ng-template pTemplate="paginatorRight">
        共 {{ total || 0 }} 条记录
    </ng-template>
  </p-dataTable>
</div>
