.main {
    left: 120px;
}

.gasHolder {
    a {
        color: #3399ff;
    }
    .textInput {
        width: 280px;
    }
    // .searchBtn {
    //     border-radius: 4px;
    //     font-size: 16px;
    //     height: 36px;
    //     width: 80px;
    //     background: #3186dc;
    // }
    .search-label {
        width: 110px;
        display: inline-block;
        color: #666666;
    }
}