<!-- <div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <button pButton type="button" label="综合查询"></button>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="综合查询" ></button>
      </div>
  </div>

</div> -->

<div #bigScreen class="bigScreen" style="overflow:hidden">
  <div class="screen" #screen>
    <!-- <div [@flyIn]>
          <p style="height: 40px; line-height: 40px; background: pink;">
            动画
          </p>
        </div> -->
    <!-- <div class="btn-container" >

      <button pButton type="button" label="全屏" (click)="clickBtn()" class="btn"></button>
    </div> -->

    <div class="posi bigScreen-left">
      <!-- <div class="leftImg-container">
          <div class="leftImg"></div>
        </div> -->
      <div class="screen-left">
        <div class="word">气瓶
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <img src="./assets/img/bigScreen/标题标签.png">
      </div>
      <div class="water">
        <div class="water-title">
          本月新增
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <div class="title-content">
          {{ dataList.partOfGc.gcCountAddedCurrentMouth | number }}
          <span>瓶</span>
        </div>
        <div class="title-1">
          本月待检
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <div class="title-2">
          本月待报废
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <div class="title-1-content">
          {{ dataList.partOfGc.gcCountNeedInspectCurrentMonth | number }}
          <span>瓶</span>
        </div>
        <div class="title-2-content">
          {{ dataList.partOfGc.gcCountNeedScrapCurrentMonth | number }}
          <span>瓶</span>
        </div>
        <div class="water-chart  LiquidFill-left" #needInspectRateLiquidFill>
          <span class="LiquidFill">{{ dataList.partOfGc.completionRateGcNeedInspectCurrentMonth || 0}}%</span>
        </div>
        <div class="title-chart">
          完成率
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <div class="water-chart-1 LiquidFill-right" #needScrapRateLiquidFill>
          <span>{{ dataList.partOfGc.completionRateGcNeedScrapCurrentMonth || 0}}%</span>
        </div>
        <div class="title-chart-1">
          完成率
          <!-- <span class="testData">(测试)</span> -->
        </div>
      </div>
      <div class="screen-left2">
        <div class="word">送气工</div>
        <img src="./assets/img/bigScreen/标题标签.png">
      </div>
      <div class="water2">
        <div class="title2-1">
          当天重瓶配重数
        </div>
        <div class="title2-1-content">
          {{ dataList.partOfDispatch.gcDispatchCountFullCurrentDay | number }}
          <span>瓶</span>
        </div>
        <div class="title2-2">
          当月重瓶配重数
        </div>
        <div class="title2-2-content">
          {{ dataList.partOfDispatch.gcDispatchCountFullCurrentMonth | number }}
          <span>瓶</span>
        </div>
        <div class="water2-chart LiquidFill-left" #yearOnYearLiquidFill>
          <span>
            {{dataList.partOfDispatch.growthGcDispatchCountYearOnYear || 0}}%
          </span>
        </div>
        <div class="title2-chart">
          本月同比
        </div>
        <div class="water2-chart-1 LiquidFill-right" #monthOnMonthLiquidFill>
          <span>
            {{dataList.partOfDispatch.growthGcDispatchCountMonthOnMonth || 0}}%
          </span>
        </div>
        <div class="title2-chart-1">
          本月环比
        </div>
      </div>
      <!-- <div class="big-screen" style="width:50%; height:40%" #chart> </div> -->
    </div>
    <div class="bigScreen-center">
      <div class="header-imgl">
        <!-- <img src="./assets/img/bigScreen/标题左侧.png"> -->
      </div>
      <div class="header-word">
        温州市瓶装燃气信息化监管平台
      </div>
      <div class="header-imgr">
        <!-- <img src="./assets/img/bigScreen/标题左侧.png"> -->
      </div>
      <div class="header-imgc">
        <div class="gif">

        </div>
      </div>
      <div class="map" id="main" #map>

      </div>
      <div class="cylinder">
        <div class="cylinder-left">
          <div class="word-pos">企业拥有气瓶数量</div>
          <img src="./assets/img/bigScreen/标题标签.png">
        </div>
        <div class="cylinder-font">
          {{ dataList.partOfBasicInfo.gcCount | number}}
          <span>个</span>
        </div>
      </div>
      <div class="gas-station">
        <div class="cylinder-left">
          <div class="word-pos">供应站持有气瓶数量</div>
          <img src="./assets/img/bigScreen/标题标签.png">
        </div>
        <div class="cylinder-font">
          {{ dataList.partOfBasicInfo.gcCountTakeBySupplyStation | number }}
          <span>个</span>
        </div>
      </div>
      <div class="gas">
        <div class="cylinder-left">
          <div class="word-pos">正常气瓶</div>
          <img src="./assets/img/bigScreen/标题标签.png">
        </div>
        <div class="cylinder-font">
          {{ dataList.partOfBasicInfo.gcCountNormal | number}}
          <span>瓶</span>
        </div>
      </div>
      <div class="gas-down">
        <div class="cylinder-left">
          <div class="word-pos">送气工</div>
          <img src="./assets/img/bigScreen/标题标签.png">
        </div>
        <div class="cylinder-font">
          {{ dataList.partOfBasicInfo.corpDispatcherCount | number}}
          <span>人</span>
        </div>
      </div>
      <div class="car">
        <div class="cylinder-left">
          <div class="word-pos">运输车</div>
          <img src="./assets/img/bigScreen/标题标签.png">
        </div>
        <div class="cylinder-font" style="color:#fbf320">
          {{ dataList.partOfBasicInfo.carCount | number}}
          <span>辆</span>
        </div>
      </div>
      <div class="car-down">
        <div class="cylinder-left">
          <div class="word-pos">实名用户</div>
          <img src="./assets/img/bigScreen/标题标签.png">
        </div>
        <div class="cylinder-font" style="color:#fbf320">
          {{ dataList.partOfBasicInfo.gcUserCount | number}}
          <span>人</span>
        </div>
      </div>
    </div>
    <div class="bigScreen-right">
      <div class="time">
        {{ currentTime }}
      </div>
      <div class="right-title">
        <div class="title-word">执 法
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <img src="./assets/img/bigScreen/标题标签.png">
      </div>
      <div class="month">
        本月
      </div>
      <div class="pie" id="main3" #pie>
        <!-- 饼图 -->
      </div>
      <div class="danger">
        <div class="title-word">预 警
          <!-- <span class="testData">(测试)</span> -->
        </div>
        <img src="./assets/img/bigScreen/标题标签.png">
      </div>
      <div class="carousel">
        <div style="height:40px;">
        </div>
        <div class="ul-container">
          <ul>
            <li *ngFor="let item of titleList;let index=index">
              <div class="content" title="{{item.regionName}}{{item.typeName}}为{{item.caseCount}}个">
                <div class="radius">
                  {{index+1}}
                </div>
                {{item.regionName}}{{item.typeName}}为{{item.caseCount}}个
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
