<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <h3>主体类型选择</h3>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="储配站" [routerLink]="['../1']" routerLinkActive="link-active"></button>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="直销车" [routerLink]="['../5']" routerLinkActive="link-active"></button>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="供应站" [routerLink]="['../2']" routerLinkActive="link-active"></button>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="送气工" [routerLink]="['../3']" routerLinkActive="link-active"></button>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="燃气用户" [routerLink]="['../4']" routerLinkActive="link-active"></button>
    </div>

  </div>
</div>
<div class="main">
  <div class="ui-g-12 card">
    <form class="ui-g-12" (submit)="onSubmit()">

      <div class="ui-g-12 ui-lg-4">
        <span class="search-label">区域选择：</span>
        <p-dropdown [options]="dropdown.region" [(ngModel)]="formModel.region" name="type" [style]="{'width':'180px'}"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-lg-4">
        <label class="search-label">开始时间：</label>
        <p-calendar #startTime [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" dateFormat="yy-mm-dd"
          [locale]="zh" [showIcon]="false" [(ngModel)]="formModel.startTime" [maxDate]="endTime.value" readonlyInput="true" [style]="{'width':'180px','height':'35px'}"
          name="startTime">
        </p-calendar>
      </div>

      <div class="ui-g-12 ui-lg-4">
        <label class="search-label">结束时间：</label>
        <p-calendar #endTime [monthNavigator]="true" [yearNavigator]="true" yearRange="1970:2050" [selectOtherMonths]="true" dateFormat="yy-mm-dd"
          [locale]="zh" [showIcon]="false" [(ngModel)]="formModel.endTime" [minDate]="startTime.value" readonlyInput="true" [style]="{'width':'180px','height':'35px'}"
          name="endTime">
        </p-calendar>
      </div>

      <div class="ui-g-12 ui-lg-4">
        <label class="search-label">状&#12288;&#12288;态：</label>
        <p-dropdown [options]="dropdown.state" [(ngModel)]="formModel.state" name="region" [style]="{'width':'180px'}"></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button class="searchBtn" pButton type="submit" label="查询"></button>
      </div>

    </form>
    <div class="ui-g-12 dataTable">
      <!-- 储配站 -->
      <p-dataTable *ngIf="type===1"[value]="dataTableOverview.list" [loading]="loading" [paginator]="true" [rows]="dataTableOverview.option[2]" [scrollable]="false"
        [lazy]="true" [rowsPerPageOptions]="dataTableOverview.option" [totalRecords]="dataTableOverview.total" (onLazyLoad)="onPageChangeOverview($event)"
        [(first)]="dataTableOverview.first">
        <p-column [style]="{'width':'80px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>

        <p-column [style]="{'width':'30%'}" field="liabilityName" header="站点名称"></p-column>
        <p-column header="预警类型">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{rowData.boolIsFull?'重瓶预警':'空瓶预警'}}</span>
          </ng-template>
        </p-column>
        <p-column field="gcThreshold" header="气瓶阈值"></p-column>
        <p-column field="countOverTime" header="超限次数"></p-column>
        <p-column field="overTime" header="累计时长/分"></p-column>
        <p-column field="liabilityPeople" header="负责人"></p-column>
        <p-column field="liabilityContact" header="联系方式"></p-column>
        <p-column [style]="{'width':'100px'}" header="操作">
          <ng-template let-rowData="rowData" pTemplate="body">
            <button pButton type="button" (click)="onOpenDialogDetail(rowData)" label="详情"></button>
          </ng-template>
        </p-column>
        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTableOverview.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
      <!-- 供应站 -->
      <p-dataTable *ngIf="type===2" [value]="dataTableOverview.list" [loading]="loading" [paginator]="true" [rows]="dataTableOverview.option[2]"
        [scrollable]="false" [lazy]="true" [rowsPerPageOptions]="dataTableOverview.option" [totalRecords]="dataTableOverview.total" (onLazyLoad)="onPageChangeOverview($event)"
        [(first)]="dataTableOverview.first">
        <p-column [style]="{'width':'80px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>

        <p-column [style]="{'width':'30%'}" field="liabilityName" header="站点名称"></p-column>
        <p-column header="预警类型">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{rowData.boolIsFull?'重瓶预警':'空瓶预警'}}</span>
          </ng-template>
        </p-column>
        <p-column field="gcThreshold" header="气瓶阈值"></p-column>
        <p-column field="countOverTime" header="超限次数"></p-column>
        <p-column field="overTime" header="累计时长/分"></p-column>
        <p-column field="liabilityPeople" header="负责人"></p-column>
        <p-column field="liabilityContact" header="联系方式"></p-column>
        <p-column [style]="{'width':'100px'}" header="操作">
          <ng-template let-rowData="rowData" pTemplate="body">
            <button pButton type="button" (click)="onOpenDialogDetail(rowData)" label="详情"></button>
          </ng-template>
        </p-column>

        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTableOverview.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
      <!-- 送气工 -->
      <p-dataTable *ngIf="type===3" [value]="dataTableOverview.list" [loading]="loading" [paginator]="true" [rows]="dataTableOverview.option[2]"
        [scrollable]="false" [lazy]="true" [rowsPerPageOptions]="dataTableOverview.option" [totalRecords]="dataTableOverview.total" (onLazyLoad)="onPageChangeOverview($event)"
        [(first)]="dataTableOverview.first">
        <p-column [style]="{'width':'80px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>

        <p-column field="liabilityName" header="姓名"></p-column>
        <p-column field="regionName" header="区域"></p-column>
        <p-column header="预警类型">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{rowData.boolIsFull?'重瓶预警':'空瓶预警'}}</span>
          </ng-template>
        </p-column>
        <p-column field="gcThreshold" header="气瓶阈值"></p-column>
        <p-column field="countOverTime" header="超限次数"></p-column>
        <p-column field="overTime" header="累计时长/分"></p-column>
        <p-column [style]="{'width':'30%'}" field="liabilityPeople" header="所属公司"></p-column>
        <p-column field="liabilityContact" header="联系方式"></p-column>
        <p-column [style]="{'width':'100px'}" header="操作">
          <ng-template let-rowData="rowData" pTemplate="body">
            <button pButton type="button" (click)="onOpenDialogDetail(rowData)" label="详情"></button>
          </ng-template>
        </p-column>

        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTableOverview.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
      <!-- 燃气用户 -->
      <p-dataTable *ngIf="type===4" [value]="dataTableOverview.list" [loading]="loading" [paginator]="true" [rows]="dataTableOverview.option[2]"
        [scrollable]="false" [lazy]="true" [rowsPerPageOptions]="dataTableOverview.option" [totalRecords]="dataTableOverview.total"
        (onLazyLoad)="onPageChangeOverview($event)" [(first)]="dataTableOverview.first">
        <p-column [style]="{'width':'80px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>
      
        <p-column field="liabilityName" header="姓名"></p-column>
        <p-column field="regionName" header="区域"></p-column>
        <p-column header="预警类型">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{rowData.boolIsFull?'重瓶预警':'空瓶预警'}}</span>
          </ng-template>
        </p-column>
        <p-column field="gcThreshold" header="气瓶阈值"></p-column>
        <p-column field="countOverTime" header="超限次数"></p-column>
        <p-column field="overTime" header="累计时长/分"></p-column>
        <p-column [style]="{'width':'30%'}" field="liabilityPeople" header="所属公司"></p-column>
        <p-column field="liabilityContact" header="联系方式"></p-column>
        <p-column [style]="{'width':'100px'}" header="操作">
          <ng-template let-rowData="rowData" pTemplate="body">
            <button pButton type="button" (click)="onOpenDialogDetail(rowData)" label="详情"></button>
          </ng-template>
        </p-column>
      
        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTableOverview.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
      <!-- 运输车 -->
      <p-dataTable *ngIf="type===5" [value]="dataTableOverview.list" [loading]="loading" [paginator]="true" [rows]="dataTableOverview.option[2]"
        [scrollable]="false" [lazy]="true" [rowsPerPageOptions]="dataTableOverview.option" [totalRecords]="dataTableOverview.total" (onLazyLoad)="onPageChangeOverview($event)"
        [(first)]="dataTableOverview.first">
        <p-column [style]="{'width':'80px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>

        <p-column [style]="{'width':'110px'}" field="carNumber" header="车牌号"></p-column>
        <p-column [style]="{'width':'30%'}" field="liabilityName" header="所属企业"></p-column>
        <p-column header="预警类型">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{rowData.boolIsFull?'重瓶预警':'空瓶预警'}}</span>
          </ng-template>
        </p-column>
        <p-column field="gcThreshold" header="气瓶阈值"></p-column>
        <p-column field="countOverTime" header="超限次数"></p-column>
        <p-column field="overTime" header="累计时长/分"></p-column>
        <p-column field="liabilityPeople" header="负责人"></p-column>
        <p-column field="liabilityContact" header="联系方式"></p-column>
        <p-column [style]="{'width':'100px'}" header="操作">
          <ng-template let-rowData="rowData" pTemplate="body">
            <button pButton type="button" (click)="onOpenDialogDetail(rowData)" label="详情"></button>
          </ng-template>
        </p-column>

        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTableOverview.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
    </div>
  </div>
  <div class="ui-g-12 dialog">
    <p-dialog [visible]="visible" [showHeader]="false" [closeOnEscape]="false" [width]="800" [contentStyle]="{'padding':'10px','overflow':'auto','margin-bottom':'-40px'}"
      [minWidth]="800" [modal]="true" [style]="{'border':'none','background':'#f2f2f2'}">
      <p-dataTable [value]="dataTableDetail.list" [paginator]="true" [rows]="dataTableDetail.option[0]" [scrollable]="false"
        [lazy]="true" [rowsPerPageOptions]="dataTableDetail.option" [totalRecords]="dataTableDetail.total" (onLazyLoad)="onPageChangeDetail($event)"
        [(first)]="dataTableDetail.first">
        <p-column [style]="{'width':'80px'}" header="序号">
          <ng-template let-rowData="rowData" let-index="rowIndex" pTemplate="body">
            <span>{{index+1}}</span>
          </ng-template>
        </p-column>

        <p-column [style]="{'width':'30%'}" field="liabilityName" header="对象名称"></p-column>
        <p-column header="开始时间">
          <ng-template pTemplate="body" let-rowData="rowData">
            {{rowData.startTime | date:"yyyy-MM-dd HH:mm:ss"}}
          </ng-template>
        </p-column>
        <p-column header="结束时间">
          <ng-template pTemplate="body" let-rowData="rowData">
            {{rowData.endTime | date:"yyyy-MM-dd HH:mm:ss"}}
          </ng-template>
        </p-column>
        <p-column field="overTime" header="持续时间/分"></p-column>

        <p-footer>
          <button type="button" label="确定" pButton (click)="visible = false"></button>
        </p-footer>
        <ng-template pTemplate="emptymessage">
          <div class="text-left">
            未查询到数据
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorRight">
          共 {{ dataTableDetail.total || 0 }} 条记录
        </ng-template>
      </p-dataTable>
    </p-dialog>
  </div>
</div>
