// header
$header-height: 70px;
$header-bg-color:#3186Dc;

// Breadcrumb
$breadcrumb-height: 0px;
$breadcrumb-text-color:#337ab7;
$breadcrumb-font-size:18px;

// menu
$menu-width: 70px;
$menu-bg-color:#3d464d;
$menu-active-color:#31383e;
$menu-font-size:14px;

// sidebar
$sidebar-width:280px;

// other
$html-bg-color: #F0F0F0;
$theme-color: #3186DC;
