$header-height: 70px;
$header-left-width: 260px;
$header-left-bg-color: #333333;
$menu-width: 80px;
$logo-width: 60px;
$logo-height: 60px;
$footer-height: 60px;
$html-bg-color: #f5f5f6;
$theme-color: #0097e8;
