.title {
    color: #3186dc;
    text-align: center;
}

.account-detail {
    .inputgroup {
        width: 90px;
        display: inline-block;
        color: rgb(102, 102, 102);
    }
    .textInput {
        width: 180px;
    }
    .ui-g{
        padding-left: 9px;
        .ui-lg-3{
            padding-top: 9px;
        }
    }
    .searchBtn {
        height: 35px;
        padding: 0px;
        width: 96px;
        font-size: 1em;
        // font-weight: bold;
        border: 0px solid #3186dc;
        background: #3186dc;
        border-radius: 4px;
    }
}