<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <button pButton type="button" label="企业账号信息概览" [routerLink]="['./account-detail']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="&#12288;企业创建&#12288;" [routerLink]="['./enterprise-found']" routerLinkActive="link-active"></button>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="企业管理账号开通" [routerLink]="['./account-open']" routerLinkActive="link-active"></button>
    </div>
  </div>

</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
