<div class="home">
  <div class="ui-g-12 ui-g-nopad" style="height: 70px;">
    <div class="ui-g-3  img_container ui-g-nopad">
      <div class="ui-g-nopad header" [routerLink]="['/home']">
        <img src="./assets/img/supervise-logo.png" class="logo" alt="">
        <span class="title-top">温州市瓶装燃气</span>
        <span class="title-bottom">信息化监管平台</span>
      </div>
    </div>
    <div class="ui-g-6 header-middle ">
      <img src="./assets/img/home/visualization-bottom.png" class="bottom_img">
      <span>{{curTime}}</span>
    </div>
    <div class="ui-g-3  header-right " style="height:100%">
      <div class="fixed-right" style="height:100%">
        <div class="left" style="left: 10%;">监管信息 0</div>
        <div class="right" >严重信息 0</div>
      </div>
    </div>
  </div>
  <div class=" ui-g-nopad menu">
    <p-tieredMenu [model]="menus"></p-tieredMenu>
  </div>
  <div class="ui-g-12  padding_midlr middle-content" >
    <div class="ui-g-3   padding-lr" style="height:100%">
      <div class="ui-g-12 padding-lr bg-img" style="height:15%;">
        <p>待办事项</p>
        <span>共<a href="javascript:void(0);" style="color:white;">0</a>件，其中<a href="javascript:void(0);">0</a>件加急事件</span>
      </div>
      <div class="ui-g-12 padding-lr bg-img duban" style="height:30%">
        <p>督察督办</p>

        <img src="./assets/img/home/u151.png" class="img-super">
        <div class="ui-g-8 ui-offset-1">
          <li>①超期
            <span>0</span>
          </li>
          <li>②处理中
            <span>0</span>
          </li>
          <li>③未处理
            <span>0</span>
          </li>
        </div>
        <div></div>
      </div>
      <div class="ui-g-12 padding-lr bg-img gas-bottle" style="height:39%;">
        <p>辖区钢瓶信息</p>
        <div class="ui-g-12 daiban">
          <table cellspacing="0" cellpadding="0" border="1" width="100%">
            <tr>
              <td>正常</td>
              <td>{{ normalCylinder }}</td>
            </tr>
            <tr>
              <td>过期</td>
              <td>{{ expireCylinder }}</td>
            </tr>
            <tr>
              <td>报废</td>
              <td>{{ scrapCylinder }}</td>
            </tr>
            <tr>
              <td>总计</td>
              <td>{{ sumCylinder }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="ui-g-12 padding-lr bg-img" style="height:15%">
        <p>辖区用户信息</p>
        <span style="color:#92D050">合计：{{ sumUser }}</span>
      </div>
    </div>
    <div class="ui-g-6 ui-g-nopad " style="height:100%">
      <div class="ui-g-12 ui-g-nopad" style="height:8%;text-align:center">
        <p style="float:left;font-size:1.3em;">待办事项</p>
        <span style="color:#cccccc;font-size:1.2em;margin-left:-6em">{{DateTime}}</span>
      </div>
      <div class="ui-g-12 bg-img01" style="height:30%;">
        <span>(无)</span>
      </div>
      <div class="ui-g-12 " style="height:10%">
        <p style="float:left;font-size:1.3em;">通知</p>
      </div>
      <div class="ui-g-12  bg-img01" style="height:52%;">
        <span>(无)</span>
      </div>
    </div>
    <div class="ui-g-3 bg-img02 " style="height:100%;width: 22.5%;">
      <p>信息滚动：</p>
      <span>(无)</span>
    </div>
  </div>

  <div class="ui-g-nopad footer">
    <img src="./assets/img/personal-info.png" class="shortcut" alt="">
    <img src="./assets/img/logout.png" class="shortcut" alt="" (click)="logout()">
  </div>
</div>
