.group {
  border: 1px solid;
  border-radius: 10px;
  padding: 4px;
  >span {
    display: block;
    width: 100%;
    color: #868686; // font-weight: bolder;
    line-height: 50px;
    font-size: 16px;
  }
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    line-height: 40px;
    &.active {
      color: #3399ff;
    }
  }
}
.searchBtn {
  margin-top: 10px;
  margin-left: 15px;
  height: 45px;
  width: 96px;
  font-size: 1em;
  border-radius: 4px;
  background: #3186dc;
  border: 1px solid #3186dc;
}
