<div class="sidebar">
  <div class="ui-g ui-g-nopad group">
    <div class="ui-g-12">
      <button pButton type="button" label="执法事务统计" [routerLink]="['../affair']" routerLinkActive="link-active"></button>
    </div>

  </div>
</div>
<div class="main">
  <div class="ui-g-12 content card">
    <h3>协同事务统计</h3>
    <div class="ui-lg-10 ui-xl-8 ui-xl-offset-2 ui-lg-offset-1">
    区域选择：
    <p-dropdown [options]="regionList" [(ngModel)]="selectedRegionId" [style]="{'width':'150px'}"></p-dropdown>
    时间：
    <p-dropdown [options]="deliveryDateRange" [(ngModel)]="selectedDateRange" [style]="{'width':'100px'}"></p-dropdown>

    <button pButton type="button" label="查询" (click)="getAffairStatistic()"></button>

    </div>

    <p-dataTable [value]="affairStatistics" [styleClass]="'ui-lg-10 ui-xl-8 ui-xl-offset-2 ui-lg-offset-1'" [loading]="loading" emptyMessage="未查询到数据">

      <p-column field="name" header="区域" [style]="{'width':'20%'}"></p-column>
      <p-column field="totalCount" header="一级事务">
        <ng-template let-countyCylinder="rowData" pTemplate="body">
          {{ countyCylinder.emergencyDegreeFirst || 0 }}
        </ng-template>
      </p-column>
      <p-column field="totalCount" header="二级事务">
        <ng-template let-countyCylinder="rowData" pTemplate="body">
          {{ countyCylinder.emergencyDegreeSecond || 0 }}
        </ng-template>
      </p-column>
      <p-column field="totalCount" header="三级事务">
        <ng-template let-countyCylinder="rowData" pTemplate="body">
          {{ countyCylinder.emergencyDegreeThird || 0 }}
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

</div>
