<div class="ui-g-12 account-opening">
  <div style="min-width: 450px;">
    <div class="ui-g-8">
      <h2 class="title">
        供应站账号创建
      </h2>
    </div>
    <form (submit)="addEnterpriseUser()" (reset)="reset()">
      <div class="ui-g-8">
          <div class="ui-g-12 ui-g-offset-3">
              <div class="inputgroup">
                <label for="" class="search-label">站点名称
                </label>
                <input type="text" class="textInput" pInputText placeholder="" [(ngModel)]="supplyStationName" name="supplyStationName" disabled>
              </div>
            </div>
        <div class="ui-g-12 ui-g-offset-3">
          <div class="inputgroup">
            <label for="" class="search-label">归属企业
            </label>
            <input type="text" class="textInput" pInputText placeholder="" [(ngModel)]="enterpriseName" name="enterpriseName" disabled>
          </div>
        </div>
        <div class="ui-g-12 ui-g-offset-3">
          <div class="inputgroup">
            <label for="" class="search-label">负责人
            </label>
            <input type="text" class="textInput" pInputText placeholder="" [(ngModel)]="legalRepresentative" name="legalRepresentative"
              disabled>
            <gas-explanation tooltip="负责人姓名" position="bottom"></gas-explanation>
          </div>
        </div>
        <div class="ui-g-12 ui-g-offset-3">
          <div class="inputgroup">
            <label for="" class="search-label">用户名
            </label>
            <input type="text" class="textInput" pInputText placeholder="" [(ngModel)]="userName" name="userName">
            <gas-explanation tooltip="用户名默认站点名称，可修改" position="bottom"></gas-explanation>
          </div>
        </div>
        <div class="ui-g-12 ui-g-offset-3">
          <div class="inputgroup">
            <label for="" class="search-label">联系方式
            </label>
            <input type="text" class="textInput" pInputText placeholder="" [(ngModel)]="phoneNumber" name="phoneNumber" disabled>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-g-offset-3">
            <div class="inputgroup">
              <label for="" class="search-label">登录密码
              </label>
              <input type="password" class="textInput" pInputText placeholder="" [(ngModel)]="password" name="password">
            </div>
          </div>
          <div class="ui-g-12 ui-g-offset-3">
            <div class="inputgroup">
              <label for="" class="search-label">确认密码
              </label>
              <input type="password" class="textInput" pInputText placeholder="" [(ngModel)]="confirmPassword" name="confirmPassword">
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-g ui-g-offset-3">
          <div class="save ui-g-6 ui-lg-6 ui-g-nopad">
            <button pButton style="min-width:110px" class="searchBtn" type="submit" label="确认提交"></button>
            <button pButton type="button" label="重置" (click)="reset()"  class="searchBtn"></button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
