
  .title {
      color: #3186dc;
      text-align: center;
      white-space: nowrap;
  }
  .inputgroup {
      padding: 3px;
      min-width: 90px;
  }
  span {
      color: rgb(102, 102, 102);
  }
  .textInput {
      width: 300px;
  }
  .save {
      display: flex;
      button {
          margin: auto;
      }
  }

