<div class="main">
  <div class="card">
    <h2 class="text-center" *ngIf="!details">
      <span *ngIf="!loading">没有查到数据</span>
      <span *ngIf="loading">正查询中，请稍等。</span>
    </h2>
    <div *ngIf="details" class="gas-holder-station-detail ui-g-12">
      <div class="ui-g-12 group">
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="当前持有重瓶数量">当前持有重瓶数量</span>
          <span class="ui-g-6 content" title="{{details?.haveFullCount}}">{{details?.haveFullCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="接收重瓶数量">接收重瓶数量</span>
          <span class="ui-g-6 content" title="{{details?.fullBottleReceiveCount}}">{{details?.fullBottleReceiveCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="发放重瓶数量">发放重瓶数量</span>
          <span class="ui-g-6 content" title="{{details?.fullBottleSendCount}}">{{details?.fullBottleSendCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="当前持有空瓶数量">当前持有空瓶数量</span>
          <span class="ui-g-6 content" title="{{details?.haveEmptyCount}}">{{details?.haveEmptyCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="空瓶回收数量">空瓶回收数量</span>
          <span class="ui-g-6 content" title="{{details?.emptyBottleReceiveCount}}">{{details?.emptyBottleReceiveCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="发出空瓶数量">发出空瓶数量</span>
          <span class="ui-g-6 content" title="{{details?.emptyBottleSendCount}}">{{details?.emptyBottleSendCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="当月安检记录">当月安检记录</span>
          <span class="ui-g-6 content" title="{{details?.securityCheckCount}}">{{details?.securityCheckCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="新增用户数量">新增用户数量</span>
          <span class="ui-g-6 content" title="{{details?.addUserCount}}">{{details?.addUserCount}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="流转记录">流转记录</span>
          <a href="javascript:void(0);" class="ui-g-6 content" title="查看详情">查看详情</a>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="操作">操作</span>
          <a href="javascript:void(0);" class="ui-g-6 content" title="重置密码" (click)="confirmResetPassword();">重置密码</a>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title=" "> </span>
          <span class="ui-g-6 content" title=" "> </span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title=" "> </span>
          <span class="ui-g-6 content" title=" "> </span>
        </div>

      </div>

      <div class="ui-g-12 group">
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="送气工姓名">送气工姓名</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.name}}">{{details?.dispatcherInfoVO.name}}</span>
        </div>
        <div class="ui-g-4 ">
          <span class="ui-g-6 content title" title="送气工工号">送气工工号</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.dispatcherNumber}}">{{details?.dispatcherInfoVO.dispatcherNumber}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="车牌号">车牌号</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.licensePlateNumber}}">{{details?.dispatcherInfoVO.licensePlateNumber}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="所属企业">所属企业</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.subsidiaryEnterprises}}">{{details?.dispatcherInfoVO.subsidiaryEnterprises}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="所属供应站">所属供应站</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.supplyStation}}">{{details?.dispatcherInfoVO.supplyStation}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="身份证号">身份证号</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.idNumber}}">{{details?.dispatcherInfoVO.idNumber}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="联系电话">联系电话</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.phone}}">{{details?.dispatcherInfoVO.phone}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="头像">头像</span>
          <a href="javascript:void(0);" *ngIf="details?.dispatcherInfoVO.headPortraitUrl" class="ui-g-6 content" title="点击查看图像" 
          (click)="showImg($event,details?.dispatcherInfoVO.headPortraitUrl,imgBox);">点击查看图像</a>
          <span *ngIf="!details?.dispatcherInfoVO.headPortraitUrl" class="ui-g-6 content" title="没有头像">没有头像</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="二维码">二维码</span>
          <a href="javascript:void(0);" *ngIf="details?.dispatcherInfoVO.qrCodeUrl" class="ui-g-6 content" title="点击查看图像" 
          (click)="showImg($event,details?.dispatcherInfoVO.qrCodeUrl,imgBox);">点击查看图像</a>
          <span *ngIf="!details?.dispatcherInfoVO.qrCodeUrl" class="ui-g-6 content" title="没有二维码">没有二维码</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="状态">状态</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.status}}">{{details?.dispatcherInfoVO.status}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title="到期时间">到期时间</span>
          <span class="ui-g-6 content" title="{{details?.dispatcherInfoVO.expirationTime | date:'yyyy-MM-dd'}}">{{details?.dispatcherInfoVO.expirationTime | date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="ui-g-4">
          <span class="ui-g-6 content title" title=" "> </span>
          <span class="ui-g-6 content" title=" "> </span>
        </div>
      </div>

    </div>
  </div>
  <p-confirmDialog header="重置密码" icon="fa fa-question-circle" width="425" acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
  <p-overlayPanel #imgBox>
    <img src="{{currentImgUrl}}" *ngIf="currentImgUrl" style="max-width: 262px" />
  </p-overlayPanel>
</div>